<div class="history-download-pane" style="margin-right: 30px;">
    <% if can_always_download or not (sub.assessment.exam or sub.assessment.course.exam_in_progress) %>
      <a><%= sub.filename %></a>

      <% mime_type = sub.detected_mime_type %>    
          <a href="<%= download_course_assessment_submission_path(@course, @assessment, sub)%> " data-toggle="tooltip" data-placement="top" title="Download as text/plain" ><span class="glyphicon glyphicon-download" aria-hidden="true" style="margin-right:3px;"></span></a>

      <% if mime_type =~ /text\/.*/ then %>
          <a href="<%= download_course_assessment_submission_path(@course, @assessment, sub, :forceMime=>'text/plain') %>" data-toggle="tooltip" data-placement="top" title="Download as text/plain" ><span class="glyphicon glyphicon-download" aria-hidden="true" style="margin-right:3px;"></span></a>
      <% end %>
      
      <%  if link = view_course_assessment_submission_path(@course, @assessment, sub) %>
          <a href="<%= link %>" data-toggle="tooltip" title="View Source" aria-label="Justify" style="margin-right:3px;"><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span></a>

      <% end %>
        <% link = list_archive_files(sub, "View Source"); if link %>
        <li><%= link %></li><% end %>


    <% else %>
    <%= sub.filename %>
    <% end %>
</div>

