<% content_for :javascripts do %>
    <script type="text/javascript">
        const is_positive_grading = <%= @is_positive_grading %>;
        const has_annotations = <%= @has_annotations %>;

        $(document).ready(function() {
            const starToggleIcons = document.querySelectorAll('.star-icon');
            starToggleIcons.forEach(function(icon) {
                icon.addEventListener('click', function() {
                    toggleStar(icon);
                });
            });
        });

        function toggleStar(icon) {
            let starred = icon.getAttribute('data-starred');
            starred = (starred === 'yes') ? 'no' : 'yes';
            icon.innerHTML = (starred === 'yes') ? 'star' : 'star_border';
            icon.setAttribute('data-starred', starred);
            let starred_bool = (starred === 'yes') ? 'true' : 'false';
            // Update the corresponding problem.starred attribute
            const dataUrl = icon.parentNode.parentNode.getAttribute('data-url');
            $.ajax({
                url: dataUrl,
                type: 'PATCH',
                data: {problem: {starred: starred_bool}}
            }).fail(function() {
                alert('Failed to update the starred status. Please try again.');
            });
        }
    </script>
<% end %>

<div class="switch">
  <label>
  <b>Negative Grading</b>
  <%= f.check_box :is_positive_grading, default: true %>
  <span class="lever"></span>
  <b>Positive Grading</b>
  </label>
</div>
<label for="switch">
  Negative Grading is where you grade by deducting from the max score. Positive Grading is where you grade by adding to 0.
</label>
<br>
<label>
  Starred status immediately updated upon toggling.
</label>
<ul class="collection" hidden id="grading-change-warning">
  <li class="collection-item"> You currently have annotations for this assessment.
  If you change the grading type, future score changes made by annotations might become inconsistent.
  Grading type change won't be made until you save.
  </li>
</ul>

<table class="bordered responsive-table">
  <thead>
    <tr>
        <th data-field="problem_name">Problem</th>
        <th data-field="max_score">Max Score</th>
        <th data-field="optional">Optional?</th>
        <th data-field="options">Options</th>
    </tr>
  </thead>
  <tbody>
    <% for problem in @assessment.problems do %>
      <tr>
        <td data-url="<%= course_assessment_problem_path(@course, @assessment, problem, ajax: true) %>">
          <%= link_to "<i class=\"material-icons left star-icon\" data-problem-id=\"#{problem.id}\" data-starred=\"#{problem.starred ? 'yes' : 'no'}\" title=\"Toggle 'starred' status of problem\">#{problem.starred ? 'star' : 'star_border'}</i>".html_safe, "javascript:void(0);", class: "small star-toggle" %>
          <%= problem.name %>
        </td>
        <td><%= problem.max_score %></td>
        <td><%= problem.optional ? "yes" : "no" %></td>
        <td>
          <%= link_to "<i class=\"material-icons left\">mode_edit</i>".html_safe, [:edit, @course, @assessment, problem], { class: "small" } %>
            <%= link_to "<i class=\"material-icons left\">delete</i>".html_safe, [@course, @assessment, problem], method: :delete, class: "small", data: { confirm: "Deleting will delete all associated problem data (such as scores and annotations) and cannot be undone. Are you sure you want to delete this problem?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "Add Problem".html_safe, new_course_assessment_problem_path(@course, @assessment), { class: "btn" } %>

<div class="action_buttons">
  <%= f.submit "Save", name: "problems" %>
</div>
