<br>

<table class="bordered responsive-table">
	<thead>
	  <tr>
	      <th data-field="problem_name">Problem</th>
	      <th data-field="max_score">Max Score</th>
	      <th data-field="optional">Optional?</th>      
	      <th data-field="options">Options</th>
	  </tr>
	</thead>

	<tbody>
		<% for problem in @assessment.problems do %>
			<tr>
				<td><%= problem.name %></td>
				<td><%= problem.max_score %></td>
				<td><%= problem.optional ? "yes" : "no" %></td>
				<td>
					<%= link_to "<i class=\"material-icons left\">mode_edit</i>".html_safe, [:edit, @course, @assessment, problem], { class: "small" } %>
	  				<%= link_to "<i class=\"material-icons left\">delete</i>".html_safe, [@course, @assessment, problem], method: :delete, class: "small", data: { confirm: "Are you sure you want to destroy this problem? It will also destroy all scores associated with this problem!!!" } %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<br>
<%= link_to "Add Problem".html_safe, new_course_assessment_problem_path(@course, @assessment), { :class=> "btn" } %>
