<%= f.text_field :name, disabled: true, class: "",
  help_text: "The unique (for this course) name of the assessment. Must be
  lowercase alphanumeric (no punctuation). E.g.,
  <kbd>malloclab</kbd>".html_safe %>

<%= f.text_field :display_name, placeholder: "Homework0",
  help_text: "Name that will be displayed on the course home page. E.g.,
  'Malloc Lab'" %>

<div class="input-field">
  <%= f.label :category_name, { :class=>"control-label" } %>
  <%= f.collection_select :category_name, @course.assessment_categories, :to_s, :to_s, {selected: @assessment.category_name}, {class: "form-control"} %>
  <p class="">or</p>
  <%= text_field_tag :new_category, nil, placeholder: "New Category" %>
  <p class="help-block">Select an existing category or enter a new category name <i>(you can always change it later)</i></p>
</div>


<h4>Modules Used</h4>
<ul class="collection attachments">
  <li class="collection-item">
    Autograder
    <span class="secondary-content">
      <% if @assessment.has_autograder? %>
        <%= link_to "<i class=\"material-icons left\">mode_edit</i>".html_safe, [:edit, @course, @assessment, :autograder], class: "small" %>
        <%= link_to "<i class=\"material-icons left\">delete</i>".html_safe, [@course, @assessment, :autograder], method: :delete, class: "small",
                data: {confirm: "Are you sure you want to delete the Autograder for this assessment?"} %>
      <% else %>
        <%= link_to "<i class=\"material-icons left\">add</i>".html_safe, [@course, @assessment, :autograder], method: :post, class: "small" %>
      <% end %>
    </span>
  </li>
  <li class="collection-item">
    Scoreboard
    <span class="secondary-content">
      <% if @assessment.has_scoreboard? %>
        <%= link_to "<i class=\"material-icons left\">mode_edit</i>".html_safe, [:edit, @course, @assessment, :scoreboard], class: "small" %>
        <%= link_to "<i class=\"material-icons left\">delete</i>".html_safe, [@course, @assessment, :scoreboard], method: :delete, class: "small", data: {confirm: "Are you sure you want to delete the Scoreboard for this assessment?"} %>
      <% else %>
        <%= link_to "<i class=\"material-icons left\">add</i>".html_safe, [@course, @assessment, :scoreboard], method: :post, class: "small" %>
      <% end %>    
    </span>
  </li>
</ul>

<%= f.check_box :has_svn, display_name: "Use SVN?", help_text: "Whether to use SVN in conjunction with this assignment." %>

<%= f.text_field :group_size,
  display_name: "Group Size",
  help_text: "Set the maximum size of groups for this assessment.  If group size is 1, the assessment is solo.  If the size is decreased, groups that are too large will not be broken up.  If the size is set to 1, groups will be saved, but the assessment will be solo." %>

<%= f.text_area  :description, class: "materialize-textarea", help_text: "", placeholder: "(Optional) Description of assessment" %>

<%= f.text_field :handout, help_text: "File in the assessment directory containing materials that the instructor hands out to students or URL to redirect to. E.g., 'malloclab-handout.tar', 'http://school.edu/class/malloclab.zip'" %>

<%= f.text_field :writeup, help_text: "File in the assessment directory or URL containing instructions to students. E.g., 'writeup/malloclab.pdf', 'http://school.edu/class/writeup.pdf'" %>

<div class="action_buttons">
  <%= f.submit "Save" , {:class=>"btn primary"} %>
  <%= link_to "Delete Assessment", course_assessment_path(@course, @assessment), method: :delete, class: 'btn btn-danger', data: { confirm: " Deleting will delete all associated assessment data and cannot be undone. Are you sure you want to delete this assessment?" } %>
</div>
