<%= f.text_field :name, disabled: true, class: "",
                        help_text: "The unique (for this course) name of the assessment. Must be
  lowercase alphanumeric (no punctuation). E.g.,
  <kbd>malloclab</kbd>".html_safe %>

<%= f.text_field :display_name, placeholder: "Homework0",
                                help_text: "Name that will be displayed on the course home page. E.g.,
  'Malloc Lab'" %>

<div class="input-field">
  <%= f.label :category_name, { class: "control-label" } %>
  <%= f.collection_select :category_name, @course.assessment_categories, :to_s, :to_s,
                          { selected: @assessment.category_name } %>
  or
  <%= text_field_tag :new_category, nil, placeholder: "New Category", autocomplete: "off" %>
  <p class="help-block">Select an existing category or enter a new category name <i>(you can always change it later)</i></p>
</div>

<div class="assessments-label">
  <%= f.text_area :description, class: "materialize-textarea", help_text: "",
                                placeholder: "(Optional) Description of assessment" %>

  <%= f.text_field :handout, help_text: "File path from the assessment directory containing materials that the
  instructor hands out to students, or a URL to redirect to.",
                             placeholder: "E.g.   malloclab.zip   or   http://school.edu/class/malloclab.zip" %>

  <%= f.text_field :writeup, help_text: "File path from the assessment directory containing instructions to students,
  or a URL to redirect to.",
                             placeholder: "E.g.   writeup.pdf   or   http://school.edu/class/writeup.pdf" %>
</div>

<h4>Assessment Config</h4>
<%= f.file_field :config_file, button_text: "Upload #{@assessment.name}.rb",
                               help_text: "Config file will be automatically reloaded after saving. Changes to other settings will be lost if an error is encountered." %>
<b id="config-file-type-incorrect" style="color: red; margin: 0"></b>
<div>
  <%= link_to "Reload Assessment Config", { action: :reload }, { method: :post, class: "btn", title: "Reload the Assessment Config in the case that a config file doesn't exist." } %>
</div>

<h4>Modules Used</h4>
<ul class="collection attachments">
  <li class="collection-item">
    Autograder
    <span class="secondary-content">
      <% if @assessment.has_autograder? %>
        <%= link_to "<i class=\"material-icons left\">mode_edit</i>".html_safe,
                    edit_course_assessment_autograder_path(@course, @assessment), class: "small" %>
        <%= link_to "<i class=\"material-icons left\">delete</i>".html_safe,
                    course_assessment_autograder_path(@course, @assessment),
                    method: :delete, class: "small",
                    data: { confirm: "Are you sure you want to delete the Autograder for this assessment?" } %>
      <% else %>
        <%= link_to "<i class=\"material-icons left\">add</i>".html_safe,
                    course_assessment_autograder_path(@course, @assessment), method: :post, class: "small" %>
      <% end %>
    </span>
  </li>
  <li class="collection-item">
    Scoreboard
    <span class="secondary-content">
      <% if @assessment.has_scoreboard? %>
        <%= link_to "<i class=\"material-icons left\">mode_edit</i>".html_safe,
                    edit_course_assessment_scoreboard_path(@course, @assessment), class: "small" %>
        <%= link_to "<i class=\"material-icons left\">delete</i>".html_safe,
                    course_assessment_scoreboard_path(@course, @assessment),
                    method: :delete, class: "small",
                    data: { confirm: "Are you sure you want to delete the Scoreboard for this assessment?" } %>
      <% else %>
        <%= link_to "<i class=\"material-icons left\">add</i>".html_safe,
                    course_assessment_scoreboard_path(@course, @assessment), method: :post, class: "small" %>
      <% end %>
    </span>
  </li>
</ul>

<div class="action_buttons">
  <%= f.submit "Save" %>
  <button class="delete_btn">
    <%= link_to "Delete Assessment", course_assessment_path(@course, @assessment),
                method: :delete, class: 'btn btn-danger',
                data: { confirm: "Deleting will delete all associated assessment data and cannot be undone. Are you sure you want to delete this assessment?" } %>
  </button>
</div>
