<h2>SVN Settings for <%= link_to @assessment.display_name, [@course, @assessment] %></h2>

<table class=prettyBorder >
  <tr>
    <th>Email</th>
    <th>Repository</th>
  </tr>

  <% for cud in @cuds do %>
    <% repo = @assessment.aud_for(cud).repository %>
    <tr>
      <td><%= cud.email %></td>
      <td>
        <%= form_tag url_for(action: :set_repo, cud_id: cud.id), method: :post do %>
          <%= text_field_tag :repository, repo, size: 80 %>
          <%= submit_tag (if repo then 'Edit' else 'Create' end) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<b>Load repositories from previous assignment: </b>

<%= form_tag url_for(action: :import_svn), method: :post do %>
  <%= select_tag :importfrom, options_from_collection_for_select(@assessments, :id, :name) %>
  <%= submit_tag 'Go!' %>
<% end %>
