<div id="<%= id %>" data-cansubmit="<%= @can_submit %> " class="card-action">
  <% if @can_submit %> 

    <% if @aud.past_due_at? %>
      <p><b>Warning:</b> Submitting late may result in the usage of a grace day or a grade penalty!</p>
    <% end %>
    <div class="row">
      <div class="col offset-s5 offset-m8 s7 m4">
        <% if @assessment.has_svn then %>
          <%= form_for @submission, url: {action: :handin}, method: :post do |f| %>
            <% if @aud.past_due_at? then %>
              <p><%= f.submit("Checkout Repository", class: "btn primary", data: { confirm: "Are you sure you want to submit late?" }) %></p>
            <% else %>
              <p><%= f.submit("Checkout Repository", class: "btn primary") %></p>
            <% end %>
          <% end %>
        <% elsif ! @assessment.disable_handins? then %>
          <%= form_for @submission, url: {action: :handin}, multipart: true do |f| %>
            <%= f.file_field :file %>
            <% if @aud.past_due_at? then %>
              <p><%= f.submit("Submit Late", id:"fake-submit",  class: "btn handin-btn-small div-center") %></p>
            <% else %>
              <p><%= f.submit("Submit ", id:"fake-submit", class: "btn handin-btn div-center") %></p>
            <% end %>
            <% if @assessment.max_submissions != -1 then %>
              <% numSubmissions = @submissions.size %>
              <% if numSubmissions > @assessment.max_submissions then %>
                <% numSubmissions = 0 %>
              <% else %>
                <% numSubmissions = @assessment.max_submissions - numSubmissions %>
              <% end %>
              <span class="center-align smallText">(<%= numSubmissions %> submissions left)</span> 
            <% else %>
              <span class="center-align smallText">(&nbsp;&#x221e;&nbsp;&nbsp;submissions left)</span> 
            <% end %>

          <% end %>
        <% end %>
      </div>
    </div>
	  
  <% else %>
    <% case @why_not
       when :user_dropped %>
      <h3>You cannot submit because you have dropped the course.</h3>

    <% when :before_start_at %>
      <h3>We are not yet accepting submissions for this assessment.</h3>

    <% when :past_end_at %>
      <h3>We are no longer accepting submissions for this assessment.</h3>

    <% when :at_submission_limit %>
      <h3>You have reached the maximum number of submissions allowed for this assessment.</h3>

    <% else %>
      <h3>You are not allowed to submit this assessment.</h3>

    <% end %>
  <% end %>
</div>
