<div id="<%= id %>" data-cansubmit="<%= @can_submit %> " class="card-action">
  <% if @can_submit %>

    <% if @aud.past_due_at? %>
      <p><b>Warning:</b> Submitting late may result in the usage of a grace day or a grade penalty!</p>
    <% end %>

    <div class="row">
      <div class="col">
        <% if @assessment.has_svn then %>
          <%= form_for @submission, url: {action: :handin}, :html => {:name => "submissionForm", :onclick => "return validateIntegrity();"}, method: :post do |f| %>

            <!-- Academic integrity checkbox -->
            <%= check_box_tag(:integrity_checkbox) %>
            <%= label_tag(:integrity_checkbox, "I affirm that I have complied with this course's academic integrity policy as defined in the syllabus.") %>

            <% if @aud.past_due_at? then %>
              <table style = "width:100%">
                <td><%= f.submit("Checkout Repository", class: "btn primary handin-btn", data: { confirm: "Are you sure you want to submit late?" }, onclick: "setSubmitClicked()") %></td>
                <td id = "submission_error" style = "color:red"></td>
              </table>
            <% else %>
              <table style = "width:100%">
                <td><%= f.submit("Checkout Repository", class: "btn primary handin-btn", onclick: "setSubmitClicked()") %></td>
                <td id = "submission_error" style = "color:red"></td>
              </table>
            <% end %>
          <% end %>
        <% elsif ! @assessment.disable_handins? and !@assessment.embedded_quiz then %>
          <%= form_for @submission, url: {action: :handin}, :html => {:name => "submissionForm", :onclick => "return validateIntegrity();"}, multipart: true do |f| %>
            <% if @assessment.has_custom_form then %>
              <% if @assessment.getLanguages.size > 0 %>
                  <p><%= f.label :lang, 'Language *:' %>
                  <%= f.select :lang, @assessment.getLanguages %></p>
              <% end %>
              <% if @assessment.getTextfields.size > 3 then %>
                  <% for i in 1..3 do %>
                      <p><%= f.label ("formfield" + i.to_s).to_sym, @assessment.getTextfields[i-1] + " *:" %></p>
                      <p><%= f.text_field ("formfield" + i.to_s).to_sym %></p>
                  <% end %>
                  <p class="help-block">* denotes required fields. The submission cannot be completed without filling out the required fields.</p>
              <% else %>
                  <% for i in 1..@assessment.getTextfields.size do %>
                      <p><%= f.label ("formfield" + i.to_s).to_sym, @assessment.getTextfields[i-1] + " *:"%></p>
                      <p><%= f.text_field ("formfield" + i.to_s).to_sym %></p>
                  <% end %>
                  <p>* denotes required fields. The submission cannot be completed without filling out the required fields.</p>
              <% end %>
            <% end %>
            <!-- Academic integrity checkbox -->
            <%= check_box_tag(:integrity_checkbox) %>
            <%= label_tag(:integrity_checkbox, "I affirm that I have complied with this course's academic integrity policy as defined in the syllabus.") %>

            <%= f.file_field :file %>
            <% if @aud.past_due_at? then %>
						  <table style = "width:100%">
                <td><%= f.submit("Submit Late", id:"fake-submit",  class: "btn primary handin-btn", onclick: "setSubmitClicked()") %></td>
                <td id = "submission_error" style = "color:red"></td>
              </table>
            <% else %>
              <table style = "width:100%">
                <td><%= f.submit("Submit", id:"fake-submit", class: "btn primary handin-btn", onclick: "setSubmitClicked()") %></td>
                <td id = "submission_error" style = "color:red"></td>
              </table>
            <% end %>
            <% if @assessment.max_submissions != -1 then %>
              <% numSubmissions = @submissions.size %>
              <% if numSubmissions > @assessment.max_submissions then %>
                <% numSubmissions = 0 %>
              <% else %>
                <% numSubmissions = @assessment.max_submissions - numSubmissions %>
              <% end %>
              <span class="center-align smallText">(<%= numSubmissions %> submissions left)</span>
            <% else %>
              <span class="center-align smallText">(&nbsp;&#x221e;&nbsp;&nbsp;submissions left)</span>
            <% end %>

          <% end %>
        <% end %>
      </div>
    </div>

  <% else %>
    <% case @why_not
       when :user_dropped %>
      <h3>You cannot submit because you have dropped the course.</h3>

    <% when :before_start_at %>
      <h3>We are not yet accepting submissions for this assessment.</h3>

    <% when :past_end_at %>
      <h3>We are no longer accepting submissions for this assessment.</h3>

    <% when :at_submission_limit %>
      <h3>You have reached the maximum number of submissions allowed for this assessment.</h3>

    <% else %>
      <h3>You are not allowed to submit this assessment.</h3>

    <% end %>
  <% end %>
</div>
