<%= external_javascript_include_tag "lodash" %>
<script>
  const sessionKeyJson = {
    submission: <%= @submission_id %>,
    job: <%= @job_id %>,
    user: <%= @cud&.user_id %>,
  }
  const sessionKey = JSON.stringify(sessionKeyJson);

  function loadPartialFeedback(partialFeedback) {
    $('#partial-feedback').html(`
      <pre>${partialFeedback}</pre>
      <div class="autograding-in-progress">
        <i class="refresh-feedback small material-icons" onclick="rotateIcon(); onClickRefresh()">refresh</i>
        <pre>Autograding in progress</pre>
      </div>`);
    $('.feedback-status').html("In-Progress");
    $('.feedback-status').removeClass("feedback-status__queued");
    $('.feedback-status').addClass("feedback-status__inprogress");
    $( "#result-body" ).load(window.location.href + " #result-body" );
  }
  function refreshPartial(clicked) {
    const lastPartialFeedback = sessionStorage.getItem(sessionKey);
    $.ajax({
        url: `getPartialFeedback?job_id=${<%= @job_id %>}`,
        success: (res) => {
          if (!res) return;
          if (res.partial_feedback) {
            sessionStorage.setItem(sessionKey, res.partial_feedback);
            loadPartialFeedback(res.partial_feedback);
          } else if (res.queue_position != null) {
            $('#partial-feedback').html(`
              <div class="autograding-in-progress">
                <pre>You are at position ${(res.queue_position) + 1} / ${(res.queue_length)} in the autograding queue.</pre>
              </div>`);
              $('#status-badge').html("Queued");
              $('#status-badge').removeClass("feedback-status__inprogress");
              $('#status-badge').addClass("feedback-status__queued");
              $('#result-body').html(`
              <h4>Submission queued...</h4>
              <p>
                Your submission is currently in the autograding queue, waiting to be graded.
              </p>
              <p>
                Press the refresh button to get updates.
              </p>`);
          } else if (!res.is_assigned && clicked) {
            /* if there's no partial feedback and no queue position,
                refresh the page to see if full feedback is available */
            location.reload();
          } else {
            if (lastPartialFeedback && lastPartialFeedback != "") {
              loadPartialFeedback(lastPartialFeedback);
            } else {
              $('#partial-feedback').html(`Your feedback is still loading. Click the refresh icon for updates.`);
            }
          }
        },
        error: (err) => {
          if (lastPartialFeedback && lastPartialFeedback != "") {
            loadPartialFeedback(lastPartialFeedback);
          } else {
            $('#partial-feedback').html(`There was an error loading your feedback while autograding. Check back once autograding is complete.`);
          }
        }
    });
  }

  refreshPartial(false);

  const onClickRefresh = _.throttle(() => {
    refreshPartial(true)}
  , 5000);

  const rotateIcon = () => {
    const icon = $('.refresh-feedback');
    if(!icon.hasClass("loading")) {
      icon.addClass('loading');
      setTimeout(() => icon.removeClass('loading'), 1000);
    }
  }

  $('.refresh-feedback')[0].addEventListener("click", onClickRefresh);
  $('.refresh-feedback')[0].addEventListener("click", rotateIcon);
</script>
