<div class="arrow"></div>
<% if s.filename %>
<span class="filename">
    <%= view_file(s, s.filename, s.filename, s.filename) %>
    <br>
    <span class="links">
        <% link = view_file(s, "View Archive", "View/Annotate Source"); if link %><%= link %> &middot;<% end %>
        <%= download_file(s, "Download") %>
    </span>
</span>
<% end %>
<table class="sub_info" style="width:100%">
<% if s.filename %>
    <tr><th>Type</th><td><%= s.mime_type %></td></tr>
<% end %>
    <tr><th>Version</th><td class="version">
        <% version = s.version == 0 ? "Unofficial" : s.version %>
        <%= version %>
        <% if @cud.instructor? %>
            (<%= link_to "Submission History", { action: "history", cud_id: s.course_user_datum_id } %>)
        <% end %>
    </td></tr>
    <% if @cud.instructor? && @assessment.version_penalty? %>
      <tr><th>Version Over Threshold By</th><td><%= s.version_over_threshold_by %></tr>
    <% end %>
    <tr><th>Submitted on</th><td><%= s.created_at %></td></tr>
    <% if @cud.instructor? %>
        <tr><th>Used grace days</th><td><%= s.grace_days_used %></tr>
        <tr><th>+ Penalty late days</th><td><%= s.penalty_late_days %></td></tr>
        <tr><th>= Days late</th><td><%= s.days_late %></td></tr>
        <tr><th>Grade Type</th><td>
            <%= link_to grade_type_to_s(s.aud.grade_type),
                        edit_course_assessment_assessment_user_datum_path(@course, @assessment, s.aud) %>
        </td></tr>
    <% end %>
</table>
