<div class="row">
  <div class="col s12 m9 l10">
    <% content_for :stylesheets do %>
      <style type="text/css">
        h4.statSectionTitle {
          display:inline;
        }
      </style>
    <% end %>

    <div id='allGradesDiv' class="section scrollspy" >
      <h4>All Grades</h4>
      <%= raw stats_table(@statistics[:all]) %>
    </div>

    <div id='lectureDiv'  class="section scrollspy" >
      <h4> Statistics by Lecture </h4>
    <% @statistics[:lecture].each do |(lecture, group_stats)| %>
      <h4 class="statSectionTitle"><%= lecture %> [<%= group_stats[:total_students]%> Students]</h4>
      <%= raw stats_table(group_stats[:data])%>
    <% end %>
    </div>

    <div id='sectionDiv' class="section scrollspy" >
      <h4> Statistics by Section </h4>
    <% @statistics[:section].each do |(section, group_stats)| %>
      <h4 class="statSectionTitle"><%= section %>[<%= group_stats[:total_students]%> Students]</h4>
      <%= raw stats_table(group_stats[:data]) %>
    <% end %>
    </div>

    <div id='graderDiv' class="section scrollspy" >
      <h4> Statistics by Grader </h4>
    <% @statistics[:grader].each do |(grader, group_stats)| %>
      <h4 class="statSectionTitle"><%= grader %></h4>
      <%= raw stats_table(group_stats) %>
    <% end %>
    </div>

    <div id='schoolDiv' class="section scrollspy" >
      <h4> Statistics by School </h4>

    <% @statistics[:school].each do |(school, group_stats)| %>
      <h4 class="statSectionTitle"><%= school %>[<%= group_stats[:total_students]%> Students]</h4>
      <%= raw stats_table(group_stats[:data]) %>
    <% end %>
    </div>

    <div id='majorDiv' class="section scrollspy" >
      <h4> Statistics by Major </h4>

    <% @statistics[:major].each do |(major, group_stats)| %>
      <h4 class="statSectionTitle"><%= major %>[<%= group_stats[:total_students]%> Students]</h4>
      <%= raw stats_table(group_stats[:data]) %>
    <% end %>
    </div>

    <div id='yearDiv' class="section scrollspy" >
      <h4> Statistics by Year </h4>

    <% @statistics[:year].each do |(year, group_stats)| %>
      <h4 class="statSectionTitle"><%= year %>[<%= group_stats[:total_students]%> Students]</h4>
      <%= raw stats_table(group_stats[:data]) %>
    <% end %>
    </div>
  </div>
  <div class="col hide-on-small-only m3 l2">
    <ul class="section table-of-contents statsGroups">
      <li><a href="#allGradesDiv">All Grades</a></li>
      <li><a href="#lectureDiv">By Lecture</a></li>
      <li><a href="#sectionDiv">By Section</a></li>
      <li><a href="#graderDiv">By Grader</a></li>
      <li><a href="#schoolDiv">By School</a></li>
      <li><a href="#majorDiv">By Major </a></li>
      <li><a href="#yearDiv">By Year</a></li>
    </ul>
  </div>

  <script type="text/javascript">
       

    $(document).ready(function() {
       
      $('.scrollspy').scrollSpy();
      $('.statsGroups').pushpin({
        top: 100,
        offset: 0
      });
      
    });

  </script>
</div>
