<script type="text/javascript">
  function flip(section) { 
    var div = document.getElementById(section);
    var arrowDown = document.getElementById(section +"Arrow");
    var arrowRight = document.getElementById(section +"ArrowRight");
    if (div.style.display == "none") {
      div.style.display = "block";
      arrowDown.style.display = "inline";
      arrowRight.style.display = "none";
    } else { 
      div.style.display = "none";
      arrowDown.style.display = "none";
      arrowRight.style.display = "inline";
    }
  }
</script>
<style>
  h3.statSectionTitle { 
    display:inline;
  }
  font.statsPopulationSize {
    font-size:10px;
    font-style:italic;
  }
</style>

<h3 style="display:inline" onclick="flip('allGradesDiv')">
  <%= image_tag 'arrowDown.png', :id=>'allGradesDivArrow' %>
  <%= image_tag 'arrowRight.png', :id=>'allGradesDivArrowRight', { :style=>"display:none;"} %>

  All Grades
</h3>

<div id='allGradesDiv' >
  <%=raw stats_table(@statistics[:all]) %>
</div>

<h3 onclick="flip('lectureDiv')">
  <%= image_tag 'arrowDown.png', :id=>'lectureDivArrow', { :style=>"display:none;"} %>
  <%= image_tag 'arrowRight.png', :id=>'lectureDivArrowRight' %>
  Statistics by Lecture
</h3>

<div id='lectureDiv' style="display:none" >
<% @statistics[:lecture].each do |(lecture, group_stats)| %>
  <h3 class="statSectionTitle"><%= lecture %></h3>
  <%=raw stats_table(group_stats)%>
<% end %>
</div>

<h3 onclick="flip('sectionDiv')">
  <%= image_tag 'arrowDown.png', :id=>'sectionDivArrow', { :style=>"display:none;"} %>
  <%= image_tag 'arrowRight.png', :id=>'sectionDivArrowRight' %>
  Statistics by Section
</h3>

<div id='sectionDiv' style="display:none" >
<% @statistics[:section].each do |(section, group_stats)| %>
  <h3 class="statSectionTitle"><%= section %></h3>
  <%=raw stats_table(group_stats) %>
<% end %>
</div>

<h3 onclick="flip('graderDiv')">
  <%= image_tag 'arrowDown.png', :id=>'graderDivArrow', { :style=>"display:none;"} %>
  <%= image_tag 'arrowRight.png', :id=>'graderDivArrowRight' %>
  Statistics by Grader
</h3>

<div id='graderDiv' style="display:none" >
<% @statistics[:grader].each do |(grader, group_stats)| %>
  <h3 class="statSectionTitle"><%= grader %></h3>
  <%=raw stats_table(group_stats) %>
<% end %>
</div>

<h3 onclick="flip('schoolDiv')">
  <%= image_tag 'arrowDown.png', :id=>'schoolDivArrow', { :style=>"display:none;"} %>
  <%= image_tag 'arrowRight.png', :id=>'schoolDivArrowRight' %>
  Statistics by School
</h3>

<div id='schoolDiv' style="display:none" >
<% @statistics[:school].each do |(school, group_stats)| %>
  <h3 class="statSectionTitle"><%= school %></h3>
  <%=raw stats_table(group_stats) %>
<% end %>
</div>

<h3 onclick="flip('majorDiv')">
  <%= image_tag 'arrowDown.png', :id=>'majorDivArrow', { :style=>"display:none;"} %>
  <%= image_tag 'arrowRight.png', :id=>'majorDivArrowRight' %>
  Statistics by Major
</h3>

<div id='majorDiv' style="display:none" >
<% @statistics[:major].each do |(major, group_stats)| %>
  <h3 class="statSectionTitle"><%= major %></h3>
  <%=raw stats_table(group_stats) %>
<% end %>
</div>

<h3 onclick="flip('yearDiv')">
  <%= image_tag 'arrowDown.png', :id=>'yearDivArrow', { :style=>"display:none;"} %>
  <%= image_tag 'arrowRight.png', :id=>'yearDivArrowRight' %>
  Statistics by Year
</h3>

<div id='yearDiv' style="display:none" >
<% @statistics[:year].each do |(year, group_stats)| %>
  <h3 class="statSectionTitle"><%= year %></h3>
  <%=raw stats_table(group_stats) %>
<% end %>
</div>
