<% dontTotal = false %>
<tr style='<%= ignored_submission_style submission %>'>

  <td>
    <% if submission.version == 0 then %>
      <font size=-2>Unofficial</font>
    <% else %>
      <%= submission.version %>
    <% end %>
  </td>

  <td>
    <% if submission.filename then %>
      <%= render partial: "downloadSubmission", locals: { sub: submission, can_always_download: download_access } %>
    <% else %>
      None
    <% end %>
  </td>

  <td class=smallText><span class="moment-date-time"><%= submission.created_at.in_time_zone.to_s %></span></td>

  <% for problem in @problems do %>
    <td class="prettyBorder">
      <% if @scores[submission.id] and @scores[submission.id][problem.id] %>
        <% score = @scores[submission.id][problem.id]
          if score[:released] == 1 then
            if score[:feedback] %>
              <%= link_to score[:score].to_f.round(1).to_s, { action: :viewFeedback,
                                                              submission_id: submission.id,
                                                              feedback: problem.id } %>
            <% else %>
              <%= score[:score].to_f.round(1).to_s %>
            <% end %>
          <% else %>
            <% unless problem.optional
                 dontTotal = true
               end %>
            --
          <% end %>
      <% elsif submission.jobid.nil? || !submission.scores.where.not(feedback: nil).where(grader_id: 0).empty? %>
        <% unless problem.optional
             dontTotal = true
           end %>
        --
      <% else %>
        <% unless problem.optional
             dontTotal = true
           end %>
        <%= link_to '<i class="tiny material-icons">access_time</i>'.html_safe, { action: :viewFeedback,
                                                                                  submission_id: submission.id,
                                                                                  feedback: problem.id } %>
      <% end %>
    </td>
  <% end %>

  <% if @course.grace_days >= 0 then %>
    <td>
      <span class="nobr" title="Submitted <%= submission.days_late %> day(s) late">
        <%= submission.days_late.to_s + " day".pluralize(submission.days_late) %>
      </span>
      <span class="nobr" title="Used <%= submission.grace_days_used %> grace day(s)">
        (<%= submission.grace_days_used.to_s + " day".pluralize(submission.grace_days_used) %>)
      </span>
    </td>
  <% end %>

  <% if @assessment.version_penalty? %>
    <td><%== submission.version_penalty(@effectiveCud) %> <i>(<%= submission.version_over_threshold_by %>)</i></td>
  <% end %>

  <td>
    <% if (submission.special_type == Submission::NG) then %>
      NG
    <% elsif (submission.special_type == Submission::EXC) then %>
      EXC
    <% elsif dontTotal then %>
      --
    <% else %>
      <%= computed_score { submission.final_score(@effectiveCud) } %>
    <% end %>
  </td>

  <% if @cud.instructor? then %>
    <td><%== tweak(submission.tweak) %></td>

    <td class="smallText">
      <% if @assessment.has_autograder? and submission.version > 0 then %>
        <%= link_to '(Regrade)', [:regrade, @course, @assessment, { submission_id: submission.id }], method: :post %>
      <% end %>
      <%= link_to '(Destroy)', [:destroyConfirm, @course, @assessment, submission] %>
      <%= link_to '(Edit)', [:edit, @course, @assessment, submission] %>
    </td>
  <% end %>
</tr>
