<h2>Manage Attachments for <%= link_to @assessment.display_name, current_assessment_path %> </h2>

<p>
<%= link_to 'Add Attachment', {:controller=>"attachments",:action=>"create",:type=>"AssessmentAttachment",:fk=>@assessment.id} %>
</p>  

<table class="prettyBorder" >
<tr>
  <th>Name</th>
  <th>Filename</th>
  <th>Mime type</th>
  <th>Released?</th>
  <th>Options</th>
</tr>
<% for a in @attachments do %>
  <tr>
    <td><%= link_to a.name, {:controller=>"attachments",:action=>"view",:id=>a.id} %></td>
    <td><%=h a.filename %></td>
    <td><%=h a.mime_type %></td>
    <td><%=h a.released? %></td>
    <td>(<%= link_to 'Edit',
      {:controller=>"attachments",:action=>"edit",:id=>a.id} %>)
      (<%= link_to 'Delete',
      {:controller=>"attachments",:action=>"destroy",:id=>a.id} %>)
    </td>
  </tr>
<% end %>
</table>
