<% @title = "Bulk Upload Grades" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "bulkGrade" %>
<% end %>

<div id="container">
<% if defined? @valid_entries %>
  <% if @valid_entries %>
    Would you like to go ahead with the following values? (<span class="glyphicon glyphicon-pushpin"></span> represents that the existing value will remain unchanged.)
  <% else %>
    There were <span class="error">errors</span> in the uploaded data:
  <% end %>
<% end %>

  <%= render "bulkGrade_entries", :entries => @entries, :problems => @assessment.problems if @entries %>

  <% if @valid_entries %>
    <%= form_for :confirm, :url => "bulkGrade_complete", :html => { :class => "confirm" } do |f| %>
      <%= f.hidden_field :bulkGrade_csv, :value => @csv %>
      <%= f.hidden_field :bulkGrade_data_type, :value => @data_type %>

      <%= f.submit 'Yes' , {:class=>"btn submit"} %><%= link_to "No", { :action => :bulkGrade }, :class => "no" %>
    <% end %>
  <% else %>
    <%= render 'bulkGrade_initial' %>
  <% end %>
</div>
