<% content_for :javascripts do %>
  <script type='text/javascript'>
    function newCat() {
      catName = document.getElementById("assessment_category_id")
      text_field = document.getElementById("new_category")
      if (catName.options[catName.selectedIndex].value =="-1"){
        text_field.style.visibility="visible"
      }else {
        text_field.style.visibility="hidden"
      }
    }
    // this will be loaded at the end of the body, so this function should be runnable
    newCat();
  </script>
<% end %>

<% if @errors then %>
  You have syntax errors in your lab configuration file, please contact
  an autolab administrator for assistance.
<% else %>
  <b><%= params[:confirm].camelize %></b> successfully loaded! Please fill in the
  following information.
  <%= form_for @assessment , :url=>{:action=>"doInstall"} do |f| %>
  <table>
    <tr><td><b>Lab name:</b></td>
    <td><%= f.text_field :name,{:readonly=>"readonly"} %></td></tr>
    <tr><td><b>Display name:</b></td>
      <td><%= f.text_field :display_name %></td></tr>
    <tr><td><b>Category:</b></td><td><%=f.select(:category_name,@categories,{},{:onchange=>'newCat()'}) %>
    <br><%= text_field_tag "new_category" %>

    </td></tr>
    <tr><td><b>Handin directory:</b></td>
      <td><%= f.text_field :handin_directory %></td></tr>
    <tr><td><b>Handin filename:</b></td>
      <td><%= f.text_field :handin_filename %></td></tr>

    <tr><td><b>Visible on date:</b></td><td><%= f.datetime_select :visible_at, step: 1 %></td></tr>
    <tr><td><b>Start at:</b></td><td><%= f.datetime_select :start_at, step: 1 %></td></tr>
    <tr><td><b>Due at:</b></td><td><%= f.datetime_select :due_at, step: 1 %></td></tr>
    <tr><td><b>End at:</b></td><td><%= f.datetime_select :end_at, step: 1 %></td></tr>


    <tr><td><b>Description:</b></td>
    <td><%= f.text_area :description,:cols=>60,:rows=>8%></td></tr>
  </table>
  <%= f.submit "Create" , {:class=>"waves-effect waves-light btn primary"} %>
  <% end %>
<% end %>
