<%# For navigation breadcrumbs %>
<% @title = "Set credentials" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "assessments/create_edit" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "confirm_discard_changes" %>
<% end %>

<div class="row">
  <div class="col-md-6">
    <%= form_for [ @course, @assessment, @cud], url: credentials_course_assessment_path(@course, @assessment) + "/", builder: FormBuilderWithDateTimeInput do |f| %>
      <% if @course.errors.any? %>
          <ul>
            <% @course.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
      <% end %>

      <% if @assessment.errors.any? %>
          <ul>
            <% @assessment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
      <% end %>

      <%= f.text_field :access_key_id, :placeholder => "AKIAII7NQSHQXVDNDMQQ",
                       :display_name => "Access key id",
                       help_text: "Please fill in aws_access_key_id" %>
      <%= f.text_field :access_key, :placeholder => "hBVOKQ98rGCYXg9TvzO9Rr4+r4f+g7Z8KhqmBOXc",
                       help_text: "Please fill in aws_secret_access_key." %>
      <div class="action_buttons">
        <%= f.submit "Save" , {:class=>"btn primary"} %>
      </div>

  <% end %>
  </div>
</div>

