<h2>Destroy <%= @assessment.display_name %></h2>

<h3>Warning: Deleting an assessment will remove ALL data associated with it,
including <b>submission</b> records, <b>scores</b>, <b>problems</b>, <b>extensions</b>, and <b>attachments</b></h3>
<p>
<i>Note: Handin files stored inside your AFS course directory will not be
deleted</i>
<p>

<p>Are you sure that you want to do this?</p>
<%= form_tag url_for(:action=>"destroy",:id=>@assessment.id) do %>
<%= check_box_tag "yes1" %> I am sure I want to delete this assessment.<br>
<%= check_box_tag "yes2" %> I am okay deleting all associated assessment data<br>
<%= check_box_tag "yes3" %> I understand that I cannot recover this data after
deleting it<br>
<p><%= submit_tag("Delete") %></p>
<% end %>
