<%# For navigation breadcrumbs %>
<% @title = "Edit Assessment" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "assessments/create_edit" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "edit_assessment" %>
<% end %>

<div class="row">
  <div class="col s12">
    <ul id="tabs" class="tabs tabs-fixed-width">
    <% ["basic", "handin", "penalties", "problems", "advanced"].each do |tab_name| %>
         <%= if tab_name == params[:active_tab]
               tag.li(link_to(tab_name.titleize, "#tab_#{tab_name}"), class: "active tab")
             else
               tag.li(link_to(tab_name.titleize, "#tab_#{tab_name}"), class: :tab)
             end %>
    <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <%= form_for [@course, @assessment], url: edit_course_assessment_path(@course, @assessment) + "/#{params[:active_tab]}", builder: FormBuilderWithDateTimeInput do |f| %>
      <div id="tab_basic">
        <%= render "edit_basic", f: f %>
      </div>
      <div id="tab_handin">
        <%= render "edit_handin", f: f %>
      </div>
      <div id="tab_penalties">
        <%= render "edit_penalties", f: f %>
      </div>
      <div id="tab_problems">
        <%= render "edit_problems", f: f %>
      </div>
      <div id="tab_advanced">
        <%= render "edit_advanced", f: f %>
      </div>
    <% end %>
  </div>
</div>
