<% content_for :javascripts do %>
  <script type='text/javascript'>
    function newCat() {
      catName = document.getElementById("newAssessment_category_id")
      text_field = document.getElementById("new_category")
      if (catName.options[catName.selectedIndex].value =="-1"){
        text_field.style.visibility="visible"
      }else {
        text_field.style.visibility="hidden"
      }
    }
    newCat();
  </script>
<% end %>

<h2>Install <%= params[:assessment_name] %></h2>
<br>
<% unless @errors.blank? %>
<ul>
<% for error in @errors %>
<li><p><%= h(error) %></p></li>
<% end %>
</ul>
<% end %>

<%= form_tag(:action => :getCategory) %>
<label>Display Name</label>
<%= text_field_tag(:display_name, params[:assessment_name]) %>
<hr>
<label>Category</label>
Select an existing categoryor enter a new category name
<i>(you can always change it later)</i>
<br><%= select_tag(:category_name, options_for_select(@categories), {}) %>
or <%= text_field_tag :new_category, nil, placeholder: "New Category" %>
<hr>
<%= hidden_field_tag :assessment_name, params[:assessment_name] %>
<br>
<p><%= submit_tag("Install", :class => "btn primary") %></p>
</form>
