<% @title = "Handin History" %>
<% if @partial then %>
  <a class="clickable" onclick="hideStudent()">Exit</a>
<% end %>
<% download_access = @cud.instructor? %>

<% if @extension then %>
  <p>
    <% if @extension.infinite then %>
    You have an infinite extension on this assessment
    <% else %>
    You have a <%= pluralize(@extension.days, "day") %> extension on this assessment
    <% end %>
    <small>
    (Due date: <%= due_at_display(@assessment.aud_for(@effectiveCud.id).due_at) %>).
    </small>
  </p>
<% end %>
<% if @assessment.max_submissions != -1 then %>
  <% numSubmissions = [0, @assessment.max_submissions - @submissions.size].max %>
  <p>You have <%= pluralize(numSubmissions, "submission") %> left.</p>
<% end %>

<% if @cud.instructor? then %>
   <p>
   <%= link_to "View Gradesheet", viewGradesheet_course_assessment_path(@course, @assessment) %>
   </p>
<% end %>

<% if @assessment.exam? %>
    <% if download_access %>
        <p>Students will not be able to view previous exam submissions.</p>
    <% else %>
        <p>You cannot view previous exam submissions.</p>
    <% end %>
<% elsif @assessment.course.exam_in_progress? %>
    <% if download_access %>
        <p>Students will not be able to view previous submissions while an exam is in progress.</p>
    <% else %>
        <p>You cannot view previous submissions while an exam is in progress.</p>
    <% end %>
<% end %>

<%= render partial: "submission_history_table", locals: { download_access:, limit: @submissions.size } %>

<% if @partial then %>
  <a class="clickable" onclick="hideStudent()">Exit</a>
<% end %>
<p>
<%= "Page loaded in #{Time.zone.now - @startTime} seconds" %>
