<%= render partial: "announcements/announcements_list", 
           locals: { announcements: @announcements } %>

<% if @is_instructor and @course.exam_in_progress? %>
    <p class="attention">An exam is in progress. Uncheck Admin > Edit Course > Exam In Progress after it's administered.</p>
<% end %>

<% if @is_instructor %>
<div class="section">
  <h3 class="section-title"><span class="white">Instructor Actions</span></h4>
  <%= link_to 'Install Assessment',
                    {:action=>"installAssessment"},
                    {:title=>"Install Assessment", :class => "waves-effect waves-light btn btn-large blue darken-3" } %>

<% end %>

<div class="section">
  <h3 class="section-title"><span class="white">Assignments</span></h3>

  <div class="row">
    <% @course.assessment_categories.each_with_index do |cat, idx| %>
      <% if idx % 3 == 0 %>
        <div class="clearfix hide-on-small-only"></div>
      <% end %>
      <% asmts = @course.assessments_with_category(cat, @cud.student?) %>
      <% if asmts.any? %>
        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-content blue darken-3">
              <span class="card-title white-text"><%= cat %></span>
            </div>

            <div class="collection blue darken-3">
              <% asmts.each do |asmt| %>
                <div class="collection-item">
                  <%= link_to asmt.display_name, course_assessment_url(@course, asmt),
                              {:class => "grey-text text-darken-3"} %>
                  <% if !asmt.released? %>
                    <a href="<%= edit_course_assessment_url(@course, asmt) %>/handin">
                      <span class="new badge blue darken-3" data-badge-caption="unreleased"></span>
                    </a>
                  <% end %>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>

<% if @attachments.any? %>
  <div class="section">
    <h3 class="section-title"><span class="white">Attachments</span></h3>
    <ul class="attachments">
      <%= render @attachments %>
    </ul>
  </div>
<% end %>
