<% @title = if @course.is_disabled?
              "#{@course.full_name} (Course Disabled)"
            else
              @course.full_name
            end %>

<% content_for :javascripts do %>
  <%= external_javascript_include_tag "clipboardjs" %>
  <script>
    /* Calculates where to insert clearfix depending on window size */
    function addClearFix() {
      let num_columns;
      const cards = document.querySelectorAll('.assessments');
      if (window.innerWidth >= 1200) {
        num_columns = 3;
      } else if (window.innerWidth >= 992) {
          num_columns = 2;
      } else {
          num_columns = 1;
      }
      const clearfixDiv = document.createElement('div');
      clearfixDiv.className = 'clearfix hide-on-small-only'

      for (let i = 0; i < cards.length; i++) {
          if (i % num_columns === 0) {
              cards[i].parentNode.insertBefore(clearfixDiv.cloneNode(true), cards[i]);
          }
      }
    }

    addClearFix();

    jQuery(function() {
      /* a way to mimic nested anchor tags */
      $('a.collection-item span.new.badge').each(function(idx, obj) {
        $(obj).on("click", function() {
          if (obj.dataset.url)
            window.location = obj.dataset.url;
          return false;  // prevent click propagation
        });
      });
      <% if (@cud.instructor? || @cud.course_assistant? && @course.watchlist_allow_ca) %>
      $.getJSON('metrics/get_num_pending_instances',function(data, status){
        if (status === 'success' && data['num_pending'] !== 0){
          // when there is a non-zero number of pending instances
          const pending_instances_str =
            `<div class='col s1 metrics'>
        <i class='material-icons left metrics'>assessment</i>
      </div>
      <div class='col s4 metrics'>
        <span class='new badge metrics-badge' data-badge-caption='${data["num_pending"]}'></span>
      </div>
      <h7 class='metrics'>
        Student Metrics
      </h7>`;
          $('.row.metrics').empty().append(pending_instances_str);
        }
      });
      <% end %>
      new ClipboardJS('#copy-access-code')
      .on('success', function() {
        M.toast({html: 'Access code copied to clipboard', displayLength: 1000});
      });
      new ClipboardJS('#copy-join-link')
      .on('success', function() {
        M.toast({html: 'Direct join link copied to clipboard', displayLength: 1000});
      });
    });
  </script>
<% end %>

<% content_for :stylesheets do %>
  <style>
    .collection-item {
      overflow: auto;
    }
  </style>
  <%= stylesheet_link_tag "assessments" %>
  <%= stylesheet_link_tag "assessment_date" %>
<% end %>

<%= render partial: "announcements/announcements_list",
           locals: { announcements: @announcements } %>

<% if @is_instructor and @course.exam_in_progress? %>
  <p class="attention">An exam is in progress. Uncheck Admin > Edit Course > Exam In Progress after it's administered.</p>
<% end %>

<!-- General course information including COURSE NAME, (COURSE WEB),
     SECTION NAME, GRACE DAY INFO -->

<div class="row" style="margin-bottom: 0; padding-top: 20px">
  <div class="col s12 m12" style="margin-bottom: 0">
    <div class="card" style="margin-bottom: 0">
      <div class="card-content white">
        <span class="card-title black-text" style="font-size: 40px"><b><%= "#{@course.display_name} #{@course.semester? ? "(#{@course.semester})" : ''} " %></b></span>
        <h3 style="border-bottom: 4px solid #dddddd"></h3>
        <% if @cud.instructor? %>
          <% if @course.access_code.present? %>
            <p style="font-size: 18px">
              Access Code: <b><%= @course.access_code %></b>
              <a id="copy-access-code" class="btn btn-floating" data-clipboard-text="<%= @course.access_code %>" title="Copy access code">
                <i class="material-icons left">content_copy</i>
              </a>
              <a id="copy-join-link" class="btn btn-floating btn-copy"
                 data-clipboard-text="<%= join_course_courses_url(access_code: @course.access_code) %>" title="Copy direct join link">
                <i class="material-icons left">link</i>
              </a>
            </p>
          <% else %>
            <p style="font-size: 18px">Access Code: <b>(self-enrollment disabled)</b></p>
          <% end %>
        <% end %>
        <p style="font-size: 18px">Section: <b><%= @cud.section.to_s %></b></p>
        <p style="font-size: 18px">Number of grace days remaining: <b><%= @cud.global_grace_days_left.to_s %></b></p><br>

        <% if @course.website.nil? || @course.website.eql?("") %>
          <span class="btn btn-large disabled"><%= "<i class='material-icons left'>web</i> Course Website".html_safe %></span>
        <% else %>
          <%= link_to "<i class='material-icons left'>web</i> Course Website".html_safe, @course.website, target: "_blank", title: "Go to course website", class: "btn btn-large red darken-3", rel: "noopener" %>
        <% end %>

        <% if !(!@cud.instructor? && @cud.course_assistant? && @cud.section.blank?) %>
          <%= link_to "<i class='material-icons left'>grading</i> Gradebook".html_safe, [@course, @cud, :gradebook], title: "View your gradebook", class: "btn btn-large red darken-3" %>
        <% end %>

        <% if (@cud.instructor? || @cud.course_assistant? && @course.watchlist_allow_ca) %>
          <%= link_to "<div class='row metrics'><i class='material-icons left'>assessment</i> Student Metrics</div>".html_safe, course_metrics_path, title: "Metrics for Identifying Students in Need", class: "btn btn-large red darken-3" %>
        <% end %>

        <% if @is_instructor %>
          <%= link_to "<i class='material-icons left'>assignment</i> Install Assessment".html_safe, { action: "install_assessment" }, { title: "Install Assessment", class: "btn btn-large red darken-3" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @course.assessments.exists? %>
  <div class="section">
    <h3 class="section-title"><span class="white">Assessments</span></h3>

    <div class="row">
      <% @course.assessment_categories.each do |cat| %>
        <% asmts = @course.assessments_with_category(cat, @cud.student?) %>
        <% if asmts.any? %>
          <div class="col s12 l6 xl4 assessments">
            <div class="card hoverable date">
              <div class="card-content red darken-3">
                <span class="card-title white-text"><%= cat %></span>
              </div>

              <div class="collection red darken-4 date">
                <% asmts.each do |asmt| %>
                  <% hoverable = @cud.user.hover_assessment_date ? 'hover' : '' %>
                  <% asmt_class = "collection-item grey-text text-darken-4 date #{hoverable}" %>
                  <%= link_to course_assessment_path(@course, asmt),
                              class: asmt_class do %>
                    <%= asmt.display_name %>
                    <% if !asmt.released? %>
                      <% if @cud.instructor? %>
                        <span class="new badge blue darken-4" data-badge-caption="unreleased" data-url="<%= edit_course_assessment_path(@course, asmt) %>/handin"></span>
                      <% else %>
                        <%# CAs can see unreleased assessments, but can't edit them. %>
                        <span class="new badge blue darken-4" data-badge-caption="unreleased"></span>
                      <% end %>
                    <% end %>
                    <% if asmt.has_writeup? %>
                      <span class="new badge orange darken-4" data-badge-caption="writeup" data-url="<%= writeup_course_assessment_path(@course, asmt) %>"></span>
                    <% end %>
                    <% hoverable = @cud.user.hover_assessment_date ? 'hover' : '' %>
                    <%= render partial: 'assessment_date', locals: { assessment: asmt, hover: hoverable } %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @course_attachments.any? or @cud.instructor? %>
  <div class="section">
    <h3 class="section-title"><span class="white">Attachments</span></h3>
    <% if @cud.instructor? %>
      <ul class="collection with-header attachments">
        <li class="collection-item add">
          <p>
            <%= link_to new_course_attachment_path(@course) do %>
              <i class="material-icons left">note_add</i>Add Attachment
            <% end %>
          </p>
        </li>
      </ul>
    <% end %>
    <div class="row">
      <% attachment_categories = @course_attachments.distinct.pluck(:category_name).sort %>
      <% attachment_categories.each_with_index do |cat| %>
        <% attachments = @course_attachments.from_category(cat) %>
        <% if attachments.any? %>
          <div class="col s12 m4 attachments">
            <div class="card hoverable">
              <div class="card-content red darken-3">
                <span class="card-title white-text"><%= cat %></span>
              </div>
              <% if @cud.instructor? %>
              <ul class="collection red darken-4">
                <%= render partial: "attachments/course_attachment", collection: attachments, as: :attachment %>
              </ul>
              <% else %>
              <div class="collection red darken-4">
                <% attachments.each do |attach| %>
                  <%= link_to course_attachment_path(@course, attach),
                              class: "collection-item grey-text text-darken-4" do %>
                    <span class="valign-wrapper">
                      <i class="material-icons left">file_download</i>
                      <%= attach.name %>
                    </span>
                  <% end %>
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
