<% @title = "Install Assessment" %>

<% content_for :javascripts do %>
  <script>
    $(function() {
      $("#importAll").click(function(e) {
        const msg = "Are you sure you want to import all assessments?";
        if (!window.confirm(msg))
          return false;

        const $btn = $(e.target);
        $btn.text("Importing...");
        $btn.addClass("disabled");

        Promise.all(
            $(".import").map((i, e) => $.post(e.href))
          )
          .then(() => {
            alert("Finished import of all assessments.\nIf any assessments remain, errors occurred while importing them.");
            location.reload();
          });
      });
    });
  </script>
<% end %>

Choose one of the following methods to install an assessment
<div class="section">
  <h4>1. Create from scratch</h4>
  <p>
    Create a new assessment from scratch using our Assessment Builder.
  </p>
  <div>
    <%= link_to "Create New Assessment", new_course_assessment_path, class: "btn" %>
  </div>
</div>

<div class="section">
  <h4>2. Import from file system</h4>
  <p>
    Import an existing Autolab assessment from a previous course iteration.
  </p>
  <ul>
    <li>
        <strong>Step 1</strong>: Copy the assessment from the previous course directory to the current course directory
        (<%= @course.directory_path %>).
    </li>
    <li>
      <strong>Step 2</strong>: Refresh this page to cause your new assessment to appear in the list below.
    </li>
    <li>
      <strong>Step 3</strong>: Click the link on the uninstalled assessment you want to import.
    </li>
    <% if @unused_config_files.empty? %>
      <li>
        <em>
          There are no uninstalled assessments available for importing.
        </em>
      </li>
    <% else %>
      <div class="collection">
        <% @unused_config_files.each do |ass_file| %>
          <%= link_to ass_file, { action: :importAssessment, assessment_name: ass_file }, method: :post, class: "collection-item import" %>
        <% end %>
      </div>
      <a id="importAll" class="btn">Import all</a>
    <% end %>
  </ul>
</div>

<div class="section">
  <h4>3. Import from tarball</h4>
  <%= form_with url: { action: :importAsmtFromTar }, builder: FormBuilderWithDateTimeInput do |f| %>
    <%= f.file_field :tarFile, name: "tarFile", button_text: "Choose Tarball" %>
    <%= f.submit "Import Tarball" %>
  <% end %>
</div>
