<% @title = "Install Assessment" %>

<% content_for :javascripts do %>
  <script type="application/javascript">
    jQuery(function() {
      $importTarballForm = $('#import-tarball-form');
      $tarballFilenameInput = $('#tarFile-name');

      /* two-way-bind newDayField with daysField */
      $tarballFilenameInput.on('change', function() {
        $importTarballForm.submit();
      });
    });
  </script>
<% end %>

Choose one of the following methods to install an assessment

<div class="section">
  <h4><li>Create from scratch</h4>
  <h5>You can create a new assessment from scratch using our 
  	<%= link_to "Assessment Builder", new_course_assessment_path %>. </h5>
</div>


<div class="section">
  <h4><li>Import from file system</h4>
  <h5>You can import an existing assessment from file system.</h5>

  <% if @unused_config_files.empty? then %>
    <i>There are no uninstalled assessments available for importing.</i>
  <% else %>
    <p>If you have an existing Autolab assessment from a previous course offering,
    then you can import it into your current course:</p>

    <ul>
      <li> Step 1: Copy the assessment from the previous course directory to the current course directory (<%= File.join(Rails.root, "courses", @course.name) %>).

      <li>Step 2: Refresh this page to cause your new assessment to appear 
      in the list below. 

      <li>Step 3: Click the link on the uninstalled assessment you want to import:
      <ul>

      <% @unused_config_files.each do |ass_file| %>
        <li><%= link_to ass_file, {action: :importAssessment, assessment_name: ass_file}, method: :post %></li>
      <% end %>         

      </ul>
    </ul>
  <% end %>
</div>

<!-- This selction is blocked off because it breaks things  -->
<div class="section">
  <h4><li>Import from tarball</h4>
  <h5>You can import a tarball with the assessment directory.</h5>
  <%= form_tag({action: :importAsmtFromTar}, multipart: true, id: "import-tarball-form") do %>
    <div class="file-field input-field" style="margin: 1.5rem 0 !important">
      <div class="btn">
        <span>Browse</span>
        <%= file_field_tag "tarFile" %>
      </div>
      <div class="file-path-wrapper">
        <%= text_field_tag "tarFile-name", "Upload Assessment Tarball", class: "file-path validate" %>
      </div>
    </div>
	<% end %>
</div>
