<% @title = "Create new assessment" %>

<h4>Create new assessment</h4>
<%= form_for @assessment, url: course_assessments_path, builder: FormBuilderWithDateTimeInput do |f| %>
  <% if @assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment.errors.count, "error") %>
        prohibited this assessment from being saved:</h2>
      <ul>
        <% @assessment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col l6">
    <%= f.text_field :display_name,
                     help_text: "Name that will be displayed on the course home page.", placeholder: "Malloc Lab" %>
    <div class="input-field">
      <%= f.label :category_name, { class: "control-label" } %>
      <%= f.collection_select :category_name, @course.assessment_categories, :to_s, :to_s,
                              { selected: @assessment.category_name } %>
      <p>or</p>
      <%= text_field_tag :new_category, nil, placeholder: "New Category", autocomplete: "off" %>
      <p class="help-block">Select an existing category or enter a new category name <i>(you can always change it later)</i></p>
    </div>
    <%= f.text_field :group_size,
                     display_name: "Group Size",
                     help_text: "Set the maximum size of groups for this assessment. If group size is 1, the
  assessment is solo. If the size is decreased, groups that are too large will not be broken up. If the size is set to
  1, groups will be saved, but the assessment will be solo." %>
    <%= f.check_box :allow_student_assign_group,
                    display_name: "Allow student to self assign groups",
                    help_text: "Allow students to self assign and create their own groups. Uncheck if you don't want
  students to create/edit their own groups." %>
    <% if GithubIntegration.connected %>
      <%= f.check_box :github_submission_enabled,
                      display_name: "Allow Github submissions",
                      help_text: "Check to enable submissions through Github.
        View the <a href='https://docs.autolabproject.com/features/git-submission/'>Autolab docs</a> for more information
        on how to use this feature.".html_safe %>
    <% else %>
      <%= f.check_box :github_submission_enabled,
                      disabled: "disabled",
                      display_name: "Allow Github submissions (Disabled)",
                      help_text: "Autolab has not been configured to use Github integration. Please contact your
        Autolab admin to perform the necessary setup and configuration based on the instructions on our docs." %>
    <% end %>
    <br>
    <%= f.submit "Create assessment", class: "btn primary" %>
  </div>
<% end %>
