


<h2>Create new assessment</h2>

<%= form_for @assessment, url: course_assessments_path, builder: FormBuilderWithDateTimeInput do |f| %>
  <% if @assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment.errors.count, "error") %>
      prohibited this assessment from being saved:</h2>

      <ul>
      <% @assessment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6">
    <%= f.text_field :display_name,
      help_text: "Name that will be displayed on the course home page. E.g.,
      'Malloc Lab'" %>


    <div class="form-group">
      <%= f.label :category_name, { :class=>"control-label" } %>
      <%= f.collection_select :category_name, @course.assessment_categories, :to_s, :to_s, {selected: @assessment.category_name}  %>
      <p>or</p>
      <%= text_field_tag :new_category, nil, placeholder: "New Category" %>
      <p class="help-block">Select an existing category or enter a new category name <i>(you can always change it later)</i></p>
    </div>

    <div class="embedded-form" style="margin-top: 2rem;">
      <%= f.check_box :embedded_quiz, display_name: "Embedded Form", style: "margin-top: 0.8rem;", onclick: "boxClicked();" %>

       <div class="row">
         <label class="custom-file-upload">
          <span class = "btn primary" id="upload_button">
            Embedded Form
            <%= f.file_field :embedded_quiz_form, class: "upload_embedded" %>
          </span>
        </label>
         <% if @assessment.embedded_quiz_form_data.nil? %>
             <input type="text" id="file_name" readonly value="Select to Upload a File.">
         <% else %>
             <input type="text" id="file_name" readonly value="Upload will replace existing file." class="red-text">
         <% end %>
        </div>

      <p class="help-block">The inputs will be passed as a JSON object. The key will return the name attribute,
        and the value acting as itself.</p>
    </div>

    <script>
        document.getElementById("assessment_embedded_quiz_form").onchange = function(e) {
            document.getElementById("file_name").value = document.getElementById("assessment_embedded_quiz_form").value.split(/(\\|\/)/g).pop();
        }
    </script>

    <hr>

    <h4>Optional Modules Used</h4>

    <span class="checkbox"><%= f.check_box :has_svn,
      display_name: "Use SVN?",
      help_text: "Whether to use SVN in conjunction with this assignment." %></span>

    <%= f.text_field :group_size,
      display_name: "Group Size",
      help_text: "Set the maximum size of groups for this assessment.  If group size is 1, the assessment is solo.  If the size is decreased, groups that are too large will not be broken up.  If the size is set to 1, groups will be saved, but the assessment will be solo." %>

    <br>
    <%= f.submit "Create assessment", class: "btn primary"  %>
  </div>
<% end %>
