<% @title = "Scoreboard" %>

<%= javascript_include_tag "sorttable" %>

<% if @staticOverride  then %>
  <%= f = File.new(@staticOverride,'r')
      f.read()
  %>
<% else %>
  <%= @header.html_safe %>
  <% for grade in @sortedGrades do %>
    <tr>
      <% if @cud.instructor? then
        title = "#{grade[:fullName]} (#{grade[:andrewID]})"
      end%>
    <td title="<%=title %>"><%= grade[:nickname] %></td>
    <td>
      <%= if grade[:version] == 0 then
            "<font size=-2>Unofficial</font>"
          else
      grade[:version]
      end%></td>
    <td><%= grade[:time] %></td>
      <% if @colspec then %>
        <% @colspec.each_with_index do |c, i| %>
          <% if c["img"] then %>
            <td><img src="data:image/png;base64,<%= grade[:entry][i] %>" /></td>
          <% else %>
            <td><%= grade[:entry][i] %></td>
          <% end %>
        <% end %>
      <% else %>
        <% for column in grade[:entry] do %>
          <td><%= column %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  </table>
<% end %>

<%= form_for @cud, url: course_course_user_datum_path(@course, @cud) do |f| %>
<% if @cud.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@cud.errors.count, "error") %>
      prohibited the data from being saved:</h2>

		<ul>
			<% @cud.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<hr>
  <table width=50% class="verticalTable" >
  <tr><th><h3>Nickname:</h3> </th><td><%= f.text_field :nickname %>  <input id="user_submit" name="commit" type="submit" class="btn" value="Update Nickname" onclick="formvalidation(this.parentNode); return false;"></td></tr>


  </table>
<%end %>
