<% @title = @assessment.display_name %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'validateIntegrity' %>
  <%= javascript_include_tag 'collapsible' %>
<% end %>

<div>
<div class="row">
  <div class="col s12 m12">
    <h2>
      <%= @assessment.display_name %>
    </h2>
    <p style="margin-left: 5px"><i><%= @assessment.description %></i></p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s12 m4">
    <%# Display instructor admin options %>
    <% if @cud.instructor? %>
      <ul class="collapsible">
        <li class="collapsible-menu-link">
          <div class="collapsible-header"><h5>Admin Options</h5></div>
          <div class="collapsible-body">
          <ul class="options">
            <li>
              <%= link_to "Edit assessment",
                          edit_course_assessment_path(@course, @assessment),
                          { title: "View and modify the properties for this assessment, including its problems", class: "" } %>
            </li>
            <li>
              <%= link_to "View Gradesheet",
                          viewGradesheet_course_assessment_path(@course, @assessment),
                          { title: "View and enter grades on the gradesheet" } %>
            </li>
            <li><%= link_to "Export assessment",
                            export_course_assessment_path(@course, @assessment),
                            { title: "Export persistent properties that will be imported when you install this assessment in a future term" } %>
            </li>

            <% if @assessment.has_autograder? %>
              <li><%= link_to "Autograder settings", edit_course_assessment_autograder_path(@course, @assessment), title: "Modify autograding properties such as the VM image and the timeout value" %></li>
            <% end %>

            <% if @assessment.has_groups? %>
              <li><%= link_to "Group settings", course_assessment_groups_path(@course, @assessment), title: "Manage group settings" %></li>
            <% end %>

            <% if @assessment.has_scoreboard? %>
              <li><%= link_to "Scoreboard settings", edit_course_assessment_scoreboard_path(@course, @assessment), title: "Configure the appearance of the scoreboard" %></li>
            <% end %>
            <li><%= link_to "Manage extensions", course_assessment_extensions_path(@course, @assessment), { title: "Give extensions to students" } %></li>
            <li><%= link_to "Manage submissions", course_assessment_submissions_path(@course, @assessment), { title: "Create, view, export, and re-autograde submissions" } %></li>
            <li><%= link_to "View statistics", statistics_course_assessment_path(@course, @assessment), { title: "View detailed stats for this assessment" } %></li>
            <li><%= link_to "Bulk import grades", bulkGrade_course_assessment_path(@course, @assessment), { title: "Upload scores or feedback for multiple students from a CSV file" } %></li>
            <li><%= link_to "Bulk export grades", bulkExport_course_assessment_path(@course, @assessment), { title: "Export grades (with sub-scores) \nfor all students to a CSV file" } %></li>

            <li class="collection-item red-text danger-bottom no-hover"><h4>Danger Zone</h4></li>

            <li class="danger-side">
              <%= link_to "Release all grades", releaseAllGrades_course_assessment_path(@course, @assessment), { title: "Make all scores for this assessment visible to students", data: { confirm: "Are you sure you want to release all grades?", method: "post" } } %>
            </li>
            <li class="danger-side">
              <%= link_to "Withdraw all grades", withdrawAllGrades_course_assessment_path(@course, @assessment), { title: "Hide all scores for this assessment from students", data: { confirm: "Are you sure you want to withdraw all grades?", method: "post" } } %>
            </li>
            <li class="danger-side danger-bottom"> <%= link_to "Reload config file", reload_course_assessment_path(@course, @assessment), { title: "Reload the assessment config file (provided for backward compatibility with legacy assessments)", data: { confirm: "Are you sure you want to reload the config file?", method: "post" } } %></li>
          </ul>
        </div>
        </li>
      </ul>
    <% end %>

    <%# Display CA admin options %>
    <% if @cud.course_assistant? or @cud.instructor? %>
      <ul class="collapsible">
        <li class="collapsible-menu-link">
          <div class="collapsible-header"><h5>CA Options</h5></div>
          <div class="collapsible-body">
            <ul class="options">
              <li><%= link_to "Grade section #{@cud.section} submissions", viewGradesheet_course_assessment_path(@course, @assessment, { section: '1' }),
                              title: "View and enter grades for your section. Make sure your instructor has assigned you to a lecture and section in your Autolab account" %></li>
              <li><%= link_to "Grade all submissions", viewGradesheet_course_assessment_path(@course, @assessment),
                              title: "View and enter grades for all sections" %></li>

              <% unless @assessment.disable_handins %>
                <li><%= link_to "Download section #{@cud.section} submissions", downloadAll_course_assessment_submissions_path(@course, @assessment, { final: true }), title: "Download section #{@cud.section} submissions" %></li>
              <% end %>
              <li class="collection-item red-text danger-bottom no-hover"><h4>Danger Zone</h4></li>
              <li class="danger-side"><%= link_to "Reload config file", reload_course_assessment_path(@course, @assessment), { title: "Reload the assessment config file (provided for backward compatibility with legacy assessments)", data: { confirm: "Are you sure you want to reload the config file?", method: "post" } } %></li>
              <li class="danger-side danger-bottom">
                <%= link_to "Release section grades", releaseSectionGrades_course_assessment_path(@course, @assessment), { title: "Make all scores visible to the students in your section. This will work only if your instructor has assigned you to a lecture and section in your Autolab account.", data: { confirm: "Are you sure you want to release section grades?", method: "post" } } %>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    <% end %>

    <%# Display student options %>
    <ul class="collapsible">
      <li class="collapsible-menu-link">
        <div class="collapsible-header"><h5>Options</h5></div>
        <div class="collapsible-body">
          <ul class="options">
            <% default_opts = @list.select { |_, v| v.nil? } %>
            <% if default_opts.key?("history") %>
              <li><%= link_to "View handin history", history_course_assessment_path(@course, @assessment), { title: "View your submissions, scores, and feedback from the course staff" } %> </li>
            <% end %>
            <% if default_opts.key?("writeup") && @assessment.has_writeup? %>
              <li><%= link_to "View writeup", writeup_course_assessment_path(@course, @assessment), { title: "View the assessment writeup" } %> </li>
            <% end %>
            <% if default_opts.key?("handout") && @assessment.has_handout? %>
              <li><%= link_to "Download handout", handout_course_assessment_path(@course, @assessment), { title: "Download handout materials and starter code" } %> </li>
            <% end %>
            <% if default_opts.key?("groups") && @assessment.has_groups? %>
              <% if @aud.membership_status != AssessmentUserDatum::UNCONFIRMED %>
                <li><%= link_to "Group options", course_assessment_group_path(@course, @assessment, @aud.group), title: "Check your group settings." %></li>
              <% else %>
                <li><%= link_to "Group options", new_course_assessment_group_path(@course, @assessment), title: "Check your group settings." %></li>
              <% end %>
            <% end %>
            <% if default_opts.key?("scoreboard") && @assessment.has_scoreboard? %>
              <li><%= link_to "View scoreboard", course_assessment_scoreboard_path(@course, @assessment), title: "View the assessment scoreboard" %></li>
            <% end %>
            <% @list.compact! # Remove the nil values, which correspond to default items %>
            <% @list.sort { |a, b| a[1] <=> b[1] }.each { |key, value| %>
              <% if value.size > 0 %>
                <li>
                  <% begin %>
                  <%= link_to value, { action: key }, { title: value } %>
                  <% rescue %>
                  Invalid option "<%= key %>"
                  <% end %>
                </li>
              <% end %>
            <% } %>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="col s12 m8">
    <br>
    <br>
    <% if !@assessment.disable_handins %>
      <div class="handin-panel card z-depth-0">
        <div class="card-content">
          <p class="valign-wrapper">
            <i class="material-icons valign">access_time</i>
              &nbsp;&nbsp;Due<% if @extension %> (with <% if @extension.infinite? %> infinite <% else %> <%= pluralize(@extension.days, "day") %> <% end %> extension)<% end %>:&nbsp;
              <b>
                <% if @extension&.infinite? %>
                  <%= due_at_display @aud.due_at %>
                <% else %>
                  <span class="moment-date-time" data-format="MMMM Do YYYY, h:mm a z [(UTC] Z[)]"><%= due_at_display @aud.due_at %></span>
                <% end %>
              </b>
          </p>

          <p class="valign-wrapper">
            <i class="valign material-icons">today</i>
            &nbsp;&nbsp;Last day to handin:&nbsp;
            <b>
              <% if @extension&.infinite? %>
                <%= end_at_display(@aud.end_at(false)) %>
              <% else %>
                <span class="moment-date-time" data-format="MMMM Do YYYY, h:mm a z [(UTC] Z[)]"><%= end_at_display(@aud.end_at(false)) %></span>
              <% end %>
            </b>
          </p>

          <% if @cud.instructor? and @assessment.exam? %>
          <p class="attention">This is an exam. While it is in progress, please check Admin > Edit Course > Exam In Progress.</p>
          <% end %>
        </div>
        <%= render partial: "handin_form", locals: { modal: false, id: "handin_show_assessment" } %>
      </div>
    <% else %>
      <div class="handin-panel card z-depth-0">
        <div class="card-content">
          <p class="valign-wrapper">
            <i class="material-icons valign">file_upload_off</i>
            <b class="red-text">&nbsp;Handins are disabled for this assessment.</b>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% download_access = @cud.instructor? %>

  <%# Display any attachments %>
  <% if @attachments.any? or @cud.instructor? %>
    <div class="section">
      <h4 class="section-title"><span class="white">Attachments</span></h4>
      <ul class="collection with-header attachments">
        <% if @cud.instructor? %>
          <li class="collection-item add">
            <p>
            <%= link_to new_course_assessment_attachment_path(@course, @assessment) do %>
              <i class="material-icons left">note_add</i>Add Attachment
            <% end %>
            <span class="secondary-content"></span>
            </p>
          </li>
        <% end %>
        <%= render @attachments %>
      </ul>
    </div>
    <hr>

  <% end %>

  <% if @assessment.embedded_quiz %>
      <script>
          $.fn.serializeObject = function()
          {
              let o = {};
              const a = this.serializeArray();
              $.each(a, function() {
                  if (o[this.name] !== undefined) {
                      if (!o[this.name].push) {
                          o[this.name] = [o[this.name]];
                      }
                      o[this.name].push(this.value || '');
                  } else {
                      o[this.name] = this.value || '';
                  }
              });
              return o;
          };

          $(function() {
              $('form').submit(function() {
                  $('#results').text(JSON.stringify($('#quiz_form').serializeObject()));
                  showForm();
                  //return false;
              });
          });

          function showForm() {
            document.getElementById("submission_embedded_quiz_form_answer").value = document.getElementById('results').innerHTML;
          }

      </script>

      <% if @cud.instructor %>
          <div class="row">
            <div class="col s12 offset-s0">
              <b>This is how students will view this assessment:</b>
            </div>
          </div>
      <% end %>

      <div class="row">
        <div class="col s10 offset-s1">
          <hr>
          <%= form_for @submission, url: handin_course_assessment_path(@course, @assessment), html: { id: "quiz_form", onclick: "return validateIntegrity();" }, method: :post do |f| %>

              <%= f.hidden_field :embedded_quiz_form_answer, value: "" %>

              <%# Render instructor's custom quiz form elements. %>
              <p>
                <% begin %>
                    <%= @assessment.embedded_quiz_form_data.html_safe %>
                <% rescue %>
                  <p style="color: red">Your assessment has no content yet! </p>
                <% end %>
              </p>

              <% if @can_submit %>

                <!-- Academic integrity checkbox -->

                <%= label_tag(:integrity_checkbox) do %>
                  <%= check_box_tag(:integrity_checkbox) %>
                  <%= content_tag("span", "I affirm that I have complied with this course's academic integrity policy as defined in the syllabus.") %>
                <% end %>

                <div class="row" style="margin-top: 10px !important">
                  <input type="submit" class="btn primary handin-btn" onclick="setSubmitClicked()">
                  <span id="submission_error" style="margin-left: 10px !important; color: red"></span>
                </div>
              <% end %>
          <% end %>
          <hr>
        </div>
      </div>

      <pre class="hide" id="results"></pre>

  <% end %>

  <% if @assessment.exam? %>
      <% if download_access %>
          <p>Students will not be able to view previous exam submissions.</p>
      <% else %>
          <p>You cannot view previous exam submissions.</p>
      <% end %>
  <% elsif @assessment.course.exam_in_progress? %>
      <% if download_access %>
          <p>Students will not be able to view previous submissions while an exam is in progress.</p>
      <% else %>
          <p>You cannot view previous submissions while an exam is in progress.</p>
      <% end %>
  <% end %>
  <h4 class="section-title"><span class="white">
    Submission Summary
  </span></h4>
  <% if @submissions.size == 0 %>
    No Submissions yet!
  <% else %>
    <%= render partial: "submission_history_table", locals: { download_access:, limit: 3 } %>
      <% if @submissions.size > 3 %>
        <!-- display link to history only if we exceed summary limit (since they are the same component) -->
        <h6>
            <%= link_to "See all #{@submissions.size}" + " submission".pluralize(@submissions.size), history_course_assessment_path(@course, @assessment) %>
        </h6>
    <% end %>
  <% end %>
</div>
