<%# Make sure these options are not on the general user options list.  %>
<%# We have to do this because we exposed the internal interface for building options lists %>
<%# and some users have fiddled with this in their assessment.rb file %>

<%# These options have been eliminated %>
<% @list.delete("listAdmin") %>

<%# These options should only be on the admin list %>
<% @list.delete("edit") %>
<% @list.delete("viewGradesheet") %>
<% @list.delete("attachments") %>
<% @list.delete("extension") %>
<% @list.delete("submission") %>
<% @list.delete("reload") %>

<p><i><%= @assessment.description %> </i></p>

<p>
<b>Due at:</b> <%= due_at_display @aud.due_at %>
(<b>Last day to handin:</b> <%= end_at_display(@aud.end_at false) %>)
</p>

<% if @cud.instructor? and @assessment.exam? %>
<p class="attention">This is an exam. While it is in progress, please check Admin > Edit Course > Exam In Progress.</p>
<% end %>

<%# Display the handin form %>
<% if @assessment.has_svn then %>
  <%= render partial: "handinSVN" %>
<% else %>
  <%= render partial: "handin_form", locals: {modal: false, id: "handin_show_assessment"} %>
<% end %>

<%# Display general user options %>
<div class="ass-wrapper">
  <h2>Options</h2>
  <ul>
    <% if @assessment.has_groups? then %>
      <li><%= link_to "Check group", course_assessment_groups_path(@course, @assessment), { title: "Request a group or view your current group" } %>
    <% end %>
    <li><%= link_to "Download handout", [:handout, @course, @assessment], { title: "Download handout materials and starter code" } %></li>
    <li><%= link_to "View handin history", [:history, @course, @assessment], { title: "View your submissions, scores, and feedback from the course staff" } %></li>
    <% if @assessment.has_scoreboard then %>
      <li><%= link_to "View scoreboard", [:scoreboard, @course, @assessment], { title: "View the class scoreboard" } %>
    <% end %>
    <li><%= link_to "View writeup", [:writeup, @course, @assessment], { title: "View the assessment writeup" } %></li>
    
    <% @list.sort { |a,b| a[1] <=> b[1] }.each do |key, value| %>
      <% if value.size > 0  then  %>
        <li> <%= link_to value, {:action => key}, {:title=>(@list_title[key] || "")} %> </li>
      <% end %>
    <% end %>
  </ul>
</div>

<%# Display any optional instructor admin options %>
<% if @cud.instructor? then %>
<div class="ass-wrapper">
  <h2>Admin Options (staff)</h2>
  <ul>
    <% if @assessment.has_autograde then %>
      <li><%= link_to "Autograding Settings", [:adminAutograde, @course, @assessment], { title: "Modify autograding properties such as the VM image and the timeout value." } %></li>
    <% end %>
    <% if @assessment.has_groups? then %>
      <li><%= link_to "Group Settings", course_assessment_groups_path(@course, @assessment), { title: "View and modify the assessment groups." } %></li>
    <% end %>
    <% if @assessment.has_scoreboard then %>
      <li><%= link_to "Scoreboard Settings", [:adminScoreboard, @course, @assessment], { title: "Configure the appearance of the scoreboard." } %></li>
    <% end %>
    <% if @assessment.has_svn then %>
      <li><%= link_to "SVN Settings", [:adminSVN, @course, @assessment], { title: "Manage the SVN repositories." } %></li>
    <% end %>

    <li><%= link_to "Assessment Settings", [:edit, @course, @assessment], { title: "View and modify the properties for this assessment, including its problems" } %></li>
    <li><%= link_to "Bulk Export Grades", [:bulkExport, @course, @assessment], { title: "Export grades (with sub-scores) \nfor all students to a CSV file" } %></li>
    <li><%= link_to "Bulk Import Grades", [:bulkGrade, @course, @assessment], { title: "Upload scores or feedback for multiple students from a CSV file" } %></li>
    <li><%= link_to "Export Assessment", [:export, @course, @assessment], { title: "Export persistent properties that will be imported when you install this assessment in a future term" } %></li>
    <li><%= link_to "Grade Submissions", [:viewGradesheet, @course, @assessment], { title: "View and enter grades on the gradesheet" } %></li>
    <li><%= link_to "Manage Assessment Attachments", [:attachments, @course, @assessment], { title: "Distribute files to your students" } %></li>
    <li><%= link_to "Manage Extensions", [:extensions, @course, @assessment], { title: "Give extensions to students" } %></li>
    <li><%= link_to "Manage Submissions", [:submissions, @course, @assessment], { title: "Create, view, export, and re-autograde submissions" } %></li>
    <li><%= link_to "Release All Grades", [:releaseAllGrades, @course, @assessment], { title: "Make all scores for this assessment visible to students" } %></li>
    <li><%= link_to "Reload Config File", [:reload, @course, @assessment], { title: "Reload the assessment config file (provided for backward compatibility with legacy assessments)" } %></li>
    <li><%= link_to "View Statistics", [:statistics, @course, @assessment], { title: "View detailed stats for this assessment" } %></li>
    <li><%= link_to "Withdraw All Grades", [:withdrawAllGrades, @course, @assessment], { title: "Hide all scores for this assessment from students" } %></li>
    
    <% @adminlist.sort { |a,b| a[1] <=> b[1] }.each do |key, value| %>
      <% if value.size > 0  then  %>
        <li> <%= link_to value, {:action => key}, {:title=>(@admin_title[key] || "")} %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<% end %>


<%# Display the optional CA admin options %>
<% if @cud.course_assistant? then %>
<div class="ass-wrapper">
  <h2>Admin Options (CA)</h2>
  <ul>
    <% unless @assessment.disable_handins then %>
      <li><%= link_to "Download Submissions", [:downloadSubmissions, @course, @assessment], title: "Download all submissions." %></li>
    <% end %>
    <li><%= link_to "Grade All Submissions", [:viewGradesheet, @course, @assessment],
                    title: "View and enter grades for all sections." %></li>
    <li><%= link_to "Grade Section #{@cud.section} Submissions", url_for(action: :viewGradesheet, section: @cud.section, escape: false), 
                    title: "View and enter grades for your section.  Make sure your instructor has assigned you to a section in your Autolab account." %></li>
    <li><%= link_to "Release Section Grades", [:releaseSectionGrades, @course, @assessment], 
                    title: "Make all scores visible to the students in your section.  This will work only if your instructor has assigned you to a lecture and section in your Autolab account." %></li>
    <li><%= link_to "Reload Config File", [:reload, @course, @assessment], 
                    title: "Reload the assessment configuration file (provided for backward compatibility with legacy assessments)" %></li>
  </ul>
</div>
<% end %>

<%# Display any attachments %>
<% if @assessment.attachments.length > 0 %>
<div class="ass-wrapper">
  <h2><%= @assessment.display_name %> Files</h2>
  <ul>
    <%= render @assessment.attachments %>

    <% # this code is temporarily "commented out" because Dan wants to preserve the logic for future changes to _attachment.html.erb %>
    <% if false then %>
      <% for a in @assessment.attachments do %>
        <% if a.released? then %>
          <% if (Time.now() > @assessment.start_at) or (@cud.instructor?) then %>
            <li><%= link_to a.name, [@course, @assessment, a] %></li>
          <% else %>
            <li><%= a.name %></li>
          <% end %>
        <% elsif @cud.instructor? then %>
          <li><i><%= link_to a.name, [@course, @assessment, a] %>*</i></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag "assessments_show" %>
<% end %>
