<% @title = "Take Quiz" %>

<h2>Quiz</h2>
<%= @score %>
<form method="POST">

  <% @quizData.each do |i, q| %>
    <h4><%= q["question"] %></h4>
    <% q.each do |key, option| %>
      <% if key != "question" && key != "answer" %>
        <input type="radio" name="<%= i %>" value="<%= key %>" required> <%= option %><br />
      <% end %>
    <% end %>
  <% end %>
  <input id="submit" type="submit" value="Submit" class="btn primary" style="margin-top:20px;">
</form>