<h2>Feedback for 
<%= "#{@assessment.display_name} - #{@score.problem.name}" %>
(<%=@score.submission.course_user_datum.user.email %>)
</h2>
<% if @score.feedback_file then %>
  Download Feedback File: <%= link_to @score.feedback_file_name,
    :action=>"downloadFeedbackFile",
    :id=>@score.id %>
<% end %>
<pre>
<%= h @score.feedback %>
Score for this problem: <%= @score.score.to_f().round(1) %>

Graded by: <%= if @score.grader then @score.grader.andrewID end %>
</pre>

<!--
Yes, feedback if per problem but we show all annotations for this submission anyway. While this is not semantically correct, it offers a better UX than we had before. If we just show annotations attached to this problem, then where would we show annotations not attached to a problem at all?
-->

<% if @submission.annotations.count > 0 %>
  <h2 style="margin-top: 1em">Remarks</h2>
<% end %>

<ul>
<% @submission.annotations.each do |annotation| %>
  <li>
    <%= link_to annotation.text, 
                   :controller => "submission",
                   :action => "view",
                   :id => annotation.submission.id,
                   :header_position => annotation.position # ignored, if annotation.position is nil
    %>
    
    <% 
    # if the submission is an archive, use filename in archive; otherwise, use submission filename
    filename = annotation.position ? @submission.get_filename_in_archive_at(annotation.position) 
                                   : @submission.filename
    %>
    (<%= filename %>:<%= annotation.line %>)
  </li>
<% end %>
</ul>
