<% if @jsonFeedback.nil? %>
  <h4><%= @score&.grader&.user ? "Grading" : "Autograding" %> Result for
      <%= @score.nil? ? @assessment.display_name : "#{@assessment.display_name} - #{@score.problem.name} (#{@score.submission.course_user_datum.user.email})" %>
  </h4>
  <div class="result-container">
    <div class="feedback-container">
      <div class="result-pane">
        <% if @score.nil? %>
          <div class="feedback-header">
            <h3>Feedback</h3>
            <div id="status-refresh">
              <i class="refresh-feedback small material-icons">refresh</i>
              <div id="status-badge" class="feedback-status feedback-status__inprogress">
                In-Progress
              </div>
            </div>
          </div>
          <div id="partial-feedback"></div>
          <%= render "partial_feedback_js" %>
        <% else %>
          <div class="feedback-header">
            <h3>Feedback</h3>
              <div id="status-badge" class="feedback-status feedback-status__completed">
                Completed
              </div>
          </div>
          <% if @score.feedback.nil? %>
            <pre>There was an error autograding your submission. Feedback is not available.</pre>
          <% else %>
            <pre><%= @score.feedback %></pre>
          <% end %>
        <% end %>
      </div>
      <%= render "remarks_panel" %>
    </div>
    <%= render "results_panel" %>
  </div>

<% else %>
  <%= render "semantic" %>
<% end %>
<!--
Yes, feedback is per problem but we show all annotations for this submission anyway. While this is not semantically correct, it offers a better UX than we had before. If we just show annotations attached to this problem, then where would we show annotations not attached to a problem at all?
-->
