<% if @jsonFeedback.nil? %>

<h2>Feedback for
<%= "#{@assessment.display_name} - #{@score.problem.name}" %>
(<%=@score.submission.course_user_datum.user.email %>)
</h2>
<pre>
<%= @score.feedback %>
Score for this problem: <%= @score.score.to_f().round(1) %>

Graded by: <%= if @score.grader && @score.grader.user then @score.grader.user.email end %>
</pre>

<% else %>
<%= render "semantic" %>

<% end %>
<!--
Yes, feedback if per problem but we show all annotations for this submission anyway. While this is not semantically correct, it offers a better UX than we had before. If we just show annotations attached to this problem, then where would we show annotations not attached to a problem at all?
-->

<% if @submission.annotations.count > 0 and @problemReleased %>
  <h2 style="margin-top: 1em">Remarks</h2>

  <ul>
  <% @submission.annotations.each do |annotation| %>
    <li>
      <%= link_to annotation.as_text, [:view, @course, @assessment, @submission, header_position: annotation.position] %>
      <% 
        # if the submission is an archive, use filename in archive; otherwise, use submission filename
        filename = @files && annotation.position ? Archive.get_nth_filename(@files, annotation.position) : @submission.filename
      %>
      (<%= filename %>: <%= annotation.line %>)
    </li>
  <% end %>
  </ul>
<% end %>