<% if @jsonFeedback.nil? %>

<h2>Feedback for
<%= "#{@assessment.display_name} - #{@score.problem.name}" %>
(<%=@score.submission.course_user_datum.user.email %>)
</h2>
<pre>
<%= @score.feedback %>
Score for this problem: <%= sprintf("%.2f", @score.score.to_f.round(2)) %>

Graded by: <%=
  case @score.grader_id
  when -1
    "Error Handler"
  when 0
    "Autograder"
  else
    if @score.grader&.user then @score.grader.user.email end
  end
%>
</pre>

<% else %>
<%= render "semantic" %>

<% end %>
<!--
Yes, feedback is per problem but we show all annotations for this submission anyway. While this is not semantically correct, it offers a better UX than we had before. If we just show annotations attached to this problem, then where would we show annotations not attached to a problem at all?
-->

<% if @submission.annotations.count > 0 and @problemReleased %>
  <h2 style="margin-top: 1em">Remarks</h2>

  <% subs_by_problem = @submission.annotations.group_by(&:problem)
      subs_by_problem.each do |problem, annotations| %>
      <b> <%= problem.name %> </b>
      <ul class="collection">
      <%# use custom sort b/c using ordering doesn't work with autograder output, archived files %>
      <%
        s_annotations = annotations.sort do |a,b|
        aFilename = @get_correct_filename.call(a)
        bFilename = @get_correct_filename.call(b)

        if a.global_comment? && b.global_comment?
          a.id <=> b.id
        else
          case
            when a.global_comment? != b.global_comment?
              a.global_comment? ? -1 : 1
            when aFilename != bFilename
              aFilename <=> bFilename
            else
              a.line <=> b.line
            end
          end
        end
        s_annotations.each do |annotation| %>
        <li class="collection-item">
              <div style='white-space: pre-wrap;'><%= annotation.comment%> </div>
              <% filename = @get_correct_filename.call(annotation)%>
              <span> 
                <b><%= annotation.value? ? sprintf("(%+.2f)", annotation.value.round(2)) : "" %></b>
                <% if annotation.global_comment? %>
                  <%= link_to "Global Annotation", [:view, @course, @assessment, @submission] %>
                <% else %>
                  <%# line + 1 because line numbers start from 1 %>
                  <%= link_to filename.to_s + ":" + (annotation.line + 1).to_s, [:view, @course, @assessment, @submission, header_position: annotation.position] %>
                <% end %>
              </span>
        </li>
        <% end %>
      </ul>
    <% end %>

<% end %>