<table class="verticalTable">
  <tr>
    <th>Title:</th>
    <td><%= f.text_field :title %></td>
  </tr>
  <tr>
    <th>Description:</th>
    <td><%= f.text_area :description %></td>
  </tr>
  <tr>
    <th>Start Date:</th>
    <td><%= f.datetime_select :start_date %></td>
  </tr>
  <tr>
    <th>End Date:</th>
    <td><%= f.datetime_select :end_date %></td>
  </tr>
  <tr>
    <th>Persistent Announcement?</th>
    <td><%= f.check_box (:persistent) %></td>
  </tr>
  <% if @cud.administrator? then %>
    <tr>
      <th>System Announcement?</th>
      <td><%= f.check_box (:system) %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan=2><%= f.submit 'Submit' , {:class=>"btn primary"} %></td>
  </tr>
</table>
