<%# We can't modify the controller %>
<% @breadcrumbs = [] %>
<% @breadcrumbs << (link_to "Users List", users_path) %>
<% @breadcrumbs << (link_to current_user.display_name, user_path(current_user)) %>
<% @title = "Change Password" %>

<h4>Change password for <%= resource_name.to_s.humanize %></h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: %>

  <div class="input-field">
    <%= f.email_field :email, readonly: true %>
    <%= f.label :email %><br>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="input-field">
    <%= f.password_field :current_password %>
    <%= f.label :current_password %> <br>
  </div>

  <div class="input-field">
    <%= f.password_field :password, autocomplete: "off" %>
    <%= f.label :password %> <br>
  </div>

  <div class="input-field">
    <%= f.password_field :password_confirmation %>
    <%= f.label :password_confirmation %><br>
  </div>

  <div>
    <%= link_to "Back", :back, { class: "btn secondary" } %>
    <%= f.submit "Update", { class: "btn primary" } %>
  </div>
<% end %>
