<h2>Sync Course Roster</h2>
<div class="table-info">
  <div>
    Existing accounts in <b>Black</b>.  New accounts in <b><font
    color=green>Green</font></b>.  Dropped accounts in <b><font
    color=red>Red</font></b>. Instructors are not shown. <br>
  </div>
  <div>
    <label>
      <input type="checkbox" id="sort-status" name="sort-status" class="filled-in" checked="checked" />
      <span>Sort by account status</span>
    </label>
  </div>
</div>
<%= form_for :doIt, :url=>{:action=>"upload_roster",:doIt=>"true"} do |f| %>
  <%= f.submit "Confirm", {:class => "btn primary"} %>
  <br>
  <%= render partial: 'uploadTable', locals: {cud_view:@cuds, sort_status:"unsorted_cuds"} %>
  <%= render partial: 'uploadTable', locals: {cud_view:@sorted_cuds, sort_status:"sorted_cuds"} %>
  <br>
  <%= f.submit "Confirm", {:class => "btn primary"} %>
<% end %>