<h4>Found <span id="results-count"><%= @cuds.count %></span> users</h4>
<table class="prettyBorder sortable" >
<thead>
  <tr>
    <th>&#8470;</th><!-- "No." symbol. -->
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Lecture</th>
    <th>section</th>
    <th>School</th>
    <th>Major</th>
    <th>Year</th>
    <th>Nickname</th>
    <th>Dropped?</th>
    <th>Type</th>
  </tr>
</thead>
<!-- Row index is set using CSS. -->
<% @cuds.each do |cud| %>
<tr class="user-row">
  <td class="row-index"></td>
  <td><%= cud.user.first_name %></td>
  <td><%= cud.user.last_name %></td>
  <td><%= link_to cud.user.email, course_course_user_datum_path(@course, cud) %></td>
  <td><%= cud.lecture %></td>
  <td><%= cud.section %></td>
  <td><%= cud.user.school %></td>
  <td><%= cud.user.major %></td>
  <td><%= cud.user.year %></td>
  <td><%= cud.nickname %></td>
  <td><%= cud.dropped %></td>
  <td><%= if cud.instructor? then
    "Instructor"
  elsif cud.course_assistant? then
    "Course Assistant"
  else
    "Student"
  end
  %></td>
</tr>
<% end %>
</table>

