<h2>Admin Autolab</h2>
<ul>
  <li><%= link_to "Create New Course", new_course_path, title: "Create a new course" %></li>
  <li><%= link_to "Manage Users", users_path, title: "Manage every Autolab user" %></li>
  <li><%= link_to "Github Integration", github_integration_admin_path, title: "Manage Github Integration" %></li>
  <li><%= link_to "Manage API Applications", oauth_applications_path, title: "Manage registered API clients" %></li>
  <li><%= link_to "Bulk Email Instructors", email_instructors_admin_path, title: "Send a bulk email to every Autolab instructor" %></li>
</ul>
