<%= form_for @category , url: course_assessment_category_path do |f| %>

<% if @category.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@category.errors.count, "error") %>
      prohibited this category from being saved:</h2>
			
		<ul>
			<% @category.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<p>Note: You will need to reflect any changes made here in your course.rb file.</p>
<table class="verticalTable">
<tr>
  <th><%= f.label :name %></th>
  <td><%= f.text_field :name %></td>
</tr>
<tr>
  <td colspan=2><%= f.submit "Save" %></td>
</tr>
</table>
<% end %>
