<h2>Manage Assessment Categories</h2>

<p>
<h3>Create a New Category:</h3>
<%= form_for :assessment_category, url: course_assessment_categories_path(@course) do |f| %>
  <%= f.error_messages %>
  <table class="verticalTable">
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td colspan=2><%= f.submit "Save" , {:class=>"btn primary"} %></td>
    </tr>
  </table>
<% end %>
</p>

<h3>Edit Current Categories:</h3>
<table class="prettyBorder" >
<tr>
  <th>Name</th>
  <th>Actions</th>
</tr>
<% for c in @categories do %>
  <tr>
    <td><%= c.name %></td>
    <td>(<%= link_to 'Edit', [:edit, @course, c] %>)
      (<%= link_to 'Delete', [@course, c], method: :delete, confirm: "Are you sure?" %>)
    </td>
  </tr>
<% end %>
</table>

