<%= form_for :assessment_category, url: course_assessment_categories_path(@course) do |f| %>
  <%= f.error_messages %>
  <table class="verticalTable">
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td colspan=2><%= f.submit "Save" , {:class=>"btn primary"} %></td>
    </tr>
  </table>
<% end %>
