<h2>Feedback for 
  <%= "#{@assessment.display_name} - #{@score.problem.name}" %>
  (<%= @score.submission.course_user_datum.email %>)
</h2>

<pre>
  <%= @score.feedback %>
  Score for this problem: <%= @score.score.to_f().round(1) %>

  Graded by: <%= if @score.grader then @score.grader.email end %>
</pre>
