<% @title = "Manage Extensions" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'chosen.min' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'chosen.jquery.min' %>
  
  <script type="application/javascript">
    jQuery(function() {
      $dueDate = moment("<%= @assessment.due_at.to_s %>", "YYYY-MM-DD hh:mm:ss ZZ").startOf('day');

      $extensionDaysField = $('#extension_days');
      $extensionNewDayField = $('#new_due_date_picker');

      $extensionNewDayField.datetimepicker({
        format: 'YYYY-MM-DD'
      });
      $extensionNewDayField.data('DateTimePicker').minDate($dueDate);
      $('.chosen-select').chosen({width: '100%'});

      /* Enable/disable extension days options */
      $enableInfiniteExtension = $('#extension_infinite');
      if ($enableInfiniteExtension.is(':checked')) {
        $extensionDaysField.prop('disabled',true);
        $extensionNewDayField.prop('disabled',true);
      }
      $enableInfiniteExtension.click(function() {
        if ($enableInfiniteExtension.is(':checked')) {
          $extensionDaysField.prop('disabled',true);
          $extensionNewDayField.prop('disabled',true);
        } else {
          $extensionDaysField.prop('disabled',false);
          $extensionNewDayField.prop('disabled',false);
        }
      });

      /* two-way-bind newDayField with daysField */
      $extensionDaysField.on('change', function() {
        $newDate = moment($dueDate);
        $newDate.add($extensionDaysField.val(), 'days').startOf('day');
        $extensionNewDayField.data('DateTimePicker').date($newDate);
      });
      $extensionNewDayField.on('dp.change', function() {
        $newDate = moment($extensionNewDayField.data('DateTimePicker').date()).startOf('day');
        $extendBy = $newDate.diff($dueDate, 'days');
        $extensionDaysField.val($extendBy);
      });
      
      /* need to manually toggle popup because it only shows once per focus */
      $extensionNewDayField.on('click', $extensionNewDayField.data('DateTimePicker').show);
    });
  </script>

<% end %>

<% if params[:errors] then %>
  <br><i>Errors:<%= params[:errors] %></i><br>
  <p></p>
<% end %>

<p> Current Due: <span class="moment-date-time"><%= @assessment.due_at.to_s %></span> </p>

<div class="row">
  <div class="col s12 m6">
    <p><b>Current Extensions</b></p>
    Size:<%= @extensions.size %>
    <table class="verticalTable">
      <thead>
        <tr>
          <th>Email</th>
          <th colspan=2>Extension Length</th>
        </tr>
      </thead>

      <tbody>
        <% for ext in @extensions do %>
          <tr>
            <th><%= ext.course_user_datum.email %></th>
            <td style="padding: 0 5px"><%= ext.infinite? ? "Infinite" : "#{ext.days} days" %></td>
            <td><%= link_to 'Delete', [@course, @assessment, ext], method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col s12 m6">
    <p><b>Create New Extension</b></p>
      <%= form_for @new_extension, :as=>"extension", :url=>{:action=>"create"}, builder: FormBuilderWithDateTimeInput do |f| %>
        <% if @new_extension.errors.any? %>
          <div>
            <ul>
              <% @new_extension.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.select(:course_user_datum_id, @users, {prompt: 'select user'}, {class: 'chosen-select'}) %>
        <p>Select a new due date</p>
        <input type="text" id="new_due_date_picker"></input><br>
        <p>-OR- Specify number of days to extend:</p>
        <%= f.text_field :days, :size=>3, :id => "extension_days" %>
        <p>-OR- Infinite Extension? <%= f.check_box :infinite, :id => "extension_infinite" %></p>
        <%= f.hidden_field(:assessment_id)%>
        <%= f.submit "Create" , {:class=>"btn primary"} %>
      <% end %>
  </div>

</div>
