<% @title = "Manage Extensions" %>

<% content_for :javascripts do %>

  <script type="application/javascript">
    jQuery(function() {
      /* match user name/email with cud_id */
      userData = {
        <% @usersEncoded.each do |k,v| %>
          "<%= j k.html_safe %>": "<%= v %>",
        <% end %>
      };

      /* user autocomplete */
      $studentAutocompleteField = $('#student_autocomplete');
      $hiddenCUDField = $('#extension_course_user_datum_id');
      $studentAutocompleteField.autocomplete({
        data: {
          <% @users.each do |k,v| %>
            "<%= j k.html_safe %>": null,
          <% end %>
        }
      });

      /* track changes in student autocomplete field */
      $studentAutocompleteField.on('change', function() {
        $hiddenCUDField.val(userData[window.btoa($studentAutocompleteField.val())]);
      })

      /* set up dates */
      $dueDate = moment("<%= @assessment.due_at.to_s %>", "YYYY-MM-DD hh:mm:ss ZZ").startOf('day');

      $extensionDaysField = $('#extension_days');
      $extensionNewDayField = $('#extension_due_at');
      $extensionDaysLabel = $('label[for="extension_days"]');

      /* Enable/disable extension days options */
      $enableInfiniteExtension = $('#extension_infinite');
      if ($enableInfiniteExtension.is(':checked')) {
        $extensionDaysField.prop('disabled',true);
        $extensionNewDayField.prop('disabled',true);
      }
      $enableInfiniteExtension.click(function() {
        if ($enableInfiniteExtension.is(':checked')) {
          $extensionDaysField.prop('disabled',true);
          $extensionNewDayField.prop('disabled',true);
        } else {
          $extensionDaysField.prop('disabled',false);
          $extensionNewDayField.prop('disabled',false);
        }
      });

      /* two-way-bind newDayField with daysField */
      $extensionDaysField.on('change', function() {
        $newDate = moment($dueDate);
        $newDate.add($extensionDaysField.val(), 'days').startOf('day');
        $extensionNewDayField.flatpickr().setDate($newDate.toDate());
      });
      $extensionNewDayField.on('change', function() {
        $newDate = moment($extensionNewDayField.val()).startOf('day');
        $extendBy = $newDate.diff($dueDate, 'days');
        $extensionDaysField.val($extendBy);
        $extensionDaysLabel.addClass("active");
      });

      /* set up flatpickr (not using initialize_datetimepickers script since
       * it seems to be causing trouble with setting minDate). */
      $extensionNewDayField.flatpickr({
        altInput: true,
        defaultDate: $dueDate.valueOf(),
        minDate: $dueDate.valueOf()
      });
    });
  </script>

<% end %>

<div class="row">
  <div class="col s12 m6">
    <p><b>Current Extensions (<%= @extensions.size %>)</b></p>
    <table class="verticalTable">
      <thead>
        <tr>
          <th>Email</th>
          <th colspan=2>Length</th>
        </tr>
      </thead>

      <tbody>
        <% for ext in @extensions do %>
          <tr>
            <th><%= ext.course_user_datum.email %></th>
            <td style="padding: 0 5px"><%= ext.infinite? ? "Infinite" : "#{ext.days} days" %></td>
            <td><%= link_to '<i class="material-icons">delete</i>'.html_safe, [@course, @assessment, ext], method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col s12 m6">
    <p><b>Create New Extension</b></p>
      <%= form_for @new_extension, :as=>"extension", :url=>{:action=>"create"}, builder: FormBuilderWithDateTimeInput do |f| %>
        <div class="input-field">
          <label class="control-label active" for="student_autocomplete">Student Name/Email</label>
          <input type="text" id="student_autocomplete" placeholder="Start typing student name or email" class="autocomplete" autocomplete="off">
          <p class="help-block"></p>
        </div>
        <p>Select a new due date (Currently due at: <span class="moment-date-time"><%= @assessment.due_at.to_s %></span>)</p>
        <%= f.date_select :due_at, greater_than: @assessment.due_at, id: "extension_due_at" %><br>
        <p>-OR- Specify number of days to extend:</p>
        <%= f.text_field :days, :size=>3, :id => "extension_days" %>
        <p>-OR- Infinite Extension?</p>
        <%= f.check_box :infinite, id: "extension_infinite" %>
        <%= f.hidden_field(:course_user_datum_id)%>
        <%= f.hidden_field(:assessment_id)%>
        <%= f.submit "Create" , {:class=>"btn primary"} %>
      <% end %>
  </div>

</div>
