<%= f.text_field :name, help_text: "Each problem has a name that is unique to the assessment.",
                        placeholder: "problem1", required: true %>

<%= f.text_field :description, help_text: "Short description of the problem.", placeholder: "(Optional)" %>

<% if @problem %>
<%= f.number_field :max_score, help_text: "The maximum score for this problem.",
                               value: @problem.max_score, placeholder: "0", step: "any", required: true %>
<% else %>
<%= f.number_field :max_score, help_text: "The maximum score for this problem.",
                               value: 0, placeholder: "0", step: "any", required: true %>
<% end %>

<%= f.check_box :optional, help_text: "By default, all problems are
\"required\". Autolab will only display the total score to a student if all
required problems have a released score. Marking a problem as optional will
allow a student to see their total score without having a score for that
problem. Use this option carefully. In most cases, you should leave it
unchecked." %>

<%= f.check_box :starred, help_text: "By default, all problems are
\"not starred\". Starred problems are displayed first in the problems dropdown when creating annotations." %>

<div class="action_buttons">
  <%= f.submit "Save Problem", { class: "btn primary" } %>
  <% if @problem %>
  <button class="delete_btn">
    <%= link_to "Delete this Problem", [@course, @assessment, @problem],
                method: :delete, class: 'btn btn-danger',
                data: { confirm: "Deleting will delete all associated problem data (such as scores and annotations) and cannot be undone. Are you sure you want to delete this problem?" } %>
  </button>
  <% end %>
</div>
