<%
# this file is rendered whenever render is called on a collection of problems.
# right now, that occurs on the assessment edit_problems page.
%>
<li>
  <b><%= problem.name %></b>
  [max score: <%= problem.max_score %>, optional: <%= problem.optional ? "yes" : "no" %>]
  <%= link_to "Edit", edit_course_assessment_problem_path(@course, @assessment, problem) %>
  <%= link_to "Delete", destroyConfirm_course_assessment_problem_path(@course, @assessment, problem) %>
</li>
