<%= form_for @autograder, url: course_assessment_autograder_path(@course, @assessment, @autograder),
                          builder: FormBuilderWithDateTimeInput,
                          html: { multipart: true } do |f| %>
  <%= f.text_field :autograde_image, display_name: "VM Image",
                                     help_text: "VM image for autograding (e.g. <kbd>rhel.img</kbd>). #{link_to 'Click here', tango_status_course_jobs_path} to view the list of VM images and pools currently being used".html_safe +
                                                (Rails.configuration.x.docker_image_upload_enabled.presence ? ", or #{link_to 'click here', course_dockers_path} to upload a new docker image.".html_safe : "."),
                                     required: true, maxlength: 64 %>

  <%= f.number_field :autograde_timeout, display_name: "Timeout",
                                         help_text: "Timeout for autograding jobs (secs). Must be between 10s and 900s, inclusive.", min: 10, max: 900 %>
  <%= f.check_box :release_score,
                  display_name: "Release Scores?",
                  help_text: "Check to release autograded scores to students immediately after autograding (strongly recommended)." %>

  <%= f.file_field :makefile, label_text: "Autograder Makefile", action: :upload %>
  <%= f.file_field :tar, label_text: "Autograder Tar", action: :upload %>
  <p class="help-block">
    Both of the above files will be renamed upon upload.
  </p>

  <%= f.submit "Save Settings" %>

  <%= link_to "Delete Autograder", course_assessment_autograder_path(@course, @assessment),
              method: :delete, class: "btn danger",
              data: { confirm: "Are you sure you want to delete the Autograder for this assesssment?" } %>
<% end %>
