<% content_for :javascripts do %>
	<script type="text/javascript">
		$(function() {
		  // We can attach the `fileselect` event to all file inputs on the page
  		$(document).on('change', ':file', function() {
	  	  var input = $(this),
      	  	numFiles = input.get(0).files ? input.get(0).files.length : 1,
      		  label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
	    	input.trigger('fileselect', [numFiles, label]);
  		});

	  	// We can watch for our custom `fileselect` event like this
	  	$(document).ready( function() {
  	    $(':file').on('fileselect', function(event, numFiles, label) {
	
  	        var makefile = $(this).parents('.makefile-group').find(':text'),
    	          log = numFiles > 1 ? numFiles + ' files selected' : label;
		
  	        var tar = $(this).parents('.tar-group').find(':text'),
    	          log = numFiles > 1 ? numFiles + ' files selected' : label;
	
  	        if( makefile.length ) {
    	          makefile.val(log);
      	    } else if( tar.length ) {
							tar.val(log);
						} else {
        	      if( log ) alert(log);
          	}
					});
			 });
  	}); 
	</script>
<% end %>

<%= form_for [@course, @assessment, @autograder], 
	builder: FormBuilderWithDateTimeInput,
	html: { multipart: true } do |f| %>
  <%= f.error_messages %>

  <%= f.text_field :autograde_image, display_name: "VM Image" %>
  <p class="help-block">
    VM image for autograding (e.g., "<kbd>rhel.img</kbd>"). <%= link_to "Click here", tango_status_course_jobs_path %> to view the list of VM images and pools currently being used.
  </p>
  <%= f.text_field :autograde_timeout, display_name: "Timeout",
    help_text: "Timeout for autograding jobs (secs)" %>
  <%= f.check_box :release_score, display_name: "Release Scores?",
    help_text: "Check to release autograded scores to students immediately after autograding (strongly recommended)." %>



  <div class="makefile-group">
    <br> 
    <span class="btn btn-primary">
    	Autograder Makfile <%= f.file_field "makefile", class: "upload-autograder" %> 
	  </span>
		<input type="text" class="form-control" readonly><br />
	</div>
	<div class="tar-group">
  	<span class="btn btn-primary">
  		Autograder Tar <%= f.file_field :tar, class: "upload-autograder" %> 
	  </span>
		<input type="text" class="form-control" readonly><br />
	</div>

  <%= f.submit "Save Settings", { class: "btn primary" } %>
  
  <%= link_to "Delete Autograder", [@course, @assessment, :autograder], method: :delete, class: "btn danger",
              data: {confirm: "Are you sure you want to delete the Autograder for this assesssment?"} %>
<% end %>
