<h2>Editing scheduler</h2>

<%= form_for @scheduler, :url=>{:action=>"update"}, :method=>"patch" do |f| %>
  <%= f.error_messages %>
  <table class="verticalTable">
  <tr>
    <th>Action</th>
    <td><%= f.text_field :action %></td>
  </tr>
  <tr>
    <th>Next</th>
    <td><%= f.datetime_select :next %></td>
  </tr>
  <tr>
    <th>Interval (Seconds)</th>
    <td><%= f.text_field :interval %></td>
  </tr>
  <tr>
    <td colspan=2><%= f.submit "Update" , {:class=>"btn primary"} %></td>
  </tr>
  </table>
<% end %>

<%= link_to 'Show', {:action=>"show",:id=>@scheduler.id} %> |
<%= link_to 'Index', {:action=>"index"} %>
