<% @title = "Edit Scheduler" %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "initialize_datetimepickers" %>
<% end %>
<h4>Editing scheduler</h4>

<%= form_for @scheduler, url: course_scheduler_path(@course, @scheduler),
                         method: "patch", builder: FormBuilderWithDateTimeInput do |f| %>
  <%= f.text_field :action, help_text: "Path to scheduler file relative to Autolab root",
                            placeholder: "(scheduler action)" %>
  <%= f.datetime_select :next, help_text: "Time of next run" %>
  <%= f.datetime_select :until, help_text: "Don't run after this time" %>
  <%= f.number_field :interval, min: 1, help_text: "Minimum interval between each run (in seconds)" %>
  <%= f.check_box :disabled %>
  <div class="action_buttons">
    <%= link_to 'Back', course_schedulers_path(@course), { class: "btn" } %>
    <%= f.submit "Update", { class: "btn" } %>
  </div>
<% end %>
