<h2>Manage Schedulers</h2>
<i>It is currently <%= Time.now() %></i>

<p>
<%= link_to 'Create New Scheduler', new_course_scheduler_path(@course) %>
</p>
<table class="prettyBorder" >
  <tr>
    <th>Action</th>
    <th>Next</th>
    <th>Interval</th>
    <th>Visual Run</th>
    <th>Operations</th>
  </tr>

<% for scheduler in @schedulers %>
  <tr>
    <td><%=h scheduler.action %></td>
    <td><%=h scheduler.next %></td>
    <td><%=h scheduler.interval %></td>
    <td><%= link_to 'Visual Run', {:action=>"run", :scheduler_id=>scheduler.id}, data: { method: "post" } %></td>
    <td><%= link_to 'Show', {:action=>"show",:id=>scheduler.id} %>
    <%= link_to 'Edit', edit_course_scheduler_path(@course, scheduler) %>
    <%= link_to 'Destroy', course_scheduler_path(@course, scheduler), method: "delete", data: {confirm: 'Are you sure?'} %></td>
  </tr>
<% end %>
</table>

<br />
