<% content_for :javascripts do %>
  <%= javascript_include_tag "initialize_datetimepickers" %>
<% end %>
<h2>New scheduler</h2>

<%= form_for :scheduler, :url=>{:action=>"create"}, builder: FormBuilderWithDateTimeInput do |f| %>
  <%= f.error_messages %>
  <%= f.text_field :action, help_text: "  ", placeholder: "(scheduler action)" %>
  <%= f.datetime_select :next, step: 1 %>
  <%= f.text_field :interval , placeholder: "(in seconds)" %>
  <div class="action_buttons">
    <%= f.submit "Create" , {:class=>"waves-effect waves-light btn primary"} %>
  </div>
  
<% end %>

<%= link_to 'Back', :action=>"index" %>
