<p>
  <b>Action:</b>
  <%= @scheduler.action %>
</p>

<p>
  <b>Next:</b>
  <%= @scheduler.next %>
</p>

<p>
  <b>Interval:</b>
  <%= @scheduler.interval %>
</p>

<%= link_to 'Back', { action: "index" }, { class: "btn" } %>
<%= link_to 'Edit', { action: "edit", id: @scheduler.id }, { class: "btn" } %>
