<p>
  <b>Action:</b>
  <%=h @scheduler.action %>
</p>

<p>
  <b>Next:</b>
  <%=h @scheduler.next %>
</p>

<p>
  <b>Interval:</b>
  <%=h @scheduler.interval %>
</p>


<%= link_to 'Edit', {:action=>"edit",:id=>@scheduler.id} %> |
<%= link_to 'Back', {:action=>"index"} %>
