<% @title = "Metrics"%>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "metrics" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "metrics" %>
<% end %>

<% @define_metrics = false %>

<div class="ui pointing secondary tabular menu">
  <a class="item active" data-tab="watchlist">Watchlist</a>
  <a class="item" data-tab="risk metrics">Risk Metrics</a>
</div>
<div class="ui tab active" data-tab="watchlist">
  <% if @define_metrics then %>
    <div class="top-bar">
      <div class="ui checkbox"><input type="checkbox" name="select_all"/></div>
      <button class="ui submit small button"><i class="mail outline icon"></i>CONTACT</button>
      <button class="ui submit small button"><i class="check circle icon"></i>RESOLVE</button>
      <div class="last-updated">
        <h5> Last Updated 10/20/2020 at 11:50pm <i class="repeat link icon"></i></h5>
      </div>
    </div>
  <% end %>
  <br>
  <div class="ui grid">
    <div class="three wide column">
      <div class="ui vertical fluid tabular menu">
        <a class="item active" data-tab="new_tab">New</a>
        <a class="item" data-tab="contacted_tab">Contacted</a>
        <a class="item" data-tab="resolved_tab">Resolved</a>
        <a class="item" data-tab="archived_tab">Archived</a>
      </div>
    </div>
    <div class="thirteen wide column">
      <% if @define_metrics then %>
        <div class="ui tab segments active" data-tab="new_tab">
          <%= render partial: 'student_row', locals: {student_name: "Jane Doe", grace_days: 3, low_scores: 2} %>
          <%= render partial: 'student_row', locals: {student_name: "Emily Lee", missing_submissions: 2} %>
          <%= render partial: 'student_row', locals: {student_name: "John Smith", downward_trend: 1} %>
        </div>
        <div class="ui tab segments" data-tab="contacted_tab">
           <%= render partial: 'student_row', locals: {student_name: "student3"} %>
        </div>
        <div class="ui tab segments" data-tab="resolved_tab">
          <%= render partial: 'student_row', locals: {student_name: "student4"} %>
        </div>
        <div class="ui tab segments" data-tab="archived_tab">
           <%= render partial: 'student_row', locals: {student_name: "student5"} %>
        </div>
      <% else %>
        <div class="ui tab segments active" id="undefined_metrics">
          <center>
            <i class="massive inbox icon"></i> 
            <h3> You have not defined your risk metrics </h3>
            Set up identification conditions at in the <b>Risk Metrics</b> tab.  <br> 
            Identified possible at-risk students will appear here. 
          </center>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="ui tab" data-tab="risk metrics"></div>
