<% @title = "Student Metrics"%>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "metrics" %>
<% end %>

<% content_for :javascripts do %>
  <%= external_javascript_include_tag "lodash", "3.10.1" %>
  <%= javascript_include_tag "watchlist" %>
  <%= javascript_include_tag "metrics"%>
<% end %>

<div id="message_area">
</div>
<div class="ui pointing secondary tabular menu">
  <a class="item active" data-tab="watchlist">Watchlist</a>
  <a class="item" data-tab="student metrics">Student Metrics</a>
</div>
<div class="ui tab active" data-tab="watchlist" id="watchlist_tab">
  <div class="top-bar">
    <div class="ui checkbox select_all"><input type="checkbox"/></div>
    <button class="ui submit small button" id="contact_button"><i class="mail outline icon"></i>CONTACT</button>
    <button class="ui submit small button" id="resolve_button"><i class="check circle icon"></i>RESOLVE</button>
    <button class="ui icon small button" id="delete_button" data-content="Removing selected student(s)"><i class="trash alternate icon"></i></button>
    <div class="last-updated">
      <b id="last-updated-time"></b> <i class="repeat link icon" id="refresh_btn"></i>
    </div>
  </div>
  <br>
  <div class="ui grid">
    <div class="three wide column">
      <div class="ui vertical fluid tabular menu">
        <a class="item active" data-tab="pending_tab">Pending</a>
        <a class="item" data-tab="contacted_tab">Contacted</a>
        <a class="item" data-tab="resolved_tab">Resolved</a>
        <a class="item" data-tab="archived_tab">Archived</a>
      </div>
    </div>
    <div class="thirteen wide column">
      <div id="defined_metrics">
        <div class="ui tab segments active" data-tab="pending_tab" id="pending_tab">
          <div class="ui secondary segment" id="pending_header" hidden>
            <div class="ui right aligned scrolling search" id="pending_search">
              <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search students...">
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>
            <h5> Pending students in need of attention </h5>
          </div>
          <span class="instances" id="pending_instances"></span>
        </div>
        <div class="ui tab segments" data-tab="contacted_tab", id="contacted_tab">
          <div class="ui secondary segment" id="contacted_header" hidden>
            <div class="ui right aligned scrolling search" id="contacted_search">
              <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search students...">
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>
            <h5> Contacted students </h5>
          </div>
          <span class="instances" id="contacted_instances"></span>
        </div>
        <div class="ui tab segments" data-tab="resolved_tab", id="resolved_tab">
          <div class="ui secondary segment" id="resolved_header" hidden>
            <div class="ui right aligned scrolling search" id="resolved_search">
              <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search students...">
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>
            <h5> Resolved students </h5>
          </div>
          <span class="instances" id="resolved_instances"></span>
        </div>
        <div class="ui tab segments" data-tab="archived_tab", id="archived_tab">
          <div class="ui secondary segment" id="archived_header" hidden>
            <div class="ui right aligned scrolling search" id="archived_search">
              <div class="ui icon input">
                <input class="prompt" type="text" placeholder="Search students...">
                <i class="search icon"></i>
              </div>
              <div class="results"></div>
            </div>
          <h5> Archived students </h5> <b>Resolved and contacted students becomes archived when student metrics are changed </b>
        </div>
        <span class="instances" id="archived_instances"></span>
        </div>
      </div>
      <div class="ui tab segments active" id="undefined_metrics" style="display:none">
        <center>
          <i class="huge inbox icon"></i> 
            <h3> You have not defined your student metrics </h3>
            You can define metrics to identify students in need of attention using the <b>Student Metrics</b> tab. <br>
        </center>
      </div>
    </div>
  </div>
</div>
<div class="ui tab" data-tab="student metrics">
  <h6> 
    Select one or more of the following metrics that you want to use to identify students in need of attention.
  </h6>
  <br>
  <div class="ui form">
    <div class="metric">
      <div class="inline field">
        <div class="ui checkbox conditions" id='grace_days_checkbox'>
          <input type="checkbox" tabindex="0" class="hidden" name="metrics-checkbox-1">
        </div>
        Students who have used
        <span>
          <div class="ui selection dropdown" id="grace_days_value">
            <input type="hidden" name="grace_days">
            <i class="dropdown icon"></i>
            <div class="default text">0</div>
            <div class="menu">
              <% for i in 1..@course_grace_days do%>
                <div class="item" data-value="<%=i%>"><%=i%></div>
              <% end %>
            </div>
          </div>
        </span>
        grace day(s) by
        <span>
          <div class="ui calendar" id="grace_days_by_date">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" placeholder="Date">
            </div>
          </div>
        </span>
      </div>
    </div>
    <br>

    <div class="metric">
      <div class="inline field">
        <div class="ui checkbox conditions" id="grade_drop_checkbox">
          <input type="checkbox" tabindex="0" class="hidden" name="metrics-checkbox-2">
        </div>
        Students whose grades have dropped by
        <span>
          <input type="text" placeholder="0" id='grade_drop_percentage'>
        </span>
        percent within
        <span>
          <div class="ui selection dropdown" id='grade_drop_consecutive_counts'>
            <input type="hidden" name="number">
            <i class="dropdown icon"></i>
            <div class="default text">0</div>
            <div class="menu">
              <% for i in 2..@max_consecutive_assessments do%>
                <div class="item" data-value="<%=i%>"><%=i%></div>
              <% end %>
            </div>
          </div>
        </span>
        consecutive assignments within a category
      </div>
    </div>
    <br>

    <div class="metric">
      <div class="inline field">
        <div class="ui checkbox conditions" id='no_submit_checkbox'>
          <input type="checkbox" tabindex="0" class="hidden" name="metrics-checkbox-3">
        </div>
        Students who did not submit at least
        <span>
          <div class="ui selection dropdown" id="no_submit_value">
            <input type="hidden" name="number">
            <i class="dropdown icon"></i>
            <div class="default text">0</div>
            <div class="menu" >
              <% for i in 1..@num_assessments do%>
                <div class="item" data-value="<%=i%>"><%=i%></div>
              <% end %>
            </div>
          </div>
        </span>
        assignment(s)
      </div>
    </div>
    <br>

    <div class="metric">
      <div class="inline field">
        <div class="ui checkbox conditions" id='low_grades_checkbox'>
          <input type="checkbox" tabindex="0" class="hidden" name="metrics-checkbox-4">
        </div>
        Students with at least
        <span>
          <div class="ui selection dropdown" id="low_grades_count">
            <input type="hidden" name="number">
            <i class="dropdown icon"></i>
            <div class="default text">0</div>
            <div class="menu">
              <% for i in 1..@num_assessments do%>
                <div class="item" data-value="<%=i%>"><%=i%></div>
              <% end %>
            </div>
          </div>
        </span>
        submitted assignment(s) below a percentage of
        <span>
          <input type="text" placeholder="0" id='low_grades_percentage'>
        </span>
      </div>
    </div>
    <br>
    <button class="ui disabled submit button" id="save">SAVE</button>
  </div>
</div>
