<% content_for :javascripts do %>
  <%= javascript_include_tag "sorttable" %>
<% end %>
<p>
<%= link_to "Return to Jobs", {:action=>"index"} %>
</p>
<h3>Job <%= @job[:id] %> Summary</h3>
<div class="jobs-table-div">
  <table class="jobs-table">
    <tbody>
      <tr>
        <td class="left">
          Name
        </td>
        <td class="right">
          <%= @job[:name] %>
        </td>
      </tr>
      <tr>
        <td class="left">
          ID
        </td>
        <td class="right">
          <%= @job[:id] %>
        </td>
      </tr>
      <tr>
        <td class="left">
          State
        </td>
        <td class="right">
          <%= @job[:state] %>
        </td>
      </tr>
      <tr>
        <td class="left">
          Status
        </td>
        <td class="right">
          <%= @job[:status] %>
        </td>
      </tr>
      <tr>
        <td class="left">
          Elapsed time
        </td>
        <td class="right">
          <%= @job[:elapsed] %> secs
        </td>
      </tr>
      <tr>
        <td class="left">
          VM instance
        </td>
        <td class="right">
          <%= @job[:rjob]["vm"]["id"] %>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<h3>Job Parameters</h3>
<div class="jobs-table-div">
  <table class="jobs-table">
    <tbody>
      <tr>
        <td class="left">
          VM image
        </td>
        <td class="right">
          <%= @job[:rjob]["vm"]["name"]%>
        </td>
      </tr>
      <tr>
        <td class="left">
          Output File
        </td>
        <td class="right">
          <%= @job[:rjob]["outputFile"].sub(/\/afs\/cs\.cmu\.edu\/academic\/autolab\/autolab2/, "[autolab]") %>
        </td>
      </tr>
      <tr>
        <td class="left">
          Maximum Output File Size
        </td>
        <td class="right">
          <%= @job[:rjob]["maxOutputFileSize"] %> bytes
        </td>
      </tr>
      <% if @cud.user.administrator?  then %>
        <tr>
          <td class="left">
            notifyURL
          </td>
          <td class="right">
            <%= @job[:rjob]["notifyURL"] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<h4> Input Files </h4>
<div class="jobs-table-div">
  <table class="jobs-table">
    <thead>
    <tr>
      <th>Local File on Server (<code>localFile</code>)</th>
      <th>Filename on VM (<code>localFile</code>)</th>
    </tr>
    </thead>
    <tbody style="font-size: 14px">
    <% for item in @job[:rjob]["input"] do %>
      <tr>
        <td>
          <code>
          <%= item["localFile"].sub(/\/afs\/cs\.cmu\.edu\/academic\/autolab\/autolab2\/courses/, "[autolab courses]")%>
          </code>
        </td>
        <td>
          <code><%= item["destFile"] %>
          </code>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</table>

<h3>Runtime Trace</h3>
<div class="result-container">
  <div class="feedback-container" style="width: 100%;">
    <div class="result-pane" style="padding: 0 2vh;">
      <ul>
        <% for item in @job[:rjob]["trace"] do %>
          <% poo = item.split("|") %>
          <li><span class="moment-date-time"><%= DateTime.parse(poo[0]).to_time.in_time_zone.to_s %></span> | <%= poo[1] %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



<h3>Most Recent Autograder Feedback for this Submission</h3>
<% if @feedback_str == nil || @feedback_str == "" then %>
  <pre>No Feedback Available</pre>
<% else %>
  <div class="result-container">
    <div class="feedback-container" style="width: 100%;">
      <div class="result-pane">
        <pre><%= @feedback_str %></pre>
      </div>
    </div>
  </div>
<% end %>
