<% @title = "Jobs" %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "sorttable" %>
<% end %>

<p>
  This page shows you the status of current and recent autograding jobs.<br>
  <% if @cud.user.administrator? or @cud.instructor? %>
    <%= link_to "Click here", tango_status_course_jobs_path %> to view the overall status of Tango VMs.
  <% end %>
</p>

<h4>Currently Running Jobs</h4>

<% if @running_jobs.blank? or @running_jobs == [] then %>
  None
<% else %>
  <table class='prettyBorder sortable'>
  <tr><th>Job ID</th><th>Job Name</th><th>Submitted At</th>
  <th>Elapsed (s)</th><th>Status</th></tr>
  <% for @job in @running_jobs do %>
    <tr>
    <td> <%= @job[:id] %> </td>
    <td> <%= @job[:name] %> </td>
    <td> <span class="moment-date-time"><%= DateTime.parse(@job[:first]).to_time.in_time_zone.to_s %></span> </td>
    <td> <%= @job[:elapsed] %> </td>

    <% if @job[:name] == "*" then %>
      <td> <%= @job[:state] %> </td>
    <% elsif @cud.user.administrator? or @cud.instructor? %>
      <td> <%= link_to @job[:status],
                       { controller: "jobs", action: "getjob", id: @job[:id] } %> </td>
    <% else %>
      <td><%= @job[:status] %></td>
    <% end %>

    </tr>
  <% end %>
  </table>
<% end %>

<h4>Jobs Waiting to Run</h4>

<% if @waiting_jobs.blank? or @waiting_jobs == [] then %>
  None
<% else %>
  <table class='prettyBorder sortable'>
  <tr><th>Job ID</th><th>Job Name</th><th>Submitted At</th><th>Elapsed (s)</th><th>Status</th></tr>
  <% for @job in @waiting_jobs do %>
    <tr>
    <td> <%= @job[:id] %> </td>
    <td> <%= @job[:name] %> </td>
    <td> <span class="moment-date-time"><%= DateTime.parse(@job[:first]).to_time.in_time_zone.to_s %></span> </td>
    <td> <%= @job[:elapsed] %> </td>

    <% if @job[:name] == "*" then %>
      <td> <%= @job[:state] %> </td>
    <% elsif @cud.user.administrator? or @cud.instructor? %>
      <td> <%= link_to @job[:state],
                       { controller: "jobs", action: "getjob", id: @job[:id] } %> </td>
    <% else %>
      <td> <%= @job[:state] %></td>
    <% end %>

    </tr>
  <% end %>
  </table>
<% end %>

<%
since = ""
if @dead_jobs_view &&
   @dead_jobs_view[-1] &&
   @dead_jobs_view[-1][:first] &&
   (@dead_jobs_view[-1][:first] != "")
  since = DateTime.parse(@dead_jobs_view[-1][:first]).to_time.in_time_zone.to_s
end
%>

<% if @cud.user.administrator? then %>
  <h4>Recently Completed Jobs (since <span class="moment-date-time"><%= since %></span>)</h4>
<% elsif @cud.instructor? then %>
  <h4>Recently Completed Jobs For This Course (since <span class="moment-date-time"><%= since %></span>)</h4>
<% else %>
  <h4>Your Recently Completed Jobs (since <span class="moment-date-time"><%= since %></span>)</h4>
<% end %>

<% if @dead_jobs_view.blank? or @dead_jobs == [] then %>
  None
<% else %>
  <table class='prettyBorder sortable'>
  <tr><th>Job ID</th><th>Job Name</th><th>Submitted At</th>
  <th>Elapsed (s)</th><th>Status</th></tr>
  <% for @job in @dead_jobs_view do %>
    <tr <% if @job[:state] == "Failed" then %> style="background-color:#ce4844; color:#fff"<% end %>>    <td> <%= @job[:id] %> </td>
    <td> <%= @job[:name] %> </td>
    <td> <span class="moment-date-time"><%= DateTime.parse(@job[:first]).to_time.in_time_zone.to_s %></span> </td>
    <td> <%= @job[:elapsed] %> </td>
    <td> <%= link_to @job[:state], { controller: "jobs", action: "getjob", id: @job[:id] } %> </td>
    </tr>
  <% end %>
  </table>

  <p>
  <% if @dead_jobs_view.size <= AUTOCONFIG_DEF_DEAD_JOBS then %>
    <%= link_to "View long list of recently completed jobs",
                { controller: "jobs", id: AUTOCONFIG_MAX_DEAD_JOBS } %>
  <% else %>
    <%= link_to "View short list of recently completed jobs",
                { controller: "jobs", id: nil } %>
  <% end %>
  </p>
<% end %>
