<% @title = "Tango Status" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "eventdrops" %>
  <%= stylesheet_link_tag "metricsgraphics" %>
  <%= stylesheet_link_tag "metricsgraphics_brushing" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "d3.v3.min" %>
  <%= javascript_include_tag "eventdrops" %>
  <%= javascript_include_tag "metricsgraphics.min" %>
  <%= javascript_include_tag "metricsgraphics_brushing" %>
    <script type="text/javascript">
      // initialize dataset
      var startTime = new Date("<%= @plot_start + "UTC" %>");
      var data = <%== @plot_data.to_json %>;
      data = jQuery.map(data, function(h) {
        h['dates'] = jQuery.map(h['dates'], function(d) {
          return new Date(d + "UTC");
        });
        return h;
      });
      var color = d3.scale.category20();
      // create chart function
      var eventDropsChart = d3.chart.eventDrops()
        .start(startTime - 4000000)
        .end(Date.now() + 4000000)
        .eventLineColor(function(datum, index) {
          switch (index) {
            case 0:
              return "#99ccff"
            case 1:
              return "#FF7300"
            case 2:
              return "#FF0000"
            default:
              return "#000000"
          }
        })
        .eventHover(function(e) {
          var tstamp = d3.select(e).data()[0]; // timestamp of event
          for (var row = 0; row < data.length; row++) {
            if (e.parentNode.firstChild.innerHTML.indexOf(data[row]['name']) == 0) {
              break;
            }
          }
          if (row == data.length) {
            return;
          }
          for (var idx = 0; idx < data[row]['dates'].length; idx++) { // Index of event
            if (data[row]['dates'][idx] == tstamp) {
              break;
            }
          }
          if (idx == data[row]['dates']) {
            return;
          }
          // display the event details
          document.getElementById('job_time').innerHTML = tstamp;
          document.getElementById('job_name').innerHTML = data[row]['job_name'][idx];
          document.getElementById('vm_id').innerHTML = data[row]['vm_id'][idx];
          document.getElementById('image_name').innerHTML = data[row]['vm_image'][idx];
          document.getElementById('job_duration').innerHTML = data[row]['duration'][idx];
          document.getElementById('job_id').innerHTML = data[row]['job_id'][idx];
          var status;
          switch (row) {
            case 0:
              status = data[row]['status'][idx];
              break;
            case 1:
              status = "Errored";
              break;
            case 2:
              status = "Failed";
              break;
          }

          document.getElementById('job_status').innerHTML = status;
        })
        .minScale(0.5)
        .maxScale(100)
        .width(1024)
        .margin({
          top: 60,
          left: 200,
          bottom: 0,
          right: 50
        });
      var element = d3.select('#tango_event_plot').datum(data);
      // draw the chart
      eventDropsChart(element);
      // set up window resize handler
      var chart = $("#tango_event_plot svg"),
        aspect = chart.width() / chart.height(),
        container = chart.parent();
      $(window).on("resize", function() {
        var targetWidth = container.width();
        chart.attr("width", targetWidth);
        chart.attr("height", Math.round(targetWidth / aspect));
      }).trigger("resize");

      /* MetricsGraphics zone */
      // Initialize Dataset
      var new_jobs = data[0];
      var eventarr = [];
      for (var i = 0; i < new_jobs.dates.length; i++) {
        var tmp = {};
        //for (var k in new_jobs) {
        //  if (new_jobs[k].constructor === Array) {
        //    tmp[k] = new_jobs[k][i];
        //  }
        tmp["dates"] = new_jobs["dates"][i];
        tmp["duration"] = new_jobs["duration"][i] * 10000;
        eventarr.push(tmp);
      }
      MG.data_graphic({
          title: "Elapsed Seconds History for BLAH",
          description: "This graphic shows a time-series of job lengths per VM pool.",
          data: eventarr,
          full_width: true,
          height: 250,
          buffer: 5,
          target: '#tango_time_plot',
          x_accessor: 'dates',
          x_label: 'Submission Time',
          y_accessor: 'duration',
          y_label: 'Duration (s)',
      });
    </script>

<% end %>

<h2>Tango Status</h2>

<h3>Global Statistics</h3>
<p> In current Tango session:</p>
<ul>
    <li>Total Job Requests: <%= @tango_info["job_requests"] %></li>
    <li>Total Job Retries: <%= @tango_info["job_retries"] %></li>
    <li>Job Runtime Errors: <%= @tango_info["runjob_errors"] %></li>
    <li>Job Copyout Errors: <%= @tango_info["copyout_errors"] %></li>
    <li>Tango Threads: <%= @tango_info["num_threads"] %></li>
</ul>

<h3>VM Pools</h3>

<table class="navigatable prettyBorder">
        <thead>
            <tr><th>Pool Name:</th><th>VM List:</th><th>Free VM List:</th><th>VM Availability Rate:</th></tr>
        </thead>
        <tbody>
                <% @vm_pool_list.each do |k, p| %>
                <tr>
                        <td><%= k %></td>
                        <td><%= p["total"].join(", ") %></td>
                        <td><%= p["free"].join(", ") %></td>
                        <td><%= number_to_percentage(p["free"].length.to_f / p["total"].length * 100, precision: 1) %></td>
                </tr>
                <% end %>
        </tbody>
</table>

<h3>Autograding Images in Use</h3>
<table class="navigatable prettyBorder">
        <thead>
            <tr><th>VM Image Name:</th><th>Courses Using VM Image:</th></tr>
        </thead>
        <tbody>
                <% @img_to_course.each do |img, courses| %>
                <tr>
                        <td><%= img %></td>
                        <td><%= courses.to_a.join(", ") %></td>
                </tr>
                <% end %>
        </tbody>
</table>


<h3>Global Job History</h3>
<p>
<i>Zoom/pan to adjust the timeframe below. Hover over an event to view details. Each dot in the diagram represent an event, including:</i><br />
&mdash; New Job Requests: any new jobs submitted to Tango;<br />
&mdash; Job Errors: non-fatal errors in Tango jobs;<br />
&mdash; Job Failures: jobs terminated with failure.<br />
<div id="tango_event_plot"></div>
<p><b>Event Summary:</b></p>
<div id="tango_job_hover">
    <ul>
        <li><b>Job Name:</b> <span id="job_name">Not selected</span>
        <li><b>Job ID:</b> <span id="job_id">Not selected</span>
        <li><b>Event Timestamp:</b> <span id="job_time">Not selected</span>
        <li><b>VM ID:</b> <span id="vm_id">Not selected</span>
        <li><b>Image Name:</b> <span id="image_name">Not selected</span>
        <li><b>Elapsed Seconds:</b> <span id="job_duration">Not selected</span>
        <li><b>Status:</b> <span id="job_status">Not selected</span>
    </ul>
</div>

<h3>Job Elapsed Seconds</h3>
<div id="tango_time_plot"></div>

<h3>Currently Running Jobs</h3>
<table class="navigatable prettyBorder">
        <thead>
            <tr><th>Job ID:</th><th>Job Name</th><th>VM Name:</th><th>Submitted At</th><th>Elapsed (s)</th></tr>
        </thead>
        <tbody>
                <% @tango_live_jobs.each do |j| %>
                <%   next unless j["assigned"] %>
                <tr>
                        <td><%= j["id"] %></td>
                        <td><%= j["name"] %></td>
                        <td><%= j["vm"]["name"] %>:<%= j["vm"]["id"] %></td>
                        <td><%= j["trace"].first.split("|")[0] %></td>
                        <td><%= Time.parse(j["trace"].last.split("|")[0]).to_i - Time.parse(j["trace"].first.split("|")[0]).to_i %></td>
                </tr>
                <% end %>
        </tbody>
</table>

<h3>Jobs Waiting to Run</h3>
<table class="navigatable prettyBorder">
        <thead>
            <tr><th>Job ID:</th><th>Job Name</th><th>VM Name:</th><th>Submitted At</th><th>Elapsed (s)</th></tr>
        </thead>
        <tbody>
                <% @tango_live_jobs.each do |j| %>
                <%   next if j["assigned"] %>
                <tr>
                        <td><%= j["id"] %></td>
                        <td><%= j["name"] %></td>
                        <td><%= j["vm"]["name"] %>:<%= j["vm"]["id"] %></td>
                        <td><%= j["trace"].first.split("|")[0] %></td>
                        <td><%= Time.parse(j["trace"].last.split("|")[0]).to_i - Time.parse(j["trace"].first.split("|")[0]).to_i %></td>                </tr>
                <% end %>
        </tbody>
</table>

