<% if ! @destroyCUD then %>
  No such user!
<% else %>
  <h2>Destroy <%= @destroyCUD.user.email %> in <%= @destroyCUD.course.display_name %></h2>
  <h3>DON'T DO THIS!!!!</h3>
  <b>This will destroy the account information, including their submission
history, their grades, their scores, and pretty much everything except for their
actual submission files... we keep those. <br></b>
<br>
  <%= form_tag course_course_user_datum_path(@course, @destroyCUD), method: :delete do %>
  <%= check_box_tag "yes1" %>Yes, I'm really freaking sure I want to do this. <br>
  <%= check_box_tag "yes2" %>I understand I'm about to destroy a student's
account, and that this is potentially REALLY bad. <br>
  <%= check_box_tag "yes3" %>I promise I will not run to one of the
system-adminstrators and beg them to restore the database because I accidently
deleted the account of <b><%= @destroyCUD.first_name %> <%=
@destroyCUD.last_name %></b><br>
  <br>
  <%= submit_tag("Oh just delete the account already!", :class => "waves-effect waves-light btn primary") %>
  <% end %>
  
<% end %>
