<% @title = "Editing Enrollment for " + @editCUD.user.full_name %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "course_user_data_edit" %>
<% end %>

<br>
<h4>Editing <%= @editCUD.user.full_name %>'s Enrollment in <%= @course.display_name %></h4>

<%= form_for @editCUD, url: course_course_user_datum_path(@course, @editCUD), builder: FormBuilderWithDateTimeInput do |f| %>
<% if @editCUD.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@editCUD.errors.count, "error") %>
      prohibited the data from being saved:</h2>

		<ul>
			<% @editCUD.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

  <br><br>
  <%= render partial: "fields", locals: {f: f, cud: @editCUD} %>

  <br>
  <br>
  <input id="user_submit" name="commit" type="submit" class="btn primary" value="Save Changes" onclick="formvalidation(this.parentNode); return false;">
  <!--<%= f.submit 'Save Changes' , {:class=>""} %>-->

<%end %>
