<% @title = "Edit Enrollment" %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "course_user_data_edit" %>
<% end %>

<h4>Editing <%= @editCUD.user.full_name %>'s Enrollment in <%= @course.display_name %></h4>

<%= form_for @editCUD, url: course_course_user_datum_path(@course, @editCUD), builder: FormBuilderWithDateTimeInput do |f| %>
  <br>
  <%= render partial: "fields", locals: { f:, cud: @editCUD, edit: true } %>

  <br>
  <input id="user_submit" name="commit" type="submit" class="btn primary" value="Save Changes">

<% end %>
