<% @title = "Editing Enrollment for " + @editCUD.user.full_name %>

<% content_for :javascripts do %>
  <script type="application/javascript">
    function formvalidation(form){
      function DoubleByte(str) {
        for (var i = 0, n = str.length; i < n; i++) {
          if (str[i].charCodeAt() > 127) { return true; }
        }
        return false;
      }
      var formlog = 'Your nickname ';
      function flag(msg, nickname){
        nickname.setAttribute('style','background-color:#FFF352');
        if (formlog!= 'Your nickname '){formlog+=' and ';}
        formlog +=msg;

        nickname.focus();
      }
      var nickname = document.getElementById('user_nickname');
      var approve = true;

      if (nickname.value.length>20){approve = false; flag('is too long',nickname);}
      if (DoubleByte(nickname.value)===true){approve = false; flag('has non-ASCII characters',nickname);}

      if (approve){
        form.submit();
      } else {
        alert(formlog);
      }
    }
  </script>
<% end %>

<br>
<h2>Editing <%= @editCUD.user.full_name %>'s Enrollment in <%= @course.display_name %></h2>

<%= form_for @editCUD, url: course_course_user_datum_path(@course, @editCUD), builder: FormBuilderWithDateTimeInput do |f| %>
<% if @editCUD.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@editCUD.errors.count, "error") %>
      prohibited the data from being saved:</h2>

		<ul>
			<% @editCUD.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

  <br><br>
  <%= render partial: "fields", locals: {f: f, cud: @editCUD} %>

  <br>
  <br>
  <input id="user_submit" name="commit" type="submit" class="btn primary" value="Save Changes" onclick="formvalidation(this.parentNode); return false;">
  <!--<%= f.submit 'Save Changes' , {:class=>""} %>-->

<%end %>
