<h3>Account Details for <%= @user.andrewID %></h3>
<table class="noStyle" >
<tr><td>Name</td><td><td> <%= @user.full_name %> </td></tr>
<tr><td class="noStyle" >First Name</td><td class="noStyle"><%= @user.first_name %></td></tr>
<tr><td class="noStyle" >Last Name</td><td class="noStyle"><%= @user.last_name %></td></tr>
<tr><td class="noStyle" >andrewID</td><td class="noStyle"><%= @user.andrewID %></td></tr>
<tr><td class="noStyle">Email</td><td class="noStyle"><%= @user.email %></td></tr>
<tr><td class="noStyle">School</td><td class="noStyle"><%= @user.school %></td></tr>
<tr><td class="noStyle">Major</td><td class="noStyle"><%= @user.major %></td></tr>
<tr><td class="noStyle">Year</td><td class="noStyle"><%= @user.year %></td></tr>
<tr><td class="noStyle">Lecture</td><td class="noStyle"><%= @user.lecture %></td></tr>
<tr><td class="noStyle">Recitation</td><td class="noStyle"><%= @user.section %></td></tr>
<tr><td class="noStyle">Course</td><td class="noStyle"><%= @user.course.display_name %></td></tr>
</table>
<%= link_to 'Edit this information' , :action=>"edit", :id=>@user.id %>

