<% content_for :javascripts do %>
  <script type="application/javascript">
    $("#user-lookup").on('click', userLookup);
    $("#course_user_datum_user_attributes_email").on('blur', userLookup)
    /**
     * this AJAX function does an LDAP lookup on the partially-entered user email.
     **/
    function userLookup() {
      var email_input = document.getElementById("course_user_datum_user_attributes_email").value;
      if (!email_input || email_input == "") return;

      $.get('<%= url_for [:userLookup, @course, remote: true]  %>',  { email: email_input }, function( data ) {

        if (!data)  {
          $('#course_user_datum_user_attributes_first_name').prop('disabled', false);
          $('#course_user_datum_user_attributes_last_name').prop('disabled', false);
          $('#course_user_datum_user_attributes_first_name').focus();
          $('#course_user_datum_user_attributes_first_name').val("");
            $('#course_user_datum_user_attributes_last_name').val("");
          return;
        }
        else {
          $('#course_user_datum_user_attributes_first_name').val(data.first_name);
          $('#course_user_datum_user_attributes_first_name').prop('disabled', true);
          $('#course_user_datum_user_attributes_last_name').val(data.last_name);
          $('#course_user_datum_user_attributes_last_name').prop('disabled', true);
          $('#course_user_datum_nickname').focus();
        }
      });
    }
  </script>
<% end %>

<h2>Add New User to Course</h2>
<%= form_for @newCUD, url: course_course_user_data_path do |f| %>

<% if @newCUD.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@newCUD.errors.count, "error") %>
      prohibited the data from being saved:</h2>
			
		<ul>
			<% @newCUD.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

  <table width=70% class="verticalTable" >
  <tr><th>Course</th><td><%= @course.display_name %></td></tr>
  
  <%= f.fields_for :user, @newCUD.user do |u| %>
    <tr><th>User Email: </th><td><%= u.email_field :email %></td>
  		<td><a id="user-lookup">User Lookup</a>
      <i class='smallText'> <b>(Enter email, then click this link to fill in user info from records)</b></i></td></tr>

    <tr><th>First Name</th><td><%= u.text_field :first_name %></td>
    <td class="smallText"></td></tr>
    <tr><th>Last Name</th><td><%= u.text_field :last_name %></td>
    <td class="smallText"></td></tr>

  <% end %>

  <tr><th>Nickname: </th><td><%= f.text_field :nickname %></td>
  <td class="smallText">Anonymizing nickname to display on the public scoreboards</td> </tr>

  <tr><th>Lecture</th><td><%= if @cud.instructor? then f.text_field :lecture else @newCUD.lecture end %></td>
  <td class="smallText">Ex: 15213/18213</td></tr>

  <tr><th>Section</th><td><%= if (@cud.instructor?) or (@newCUD.course.name == "15213-s11") then f.text_field :section else @newCUD.section end%></td>
  <td class="smallText">Ex: C<% if @cud.instructor? %>. A course assistant can see the gradebook and bulk-release grades for their assigned <em>lecture and section</em>.<% end %></td></tr>

  <% if @cud.instructor? then %>

  <tr>
    <th>Course average tweak:</th>
    <td>
    <%= f.fields_for :tweak, @newCUD.tweak do |t| %>
      <%= t.text_field :value, :size => 18, :value => "0" %>
      <%= t.select :kind, options_for_select({"points" => "points", "%" => "percent"}, :selected => (@newCUD.tweak ? @newCUD.tweak.kind : "points")) %>
    <% end %>
    </td> 
    <td class="smallText">A tweak is a positive or negative value that adjusts the student's course average.<br>Ex: A tweak of 5 points would increase the student's course average by 5 points. </td>
  </tr>

	<tr><th>Dropped?</th><td><%= f.check_box :dropped %><label for="course_user_datum_dropped"></label></td>
  <td class="smallText">Dropping a student from a course prevents them from handing in submissions or downloading assessments. Additionally they do not appear in any gradebook. None of their account information or submissions are deleted.</td></tr>

  <tr><th>Instructor?</th><td><%= f.check_box :instructor %><label for="course_user_datum_instructor"></label></td>
  <td class="smallText">Instructors have full read/write access to the course. </td></tr>

  <tr><th>Course assistant?</th><td><%= f.check_box :course_assistant %><label for="course_user_datum_course_assistant"></label></td>
  <td class="smallText">Course assistants can assign scores to problems and nothing else.</td></tr>
  <% end %>

  
  </table>
  <br>
  <input id="user_submit" class="waves-effect waves-light btn primary"name="commit" type="submit" value="Save Changes" onclick="formvalidation(this.parentNode); return false;">

<% end %>
