<h2><%= @requestedUser.full_name %> (<%= @requestedUser.nickname %>)</h2>
<ul class="gray-box">
  <li><b>Contact</b><br>
    <%= @requestedUser.andrewID %> (andrewid)<br>
    <a href="mailto:<%= @requestedUser.email %>"><%= @requestedUser.email %></a></li>
  <li><b>About</b><br>
    Lecture <strong><%= @requestedUser.lecture %></strong><br>
    Section <strong><%= @requestedUser.section %></strong><br>
    Course <strong><%= @requestedUser.course.display_name %></strong><br>
    <%= @requestedUser.school %> <%= @requestedUser.major %>, Class of <%= @requestedUser.year %></li>
  <% if @user.instructor? then %>
  <li><b>Course Average Tweak</b> of <%=raw tweak(@requestedUser.tweak) %></li>
  <% end %>
</ul>
<% if @user.instructor? then %>
  <%= link_to raw('<span class="btn primary">Edit Information</span>'), edit_course_user_path(@course, @requestedUser), :id=>@requestedUser.id %>
<% end %>
