<h1>Confirmed Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Members</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td>
          <ul>
            <% group.confirmed_AUDs.each do |aud| %>
              <li><%= aud.course_user_datum.email %></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_course_assessment_group_path(@course, @assessment) %>

<h1>Students Without Groups</h1>

<p><i>Coming soon...</i></p>
