<h1>Group: <%= @group.name %></h1>

<% if @aud.group_id == @group.id %>
  <% if (@aud.membership_status & AssessmentUserDatum::MEMBER_CONFIRMED) == 0 then %>
    <p>You have not confirmed your group yet.</p>
    <%= link_to "Confirm", [:join, @course, @assessment, @group], method: :post, class: "btn btn-primary" %>
    <%= link_to "Leave", [:leave, @course, @assessment, @group], method: :post, class: "btn btn-danger" %>
  <% elsif (@aud.membership_status & AssessmentUserDatum::GROUP_CONFIRMED) == 0 then %>
    <p>Your group has not confirmed your membership yet.</p>
  <% end %>
  <% if @aud.group_confirmed then %>
    <%= render "form" %>
  <% end %>
<% end %>

<h2>Group Members</h2>
<ul>
<% @group.assessment_user_data.each do |aud| %>
  <li>
    <% cud = aud.course_user_datum %>
    <%= cud.email %>
    <% if !aud.group_confirmed(AssessmentUserDatum::MEMBER_CONFIRMED) then %>
      (This Member has not Confirmed his Membership yet)
      <% if @aud.confirmed_in_group(@group) then %>
        | <%= link_to "(Remove from Group?)", [:leave, @course, @assessment, @group, member_id: cud.id], method: :post %>
      <% end %>
    <% elsif !aud.group_confirmed(AssessmentUserDatum::GROUP_CONFIRMED) then %>
      (This Member has not been Confirmed by the Group yet)
      <% if @aud.confirmed_in_group(@group) then %>
        | <%= link_to "(Confirm Membership?)", [:add, @course, @assessment, @group, member_id: cud.id], method: :post %>
      <% end %>
    <% end %>
  </li>
<% end %>
</ul>

<% if @grouplessCUDs then %>
  <h2>Invite Another Student to Join This Group</h2>
  <ul>
    <% @grouplessCUDs.each do |cud| %>
      <li><%= cud.email %> (<%= link_to "Invite to Group", [:add, @course, @assessment, @group, member_id: cud.id], method: :post %>)</li>
    <% end %>
  </ul>
<% end %>

<%= groups_back_link %>
