<h1>Group: <%= @group.name %></h1>

<% if @aud.group_id == @group.id && !@aud.group_confirmed then %>
  <p>You have not confirmed your group yet.</p>
  <%= link_to "Confirm", [:join, @course, @assessment, @group], method: :post %> |
  <%= link_to "Leave", [:leave, @course, @assessment, @group], method: :post %>
<% end %>

<h2>Group Members</h2>
<ul>
<% @group.assessment_user_data.each do |aud| %>
  <li>
    <% cud = aud.course_user_datum %>
    <%= cud.email %>
    <% unless aud.group_confirmed then %>
      (Not Confirmed)
    <% end %>
  </li>
<% end %>
</ul>

<% if @aud.group_id == @group.id then %>
  <%= link_to 'Change Name', [:edit, @course, @assessment, @group] %> | 
  <%= link_to 'Leave Group', [:leave, @course, @assessment, @group], { method: :post, data: { confirm: 'Are you sure?' } } %> | 
<% end %>
<%= groups_back_link %>
