<% @title = @group.name %>
<h2>Group: <%= @group.name %></h2>

<% if @aud.group_id == @group.id or @cud.instructor then %>
  <% if (@aud.membership_status & AssessmentUserDatum::MEMBER_CONFIRMED) == 0 then %>
    <p>You have not confirmed your group membership yet.</p>
    <%= link_to "Confirm Membership", join_course_assessment_group_path(@course, @assessment, @group), method: :post %> |
    <%= link_to "Deny Membership", leave_course_assessment_group_path(@course, @assessment, @group), method: :post %>
  <% elsif (@aud.membership_status & AssessmentUserDatum::GROUP_CONFIRMED) == 0 then %>
    <p>Your group has not confirmed your membership yet.</p>
  <% end %>
  <% if @aud.group_confirmed then %>
    <%= render "form" %>
  <% end %>
<% end %>

<h2>Group Members</h2>
<ul class="gray-box">
  <% @group.assessment_user_data.each do |aud| %>
    <li>
      <% cud = aud.course_user_datum %>
      <h3><%= cud.email %></h3>
      <% if !aud.group_confirmed(AssessmentUserDatum::MEMBER_CONFIRMED) then %>
        <p>This Member has not Confirmed their Membership yet.</p>
        <% if @group.is_member(@aud) or @cud.instructor then %>
          <p>
            <%= link_to "Cancel Request",
                        leave_course_assessment_group_path(@course, @assessment, @group, member_id: cud.id),
                        method: :post %>
          </p>
        <% end %>
      <% elsif !aud.group_confirmed(AssessmentUserDatum::GROUP_CONFIRMED) then %>
        <p>This Member has not been Confirmed by the Group yet.</p>
        <% if @group.is_member(@aud) or @cud.instructor then %>
          <p>
            <%= link_to "Confirm Membership",
                        add_course_assessment_group_path(@course, @assessment, @group, member_id: cud.id),
                        method: :post %> |
            <%= link_to "Deny Membership",
                        leave_course_assessment_group_path(@course, @assessment, @group, member_id: cud.id),
                        method: :post %>
          </p>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @group.is_member(@aud) or @cud.instructor then %>
  <% if @group.assessment_user_data.size < @assessment.group_size then %>
    <h2>Invite Another Student to Join This Group</h2>
    <%= form_tag add_course_assessment_group_path(@course, @assessment, @group) do %>
      <div class="form-group">
        <label class="control-label" for="member_email">Partner Email</label>
        <%= text_field_tag :member_email, nil, class: "form-control", autocomplete: "email" %>
        <p class="help-block">The email of your desired partner. They will need to confirm their membership.</p>
      </div>

      <%= submit_tag "Invite to Group", class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>

<% if false and @grouplessCUDs then # disabled while we wonder if students should be trusted %>
  <h2>Invite Another Student to Join This Group</h2>
  <ul class="small gray-box">
    <% @grouplessCUDs.each do |cud| %>
      <% if cud.id != @cud.id && cud.student? then %>
        <li><b><%= cud.email %></b>
          (<%= link_to "Invite to Group", add_course_assessment_group_path(@course, @assessment, @group, member_id: cud.id),
                       method: :post %>)
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<div style="margin-top: 1em">
  <% if @group.is_member(@aud) then %>
    <%= link_to "Leave Group", leave_course_assessment_group_path(@course, @assessment, @group),
                { method: :post, data: { confirm: "Are you sure you want to leave your group?" } } %> |
  <% end %>
  <%= groups_back_link %>
</div>
