<div id="userTable">
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being saved:</h3>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.email_field :email %>
    <%= f.label :email %>
  </div>

  <div class="input-field">
    <%= f.text_field :first_name %>
    <%= f.label :first_name %>
  </div>
  <div class="input-field">
    <%= f.text_field :last_name %>
    <%= f.label :last_name %>
  </div>
  <% if current_user.administrator? %>
    <div class="field">
        <label>
              <%= f.check_box :administrator %>
            <span> <%= f.label :administrator %> </span> <br>
        </label>

    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Create User", { class: "btn primary" } %>
  </div>
<% end %>
</div>
