<h2>Editing Account Details for <%= @user.email %></h2>
<%= form_for @user, url: user_path(@user) do |f| %>

<% if @user.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being saved:</h2>
			
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<table width=70% class="verticalTable" >
  <tr><th>Email</th><td><%= f.email_field :email, readonly: true %></td></tr>
	
  <tr><th>First name: </th><td><%= f.text_field :first_name %></td></tr>

  <tr><th>Last name: </th><td><%= f.text_field :last_name %></td></tr>

  <% if current_user.administrator? then %>
		<tr><th>Administrator?</th><td><%= f.check_box :administrator %><label for="user_administrator"></label>
			    </p></td></tr>
  <% end %>
  
</table>

  <%= f.submit 'Save Changes', { :class=>"waves-effect waves-light btn primary"} %>
<% end %>

<% if current_user.administrator? %>
<hr>
<h3> Admin Only</h3>
  <%= link_to raw('<span class="btn">Delete User</span>'), user_path(@user), method: :delete, confirm: "Are you sure!?" %>
<% end %> 
