<h4><%= @user.display_name %></h4>
<ul class="gray-box">
  <li>
    <b>Contact</b><br>
    <a href="mailto:<%= @user.email %>"><%= @user.email %></a>
  </li>
  <li> <b>About</b><br>
    <% if @user.first_name.present? %>
      First name: <strong><%= @user.first_name %></strong>
    <% else %>
      First name: (student has no first name)
    <% end %>
    <br>
    <% if @user.last_name.present? %>
      Last name: <strong><%= @user.last_name %></strong>
    <% else %>
      Last name: (student has no last name)
    <% end %>
    <br>
  </li>
  <li>
    <b>
      Courses
    </b>
    <% if @cuds.empty? %>
      <strong> None </strong>
    <% else %>
      <ul>
        <% @cuds.each do |cud| %>
          <li><%= link_to cud.course.display_name, edit_course_course_user_datum_path(cud.course, cud) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </li>
</ul>
<%= link_to raw('<span class="btn primary">Edit Information</span>'), edit_user_path(@user) %>
<% if current_user.administrator? && @user.id != current_user.id %>
  <%= link_to raw('<span class="btn">Delete User</span>'), user_path(@user), method: :delete, data: {confirm: "Are you sure!?"} %>
<% end %>
<% if @user == current_user %>
  <hr>
  <h4>Private Settings</h4>
  <%= link_to raw('<span class="btn primary">Change Password</span>'), edit_user_registration_path %>
  <% if GithubIntegration.connected %>
    <% if @user.github_integration && @user.github_integration.is_connected %>
      <%= link_to raw('<span class="btn primary">Revoke Github Token</span>'), github_revoke_user_path(@user), data: {method: "post"} %>
    <% else %>
      <%= link_to raw('<span class="btn primary">Connect to Github</span>'), github_oauth_user_path(@user) %>
    <% end %>
  <% end %>
  <h4>API Settings</h4>
  <%= link_to raw('<span class="btn primary">New Activation</span>'), device_flow_activation_path %>
  <%= link_to raw('<span class="btn primary">Managed Authorized Clients</span>'), oauth_authorized_applications_path %>
<% end %>
