<h2>Changing password for <%= @user.email %></h2>

<%= form_for @user, url: update_password_for_user_user_path(@user), html: { method: :put } do |f| %>
    <div class="input-field">
        <%= f.password_field :password, autofocus: true %>
        <%= f.label :password, "New password" %>
    </div>

    <div class="input-field" style="margin-bottom: 2rem;">
        <%= f.password_field :password_confirmation %>
        <%= f.label :password_confirmation, "Confirm new password" %><br>
    </div>

    <div><%= f.submit "Change password for #{@user.display_name}", { class: "btn primary" } %></div>
<% end %>

<%= link_to "Back", :back, { class: "btn secondary" } %>
