<%= javascript_include_tag "ace/ace" %>
<%= javascript_include_tag "ace/theme-eclipse" %>
<%= javascript_include_tag "editor" %>
<%= stylesheet_link_tag "editor" %>

<script>
  $(function() {
    var CODE_SCALE = 0.65;

    // Needs to be passed into the partial and is the url to which 
    // the text is sent to on a save event.
    var sendLink = '<%= callback %>';

    // All of the different language modes supported.
    var modeArray = <%= editor_modes %>;

    // Namespacing object, it sits in editor.js
    AutolabEditor.init('code');
    AutolabEditor.setupModes(modeArray, 'mode_id');
    AutolabEditor.setupBindings('binding_id');
    AutolabEditor.setupWrapping('wrap');
    AutolabEditor.setupTabs('tabs');
    AutolabEditor.setupInvisibles('invisibles');
    AutolabEditor.setupTheme();
    AutolabEditor.setupSaving(sendLink, 'controlForm');

    // Ensure that the editor always takes up the same fraction of
    // the screen. This assumes that it's the only big vertical block
    // on the page.
    $('#code, #editorBar').height($(window).height() * CODE_SCALE);
    $(window).resize(function() {
      $('#code, #editorBar').height($(window).height() * CODE_SCALE);
      AutolabEditor.editor.resize();
    });
  });
</script>

<%= form_tag '/', :id => 'controlForm' do %>
<div id="editorBar">
<table id="editorControl">
  <tr>
    <td>Language</td>
    <td><%= select 'mode', 'id', editor_mode_options %></td>
  </tr>
  <tr>
    <td>Key Bindings</td>
    <td><%= select 'binding', 'id', [['Standard', 'standard'], ['Vim', 'vim'], ['Emacs', 'emacs']] %></td>
  </tr>
  <tr>
    <td>Soft Wrap</td>
    <td><%= check_box_tag 'wrap', 'wrap', true %></td>
  </tr>
  <tr>
    <td>Soft Tabs</td>
    <td><%= check_box_tag 'tabs', 'tabs', true %></td>
  </tr>
  <tr>
    <td>Show Invisibles</td>
    <td><%= check_box_tag 'invisibles', 'invisibles', false %></td>
  </tr>
  <tr>
    <td colspan=2 style="text-align: center;"><%= submit_tag 'Save' %></td>
  </tr>
</table>
</div>
<% end %>

<pre id="code">
<%=h text %>
</pre>
