<li class="collection-item">
  <p>
    <%= link_to attachment.has_assessment? ? course_assessment_attachment_path(@course, attachment.assessment, attachment) : course_attachment_path(@course, attachment) do %>
      <i class="material-icons left">file_download</i>
      <%= attachment.name %>
      <% unless attachment.released? %>
          <b>(Not Released)</b>
      <% end %>
    <% end %>

    <% if attachment.has_assessment? && @assessment.nil? %>
      (<%= attachment.assessment.display_name %>)
    <% end %>

    <span class="secondary-content">
    <% if @cud.instructor? %>
      <%= link_to '<i class="material-icons left">mode_edit</i>'.html_safe,
                  attachment.has_assessment? ? edit_course_assessment_attachment_path(@course, attachment.assessment, attachment) : edit_course_attachment_path(@course, attachment),
                  { class: "small" } %>
      <%= link_to '<i class="material-icons left">delete</i>'.html_safe,
                  attachment.has_assessment? ? course_assessment_attachment_path(@course, attachment.assessment, attachment) : course_attachment_path(@course, attachment),
                  { method: :delete, class: "small", data: { confirm: "Are you sure you want to delete this attachment?" } } %>
    <% end %>
    </span>
  </p>
</li>
