<% content_for :javascripts do %>
  <%= javascript_include_tag "initialize_datetimepickers" %>
  <script>
    $(document).ready(function() {
      const $attachmentReleaseAt = $("#attachment_release_at");

      function updateReleaseStatus() {
        const release_at = moment($attachmentReleaseAt.val(), "YYYY-MM-DD HH:mm ZZ");
        const now = moment();
        const $status = $("#release_status");

        if (release_at.isAfter(now)) {
          $status.html(`Attachment will be released in ${moment.duration(now.diff(release_at)).humanize()}.`);
        } else {
          $status.html("Attachment will be released immediately.");
        }
      }
      $attachmentReleaseAt.on("change", updateReleaseStatus);
      updateReleaseStatus();
    });
  </script>
<% end %>
<%= form_for @attachment, as: :attachment, url: path, builder: FormBuilderWithDateTimeInput do |f| %>
  <ul>
    <li>
      <%= f.text_field :name, required: true %>
    </li>
    <% unless @is_assessment %>
      <li>
        <%= f.text_field :category_name, required: true %>
      </li>
    <% end %>
    <li>
      <% if @attachment.new_record? %>
        <%= f.file_field :file, button_text: "Upload Attachment", help_text: "Max Size: 1GB" %>
      <% else %>
        <%= f.text_field :mime_type,
                         help_text: "Note: If you change the Mime type of a file, you might need to clear your browser's cache in order for you to see the change." %>
      <% end %>
    </li>
    <li>
      <%= f.datetime_select :release_at, help_text: "Release attachment after this time" %>
    </li>
    <li>
      <% if @is_assessment %>
        <%= link_to "Cancel", course_assessment_path(@course, @assessment), class: "btn-flat" %>
      <% else %>
        <%= link_to "Cancel", course_path(@course), class: "btn-flat" %>
      <% end %>
      <%= f.submit(@attachment.new_record? ? "Create Attachment" : "Save Changes") %>
    </li>
    <li style="margin-top: 20px">
        <strong id="release_status"></strong>
    </li>
  </ul>
<% end %>
