<% content_for :javascripts do %>
  <%= javascript_include_tag "initialize_datetimepickers" %>
<% end %>
<%= form_for @attachment, as: :attachment, url: path, builder: FormBuilderWithDateTimeInput do |f| %>
  <ul>
    <li>
      <%= f.text_field :name, required: true %>
    </li>
    <li>
      <%= f.text_field :category_name, required: true %>
    </li>
    <li>
      <% if @attachment.new_record? %>
        <%= f.file_field :file, button_text: "Upload Attachment" %>
      <% else %>
        <%= f.text_field :mime_type,
                         help_text: "Note: If you change the Mime type of a file, you might need to clear your browser's cache in order for you to see the change." %>
      <% end %>
    </li>
    <li>
      <%= f.datetime_select :release_at, help_text: "Release attachment after this time" %>
    </li>
    <li>
      <%= f.submit(@attachment.new_record? ? "Create Attachment" : "Save Changes") %>
      <% unless @attachment.new_record? %>
        <%= link_to "Delete Attachment",
                    course_attachment_path(@course, @attachment),
                    method: :delete, class: "btn danger", data: { confirm: "Are you sure you want to delete this attachment?" } %>
      <% end %>
    </li>
  </ul>
<% end %>
