<% content_for :javascripts do %>
  <script>
      function rename(path) {
          let new_name = prompt("Enter the new name:");
          let rel_path = path.split("/file_manager/")[1].replace(/%40/g, '@');
          $.ajax({
              url: "/file_manager/" + rel_path,
              type: "PUT",
              data: { new_name: new_name, relative_path: rel_path},
              success: function(data) {
                  console.log(`Renamed: ${rel_path}`)
                  location.reload();
              }
          });
      }

      function deleteSelected(path) {
          $.ajax({
              url: path,
              type: "DELETE",
              headers: {
                  'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
              },
              success: function () {
                  console.log(`Deleted: ${path}`);
                  location.reload();
              },
              error: function (xhr, status, error) {
                  console.error(`Failed to delete ${path}: ${error}`);
              }
          });
      }

      function uploadFile(file, path, name) {
          let formData;
          let pathSegments = path.split('/');
          pathSegments.pop();
          let modifiedPath = pathSegments.join('/');

            formData = new FormData();
            formData.append('file', file);
            formData.append('name', name);
          $.ajax({
              url: modifiedPath,
              type: "POST",
              headers: {
                  'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content'),
              },
              data: formData,
              contentType: false,
              processData: false,
              success: function () {
                  console.log("Uploaded files successfully");
                  location.reload();
              },
              error: function (xhr, status, error) {
                  console.error(`Failed to upload files: ${error}`);
              }
          });
      }

      function uploadAllFiles(path) {
          let inputElement = document.getElementById('fileInput');

          let files = inputElement.files;

          if (files.length > 0) {
              for (let i = 0; i < files.length; i++) {
                  let file = files[i];
                  uploadFile(file, path, "");
              }
          } else {
              console.log('No files selected.');
          }
      }

      function getSelectedItems() {
          let selectedItems = $("input[type='checkbox']:checked");
          let paths = [];

          selectedItems.each(function(index, element) {
              paths.push(jQuery(element).prop('value'));
          });

          return paths
      }

      function create_folder(path) {
          let name = prompt("Name of folder: ");
          uploadFile("", path, name);
      }

      $("#delete-selected").click(function(e) {
          let paths = getSelectedItems();

          if (paths.length > 0 && confirm("Delete selected files?")) {
              paths.forEach(path => {
                  deleteSelected(path);
                  e.preventDefault();
              });
          }
      })
  </script>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "file_manager" %>
<% end %>

<div class="div-row">
  <%= form_tag({}, multipart: true) do %>
    <input type="file" name="files" id="fileInput" multiple>
    <input type="submit" onclick="uploadAllFiles('<%= @directory[1][:relative] %>')" value="Upload">
  <% end %>
  <label for="delete-selected"></label>
  <input type="submit" id="delete-selected" value="Delete Selected">
  <label for="download-selected"></label>
  <input type="submit" id="download-selected" value="Download Selected">
</div>
<div class="div-row-2">
  <label for="create-folder"></label>
  <input type="submit" id="create-folder" value="Create Folder"
         onclick="create_folder('<%= @directory[1][:relative] %>')">
</div>
<table class="table">
  <thead>
  <tr>
    <th></th>
    <th>Filename</th>
    <th>Size</th>
    <th>Date</th>
    <th>Rename</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <% @directory.each do |entry| %>
    <% if entry[:instructor] && entry[:entry] != './' %>
      <tr class="table-row-center">
        <td class="table-col-center">
          <%= check_box_tag 'selected_files[]', entry[:relative], false, { html: { data: { path: entry[:relative] }}} %>
        </td>
        <td>
          <%= link_to entry[:relative].to_s do %>
            <i class='material-icons left middle'><%= entry[:type] == :file ? 'article' : 'folder' %></i>
            <span><%= entry[:entry] %></span>
          <% end %>
        </td>
        <td>
          <%= entry[:size] %>
        </td>
        <td>
          <%= entry[:date] %>
        </td>
        <td>
          <% if entry[:entry] != './' && entry[:entry] != '../' %>
            <%= link_to "#", id: "rename-file", onclick: "rename('#{entry[:relative]}')" do %>
              <i class='material-icons left align-middle'>I</i>
              Rename
            <% end %>
          <% end %>
        </td>
        <td>
          <% if entry[:entry] != './' && entry[:entry] != '../' %>
            <%= link_to "#", id: "delete-file", data: { confirm: "Are you sure you want to delete `#{entry[:absolute]}`?" }, onclick: "deleteSelected('#{entry[:relative]}')" do %>
              <i class='material-icons left middle'>delete</i>
              Delete
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

