<div id="annotationPane">
  <div id="loadScreen">
    <div class="preloader-wrapper small active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="annotationSummary">
    <ul class="collapsible expandable">
      <% p_scores = @submission.problems_to_scores %>
      <% @problem_data.each do |problem_data| %>
        <li id="li-problem-<%= problem_data[:name] %>" class="active problem_item">
          <div class="collapsible-header-wrap">
            <div class="collapsible-header">
              <h4> <%= problem_data[:name].capitalize %>
                  <div class="summary_score" id="summary-score-<%= problem_data[:id] %>">
                    <% p_score = p_scores[problem_data[:id]] %>
                    <% if @submission.grades_released?(@cud) %>
                      <%= p_score&.score ? sprintf("%.2f", p_score.score.round(2)) : 0.0 %>
                      (<%= p_score&.score ? sprintf("%.2f", p_score.score.round(2)) : raw("&ndash;") %>
                      / <%= problem_data[:max_score] ? sprintf("%.2f", problem_data[:max_score].round(2)) : raw("&ndash;") %>)
                    <% end %>
                  </div>
              </h4>
            </div>
            <div class="collapsible-header-controls">
              <a href="#" title="Expand dropdown"><i class="small material-icons expand-icon">expand_more</i></a>
              <a href="#" title="Collapse dropdown"><i class="small material-icons collapse-icon">expand_less</i></a>
              <% if @cud.instructor? or @cud.course_assistant? %>
              <a href="#" class="global-annotation-add-button" data-problem="<%= problem_data[:name] %>" title="Add global annotation">
                <i class="small material-icons">add</i>
              </a>
              <% end %>
            </div>
          </div>
          <div class="collapsible-body">
            <% if @submission.grades_released?(@cud) %>
              <!-- Rubric Items Section -->
              <% if problem_data[:has_rubric] && (@cud.instructor? || @cud.course_assistant?) %>
                <div class="rubric-items-container">
                  <ul class="rubric-items-list">
                    <% problem_data[:rubric_items].each do |item_data| %>
                      <li class="rubric-item">
                        <%= form_tag toggle_course_assessment_submission_rubric_item_path(@course, @assessment, @submission, item_data[:id]), method: :post, class: "rubric-toggle-form" do %>
                          <input type="hidden" name="header_position" value="<%= params[:header_position] %>">
                          <button type="submit" class="rubric-item-toggle-btn <%= item_data[:assigned] ? 'active' : '' %>" 
                                  data-problem-id="<%= problem_data[:id] %>">
                            <span class="rubric-item-desc"><%= item_data[:description] %></span>
                            <span class="rubric-item-points"><%= plus_fix(item_data[:points]) %></span>
                            <i class="material-icons rubric-toggle-icon">
                              <%= item_data[:assigned] ? 'check_box' : 'check_box_outline_blank' %>
                            </i>
                          </button>
                        <% end %>
                        
                        <% if item_data[:global_annotations].any? || item_data[:annotations_by_file].any? %>
                          <div class="rubric-item-annotations">
                            <% # Render global annotations %>
                            <% item_data[:global_annotations].each do |annotation| %>
                              <%= render partial: "annotations/global_annotation", locals: { annotation: annotation, problem_name: problem_data[:name] } %>
                            <% end %>
                            
                            <% # Render file annotations grouped by filename %>
                            <% item_data[:annotations_by_file].each do |filename, file_annotations| %>
                              <div class="file_annotations">
                                <strong><%= clean_filename(filename) %></strong>
                                <% file_annotations.each do |annotation| %>
                                  <%= render partial: "annotations/line_annotation", locals: { annotation: annotation } %>
                                <% end %>
                              </div>
                            <% end %>
                          </div>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              
              <!-- Global Annotations (not associated with rubric items) -->
              <% if problem_data[:global_annotations].any? %>
                <div class="file_annotations">
                  <% problem_data[:global_annotations].each do |annotation| %>
                    <%= render partial: "annotations/global_annotation", locals: { annotation: annotation, problem_name: problem_data[:name] } %>
                  <% end %>
                </div>
              <% end %>
              
              <!-- File Annotations (not associated with rubric items) -->
              <% problem_data[:annotations_by_file].each do |filename, annotations| %>
                <div class="file_annotations">
                  <strong><%= clean_filename(filename) %></strong>
                  <% annotations.each do |annotation| %>
                    <%= render partial: "annotations/line_annotation", locals: { annotation: annotation } %>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              Annotations have yet to be released.
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
