<div id="annotationPane">
  <div id="loadScreen">
    <div class="preloader-wrapper small active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="annotationSummary">
    <ul class="collapsible expandable">
      <% p_scores = @submission.problems_to_scores %>
      <% @problemAnnotations.each do |problem, all_annotations| %>
        <li id="li-problem-<%= problem %>" class="active">
          <div class="collapsible-header-wrap">
            <div class="collapsible-header">
              <h4> <%= problem.capitalize %>
                  <div class="summary_score">
                    <% p_score = p_scores[@problemNameToId[problem]] %>
                    <% if @submission.grades_released?(@cud) %>
                      <%= plus_fix(@problemScores[problem]) %>
                      (<%= p_score&.score ? sprintf("%.2f", p_score.score.round(2)) : raw("&ndash;") %>
                      / <%= @problemMaxScores[problem] ? sprintf("%.2f", @problemMaxScores[problem].round(2)) : raw("&ndash;") %>)
                    <% end %>
                  </div>
              </h4>
            </div>
            <div class="collapsible-header-controls">
              <a href="#" title="Expand dropdown"><i class="small material-icons expand-icon">expand_more</i></a>
              <a href="#" title="Collapse dropdown"><i class="small material-icons collapse-icon">expand_less</i></a>
              <% if @cud.instructor? or @cud.course_assistant? %>
              <a href="#" class="global-annotation-add-button" data-problem="<%= problem %>" title="Add global annotation">
                <i class="small material-icons">add</i>
              </a>
              <% end %>
            </div>
          </div>
          <div class="collapsible-body">
            <% if @submission.grades_released?(@cud) %>
              <% global_annotations = all_annotations[:global_annotations]
                 annotations_by_file = all_annotations[:annotations_by_file] %>
              <% if global_annotations.empty? && annotations_by_file.empty? %>
                There are currently no annotations.
              <% end %>
              <% if !global_annotations.empty? %>
                  <div class="file_annotations">
                    <% global_annotations.each do |description, value, line, user, id, position, filename, shared, global| %>
                      <div class="global-annotation" id="li-annotation-<%= id %>">
                        <div class="annotation-badge">
                          <span class="point_badge <%= if value > 0
                                                         "positive"
                                                       else
                                                         value < 0 ? "negative" : "neutral"
                                                       end %>">
                            <%= plus_fix(value) %>
                          </span>
                        </div>
                        <div class="annotation-description">
                          <span><%= description %></span>
                        </div>
                        <% if @cud.instructor? or @cud.course_assistant? %>
                        <div class="annotation-tools">
                          <span
                                data-annotationid="<%= id %>"
                                data-problem="<%= problem %>"
                                data-score="<%= value %>"
                                data-comment="<%= description %>"
                                data-shared="<%= shared %>">
                            <a class="global-annotation-edit-button" href="#"
                               title="Edit global annotation">
                              <i class="material-icons">edit</i>
                            </a>
                            <a class="global-annotation-delete-button" href="#" title="Delete global annotation">
                              <i class="material-icons">delete</i>
                            </a>
                          </span>
                        </div>
                      <% end %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              <% annotations_by_file.each do |filename, annotations| %>
                  <div class="file_annotations">
                    <strong> <%= filename %> </strong>
                    <% annotations.each do |description, value, line, user, id, position, filename, global| %>
                      <div class="descript" id="li-annotation-<%= id %>"> <!-- Line + 1 because the code line numbers starts with 1 not 0. -->
                        <%= link_to(
                              url_for([:view, @course, @assessment, @submission, { header_position: position.nil? ? 0 : position, line: line.nil? ? 1 : line + 1 }]),
                              class: 'descript-link',
                              "data-header_position": position.nil? ? 0 : position,
                              "data-line": line.nil? ? 1 : line + 1,
                              remote: true,
                            ) do %>
                            <div class="annotation-badge">
                              <span class="point_badge <%= if value > 0
                                                             "positive"
                                                           else
                                                             value < 0 ? "negative" : "neutral"
                                                           end %>">
                                <% unless line.nil? %>
                                  <span class="line_number">Line <%= line + 1 %>:</span>
                                <% end %>
                                <%= plus_fix(value) %>
                              </span>
                            </div>
                            <div class="annotation-description">
                              <span><%= description %></span>
                            </div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
            <% else %>
              Annotations have yet to be released.
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
