<div id="annotationPane">
  <div class="annotationSummary">
    <ul class="collapsible expandable">
      <% @problemSummaries.each do |problem, descriptTuples| %>
        <li id="li-problem-<%= problem %>" class="active">
          <div class="collapsible-header-wrap">
            <div class="collapsible-header">
              <h4> <%= problem.capitalize %>
                  <div class="summary_score">
                    <% if @cud.instructor? or @cud.course_assistant? or @problemReleased%>
                      <%= plus_fix(@problemGrades[problem]) %>
                    <% end %>
                  </div>
              </h4>
            </div>
            <div class="collapsible-header-controls">
              <a href="#"><i class="small material-icons expand-icon">expand_more</i></a>
              <a href="#"><i class="small material-icons collapse-icon">expand_less</i></a>
              <a href="#"><i class="small material-icons instructors-only">add</i></a>
            </div>
          </div>
          <div class="collapsible-body">
            <% if @cud.instructor? or @cud.course_assistant? or @problemReleased%>
              <%# Note: group_by preserves insertion order %>
              <%#
                  First, group_by global (a[7])
                  Sort global annotations by id (a[4])
                  Sort file annotations by filename (a[6]), followed by line (a[2]) and group by filename
              %>
              <% annotations_by_type = descriptTuples.group_by { |a| a[7] }
                 global_annotations = annotations_by_type[true] || []
                 global_annotations = global_annotations.sort_by { |a| a[4] }
                 annotations_by_file = annotations_by_type[false] || []
                 annotations_by_file = annotations_by_file.sort_by{ |a| [a[6], a[2]] }.group_by { |a| a[6] } %>
                <div class="file_annotations">
                  <% global_annotations.each do |description, value, line, user, id, position, filename, global| %>
                    <div class="global-annotation" id="li-annotation-<%= id %>">
                      <div>
                        <span class="point_badge <%= value > 0 ? "positive" : value < 0 ? "negative" : "neutral" %>">
                          <%= plus_fix(value) %>
                        </span>
                        <%= description %>
                      </div>
                      <div class="annotation-tools">
                        <span class="instructors-only" data-annotationId="<%= id %>">
                          <a class="annotation-edit-button" href="#"><i class="material-icons">edit</i></a>
                          <a class="annotation-delete-button" href="#"><i class="material-icons">delete</i></a>
                        </span>
                      </div>
                    </div>
                  <% end %>
                </div>
                <% annotations_by_file.each do |filename, annotations| %>
                  <div class="file_annotations">
                    <strong> <%= filename %> </strong>
                    <% annotations.each do |description, value, line, user, id, position, filename, global| %>
                      <div class="descript" id="li-annotation-<%= id %>"> <!-- Line + 1 because the code line numbers starts with 1 not 0. -->
                        <%= link_to(
                            url_for([:view, @course, @assessment, @submission, header_position: position.nil? ? 0 : position, line: line.nil? ? 1 : line+1]),
                            class: 'descript-link',
                            "data-header_position": position.nil? ? 0 : position,
                            "data-line": line.nil? ? 1 : line+1,
                            remote: true,
                          ) do %>
                            <span class="point_badge <%= value > 0 ? "positive" : value < 0 ? "negative" : "neutral" %>">
                              <% unless line.nil? %>
                                <span class="line_number">Line <%= line + 1 %>:</span>
                              <% end %>
                              <%= plus_fix(value) %>
                            </span>
                          <%= description %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
            <% else %>
              <i>Unreleased</i>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
