<div id="code-box">
  <div class="file-header">
    <div class="file-name">
      <i class="material-icons">insert_drive_file</i> <span><%= @displayFilename %></span>
    </div>

    <div class="file-button">
      <span>Collapse Comments</span>
    </div>
    <div class="file-button">
      <span>Expand Comments</span>
    </div>
  </div>
  <div class="code-table">
      <% @data.each_with_index do |(code, annotation), index| %>
        <div class="code-line" id="line-<%=index%>" data-line-id="<%=index%>">
          <div class="line-sticky">
            <div class="line-number"><%= index+1 %></div>
            <div class="code-separator"></div>
          </div>
          <div class="add-comment">
            <% if @cud.instructor? or @cud.course_assistant? then %><div class="add-button-container"><button class="add-button" id="add-btn-<%= index+1 %>"><i class="material-icons">add_comment</i></button></div><% end %>
          </div>
          <div class="code"><pre><code class="<%= @displayFilename.split(".")[-1].downcase %>"><%= code %></code></pre></div>
        </div>
        <div class="annotation-container" id="annotation-line-<%=index%>">
        </div>
      <% end %>
  </div>
</div>


<div class="base-annotation-line annotation-line">
  <div class="line-sticky">
    <div class="line-number"></div>
    <div class="code-separator"></div>
  </div>
  <div class="annotation-form" style="display: none;">
    <form>
      <div class="input-field">
        <textarea id="comment-textarea" placeholder="" class="materialize-textarea"></textarea>
        <label for="comment-textarea">Comment</label>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input type="text" placeholder="" id="comment-score">
          <label for="comment-score">Score</label>
        </div>

        <div class="input-field col s6">
          <select>
            <option>Problem 1</option>
            <option>Problem 2</option>
            <option>Problem 3</option>
            <option>Problem 4</option>
          </select>
        </div>
      </div>

      <div class="input-field">
        <input type="submit" class="btn" value="Add annotation">
      </div>
    </form>
  </div>
  <div class="annotation-box" style="display: none;">
    <div class="annotation-header">
      <div class="annotation-from">
      <span class="submitted_by"></span> says:
      </div>
      <div class="annotation-tools">
        <span class="point_badge positive"><span class="problem"><span class="problem_id"></span>:</span> <span class="value"></span></span>
      </div>
    </div>
    <div class="annotation-separator"></div>
    <div class="annotation-body">
      <p class="comment"></p>
    </div>
  </div>
</div>

<script>
  function refreshAnnotations() {
    $(".annotation-line .line-sticky").each(function () {
      $(this).height($(this).parent().height())
    })
  }

  $(window).load(function () {
    refreshAnnotations();
  })
</script>
