<div id="code-box">
  <div class="file-header">
    <div class="file-name">
      <i class="material-icons">insert_drive_file</i> <span><%= @displayFilename %></span>
    </div>

    <div class="file-button">
      <span>Collapse Comments</span>
    </div>
    <div class="file-button">
      <span>Expand Comments</span>
    </div>
  </div>
  <div class="code-table">
      <% @data.each_with_index do |(code, annotation), index| %>
        <div class="code-line" id="line-<%=index%>">
          <div class="line-sticky">
            <div class="line-number"><%= index+1 %></div>
            <div class="code-separator"></div>
          </div>
          <div class="add-comment">
            <% if @cud.instructor? or @cud.course_assistant? then %><div class="add-button-container"><button class="add-button" id="add-btn-<%= index+1 %>"><i class="material-icons">add_comment</i></button></div><% end %>
          </div>
          <div class="code"><pre><code class="<%= @displayFilename.split(".")[-1].downcase %>"><%= code %></code></pre></div>
        </div>
        <div class="annotation-line">
          <div class="line-sticky">
            <div class="line-number"></div>
            <div class="code-separator"></div>
          </div>
          <div class="annotation-preview" style="display: none;">
            <span class="float-left"><b>From:</b> jbuckhei@andrew.cmu.edu | <b>Style:</b> -1</span>
            <span class="float-right"><a href="#">Expand &plus;</a></span>
            <span class="float-clear"></span>
          </div>
          <div class="annotation-form" style="display: none;">
            <form>
              <div class="input-field">
                <textarea id="comment-textarea" placeholder="" class="materialize-textarea"></textarea>
                <label for="comment-textarea">Comment</label>
              </div>

              <div class="row">
                <div class="input-field col s6">
                  <input type="text" placeholder="" id="comment-score">
                  <label for="comment-score">Score</label>
                </div>

                <div class="input-field col s6">
                  <select>
                    <option>Problem 1</option>
                    <option>Problem 2</option>
                    <option>Problem 3</option>
                    <option>Problem 4</option>
                  </select>
                </div>
              </div>

              <div class="input-field">
                <input type="submit" class="btn" value="Add annotation">
              </div>
            </form>
          </div>
          <div class="annotation-box" style="display: none;">
            <div class="annotation-header">
              <div class="annotation-from"><b>From:</b> jbuckhei@andrew.cmu.edu</div>
              <div class="annnotation-tools">
              </div>
            </div>
            <div class="annotation-separator"></div>
            <div class="annotation-body">
              <p>annotation body. test test test. very long annotation. annotation body. test test test. very long annotation. annotation body. test test test. very long annotation. annotation body. test test test. very long annotation. annotation body. test test test. very long annotation. annotation body. test test test. very long annotation. annotation body. test test test. very long annotation.</p>
            </div>
            <div class="annotation-separator"></div>
            <div class="annotation-footer">
              <div class="annotation-score">
                <b>Style:</b> -1
              </div>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>

<script>
  $(window).load(function () {
    $(".annotation-line .line-sticky").each(function () {
      $(this).height($(this).parent().height())
    })
  })
</script>
