<div class="problemGrades collection">
  <% p_scores = @submission.problems_to_scores %>
  <% @assessment.problems.each_with_index do |p,i| %>
    <% p_score = p_scores[p.id] %>
    <div class="problem-grade-item collection-item">
      <div class="problem_name"> <%= p.name.capitalize %>: </div>
      <div class="problem_score">
        <% if @cud.instructor? or @cud.course_assistant? or p_score&.released %>
          <b class="student_score" data-problem-id="<%= p.id %>" data-submission-id="<%= @submission.id %>"> <%= p_score&.score ? sprintf("%.2f", p_score.score) : raw("&ndash;") %> </b>
        <% else %>
          <b> &ndash; </b>
        <% end %>
        <b> / <%= p.max_score ? sprintf("%.2f", p.max_score.round(2)) : raw("&ndash;") %></b>
        <b>
          <% if p_score != nil and (@cud.instructor? or @cud.course_assistant?) %>
            <% if p_score.released %>
              (Released)
            <% else %>
              (Unreleased)
            <% end %>
          <% end %>
        </b>
      </div>
    </div>
  <% end %>
</div>
