<% @title = "Manage Submissions" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "datatable.adapter" %>
  <%= stylesheet_link_tag "datatables-rows" %>
  <%= stylesheet_link_tag "manage_submissions" %>
<% end %>

<% content_for :javascripts do %>
  <%= external_javascript_include_tag "lodash" %>
  <%= javascript_include_tag "sorttable" %>
  <%= external_javascript_include_tag "jquery.dataTables" %>
  <%= external_javascript_include_tag "datatables-buttons" %>
  <%= javascript_include_tag "manage_submissions" %>
  <%= javascript_include_tag "datatables-rows" %>
<% end %>

<h3>Manage Submissions</h3>
<hr>

<div class="row buttons-row">
    <div class="buttons-spacing">
    <%= link_to "<i class='material-icons left submissions-icons'>add</i>Create Submission".html_safe,
        new_course_assessment_submission_path(@course, @assessment),
        {:title=>"Create a new submission for a student, with an option to submit a handin file on their behalf",
         :class=>"btn submissions-main"} %>
    </div>

    <div class="buttons-spacing">
    <%= link_to "<i class='material-icons left submissions-icons'>file_download</i>Download Final Submissions".html_safe,
        downloadAll_course_assessment_submissions_path(@course, @assessment, final: true),
        {:title=>"Download final submissions from each student",
         :class=>"btn submissions-main"} %>
    </div>

    <div class="buttons-spacing"> <!-- TODO: Change functionality to filter for missing submissions -->
    <%= link_to "<i class='material-icons left submissions-icons'>people</i>Missing Submissions".html_safe,
        missing_course_assessment_submissions_path(@course, @assessment),
        {:title=>"List the students who have not submitted anything",
         :class=>"btn submissions-main"} %>
    </div>

    <div class="buttons-spacing">
    <%= link_to "<i class='material-icons left submissions-icons'>event</i>Manage Extensions".html_safe,
        [@course, @assessment, :extensions],
        {:class=>"btn submissions-main"} %>
    </div>
</div>


<table class="prettyBorder" id="submissions">
  <% headers = ["Submitted By",
                "Version",
                "Score",
                "Submission Date",
                "File",
                "Actions"] %>
  <thead>
    <tr>
      <th class="submissions-th"></th>
      <% for header in headers %>
        <th class="submissions-th sorting">
          <div>
            <p><%= header %></p>
            <% if header != "File" && header != "Actions" then %>
              <i class="material-icons tiny sort-icon sort-icon__both" aria-hidden="true">swap_vert</i>
              <i class="material-icons tiny sort-icon sort-icon__up" aria-hidden="true">arrow_upward</i>
              <i class="material-icons tiny sort-icon sort-icon__down" aria-hidden="true">arrow_downward</i>
            <% end %>
          </div>
        </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
  <% for submission in @submissions %>
    <tr id="row-<%= submission.id %>" class="submission-row">

      <%# Checkbox %>
      <td class="submissions-td submissions-checkbox">
        <div>
          <label class="submissions-cbox-label">
            <input class="cbox" type="checkbox" id="cbox-<%= submission.id %>">
            <span><span/>
          </label>
        </div>
      </td>
      
      <%# Submitted By %>
      <td class="submissions-td">
        <%= [submission.course_user_datum.first_name, submission.course_user_datum.last_name].reject(&:blank?).join(' ') %>
        <br/>
        <%= submission.course_user_datum.email %>
      </td>

      <%# Version %>
      <td class="submissions-td" style="<%= ignored_submission_style submission %>">
        <%= submission.version %>
      </td>

      <%# Score %>
      <td class="submissions-td">
        <div class="submissions-score-align">
          <div class="score-num"><%= computed_score { submission.final_score(@cud) } %></div>
          <div class="score-icon">
            <a class="modal-trigger score-details" 
              data-email="<%= submission.course_user_datum.email %>"
              data-cuid=" <%= submission.course_user_datum.id %>">
              <i class="material-icons submissions-score-icon">zoom_in</i>
            </a>
            </div>   
        </div>
      </td>

      <%# Submission Date %>
      <td class="submissions-td">
        <span class="moment-date-time">
          <%= submission.created_at.in_time_zone.to_s %>
        </span>
      </td>

      <%# File %>
      <td class="submissions-td" style="<%= ignored_submission_style submission %>">
        <% if submission.filename then %>
          <div class="submissions-center-icons">
            <%= link_to "<i class='material-icons'>zoom_in</i>".html_safe,
                [:view, @course, @assessment, submission],
                {:title=>"View the file for this submission",
                :class=>"btn small"} %>
            <p>View File</p>
          </div>
        <% else %>
          None
        <% end %>
      </td>

      <%# Actions %>
      <td class="submissions-td" class="exclude-click" style="text-align:center;">
        <% if @autograded then %>
          <div class="submissions-center-icons">
            <%= button_to [:regrade, @course, @assessment, submission_id: submission.id],
                :method => :post,
                :title=>"Rerun the autograder on this submission",
                :class=>"btn small" do %>
                  <i class='material-icons'>autorenew</i>
            <% end %>
            <p>Regrade</p>
          </div>
        <% end %>
        <div class="submissions-center-icons">
          <%= link_to "<i class='material-icons'>delete_outline</i>".html_safe,
                destroyConfirm_course_assessment_submission_path(@course, @assessment, submission),
                {:title=>"Destroy this submission forever",
                :class=>"btn small"} %>
          <p>Delete</p>
        </div>
      </td>
    </tr>
  <% end %> <%# End loop over submissions %>
  </tbody>
</table>

<div id="score-details-modal" class="modal">
  <div class="modal-header">
    <a href="#!" class="modal-close btn-flat"><i class="material-icons">close</i>
    </a>
  </div>
  <div class="modal-content">
    <h3>Score Details for <span id="score-details-email"></span></h3>
    <hr>
    <div id="score-details-content"></div>
  </div>
</div>

<div id="annotation-modal" class="modal">
  <div class="modal-header">
    <a href="#!" class="modal-close btn-flat"><i class="material-icons">close</i>
    </a>
  </div>
  <div class="modal-content">
    <%= render "annotation_form", global: true %>
  </div>
</div>