<% @title = "Manage Submissions" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "datatable.adapter" %>
<% end %>

<% content_for :javascripts do %>
  <%= external_javascript_include_tag "lodash", "3.3.1" %>
  <%= javascript_include_tag "sorttable" %>
  <%= external_javascript_include_tag "jquery.dataTables", "1.10.5" %>

  <%= javascript_include_tag "table_floating_header" %>
  <%= javascript_include_tag "manage_submissions" %>

<% end %>

<hr>
<p>
<%= link_to "Create New Submission", new_course_assessment_submission_path(@course, @assessment),
    {:title=>"Create a new submission for a student, with an option to submit a handin file on their behalf",
     :class=>"btn"} %>
<%= link_to "Download All Submissions",
    downloadAll_course_assessment_submissions_path(@course, @assessment),
    {:title=>"Down all submissions from each student",
     :class=>"btn"} %>
<%= link_to "Download Final Submissions",
    downloadAll_course_assessment_submissions_path(@course, @assessment, final: true),
    {:title=>"Download the most recent submission from each student",
     :class=>"btn"} %>
<%= link_to "Missing Submissions",
    missing_course_assessment_submissions_path(@course, @assessment),
    {:title=>"List the students who have not submitted anything. You'll be given the option to create new submissions for the missing students",
     :class=>"btn"} %>
</p>
<p>
<% if @autograded then %>
<%= link_to "Regrade All",
    [:regradeAll, @course, @assessment],
    { method: :post,
     :title=>"Regrade the most recent submission from each student",
     :confirm=>"Are you sure you want to do this? It will regrade the most recent submission from each student, which might take a while.",
     :class=>"btn"} %>

<%= link_to "Regrade 0 Submissions",
    [:regradeBatch, @course, @assessment],
    { method: :post,
     :title=>"Regrade the most recent submission from each student",
     :class=>"btn",
     :id => "batch-regrade",
     :style => "display:none;"} %>

<% end %>
</p>
<hr>

<p>
<table class="prettyBorder" id="submissions">
  <% headers = ["Submitted By", "Version", "Submission Date (YYYY-MM-DD)", "File", "IP Address", "Actions", "isLatest"] %>
  <thead>
    <tr>
      <th><input type="checkbox" id="selectall"/></th>
    <% for header in headers %>
      <th><%= header %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
  <% for submission in @submissions %>
    <tr id="row-<%= submission.id %>" class="submission-row">
      <td><input class="cbox" type="checkbox" id="cbox-<%= submission.id %>"></td>
      <td><%= "#{submission.course_user_datum.last_name}, #{submission.course_user_datum.first_name}" %>
      <%= link_to submission.course_user_datum.email,
                      history_course_assessment_path(@course, @assessment, cud_id: submission.course_user_datum_id, partial: true),
                      {remote: true, class: :trigger}

          %></td>
      <!-- TODO: for now, until rewrite -->
      <td style="<%= ignored_submission_style submission %>"><%= submission.version %></td>
      <td><%= submission.created_at.strftime("%Y-%m-%d %T") %></td>
      <!-- TODO: for now, until rewrite -->
      <td style="<%= ignored_submission_style submission %>">
        <% if submission.filename then %>
          <%= link_to "#{submission.filename}",
                download_course_assessment_submission_path(@course, @assessment, submission) %>
        <% else %>
          None
        <% end %>
      </td>
      <td>
        <%= submission.submitter_ip %>
      </td>
      <td><% if @autograded and submission.version > 0 then %>
            <%= link_to "Regrade",
                [:regrade, @course, @assessment, submission_id: submission.id],
                { method: :post,
                 :title=>"Rerun the autograder on this submission",
                 :class=>"btn small regrade-override"} %>
          <% end %>
          <%= link_to "Edit", [:edit, @course, @assessment, submission],
              {:title=>"Edit the grading properties of this submission",
                :class=>"btn small"} %>
          <%= link_to "Destroy", destroyConfirm_course_assessment_submission_path(@course, @assessment, submission),
              {:title=>"Destroy this submission forever",
                :class=>"btn small"} %>
      </td>
      <td><%= submission.latest? %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


<div id="gradeBackdrop">
</div>

<div id="floater">
</div>
