<h3>
  Submission Version <%= @submission.version %> for
  <%= @assessment.display_name %> (<%= @submission.course_user_datum.email %>)
</h3>

Files in this Archive: <br/>
<ul>
  <% @files.each do |file| %>
    <% unless file[:directory] then %>
      <li>
        <%= link_to file[:pathname], [:download, @course, @assessment, @submission, header_position: file[:header_position] ]%>
        <ul><li><%= link_to "View as Syntax Highlighted Source", [:view, @course, @assessment, @submission, header_position: file[:header_position] ] %></li></ul>
      </li>
    <% end %>
  <% end %>
</ul>
