<h3>
  Submission Version <%= @submission.version %> for
  <%= @assessment.display_name %> (<%= @submission.course_user_datum.email %>)
</h3>

Files in this Archive: <br/>
<ul>
  <% @files.each do |file| %>
    <% unless file[:directory] || file[:mac_bs_file] then %>
      <li>
        <%= file[:pathname] %>
        <%= link_to [:download, @course, @assessment, @submission, header_position: file[:header_position] ],
                    data: {toggle: "tooltip", placement:"top"}, 
                    title: "Download Submission" do %>
          <span class="glyphicon glyphicon-download" aria-hidden="true" style="margin-right:3px;"></span>
        <% end %>
        <%= link_to [:view, @course, @assessment, @submission, header_position: file[:header_position] ],
                    data: {toggle: "tooltip", title: "View Source"}, 
                    aria: {label: "Justify"}, style: "margin-right:3px;" do %>
          <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
