<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'chosen.min' %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag 'chosen.jquery.min' %>
  <script type="application/javascript">
    jQuery(function() {
      $('.chosen-select').chosen();
		});

		function filterNames(name) {
			$(".select-wrapper").each( function() {
				var user = this;
				var keywords = name.split(" ");
				var toShow = true;
				for (var i = 0; i < keywords.length; i++) {
					toShow = false;
				}
				$(this).toggle(toShow);
			});
		}

  </script>
<% end %>

<h2>Create Submission for <%= link_to @assessment.display_name, [@course, @assessment] %> </h2>

<p>
<%= link_to "Manage Submissions", [@course, @assessment, :submissions] %>
</p>

<%= form_for @submission, as: :submission,
      url: [@course, @assessment, @submission], method: :post,
      html: {multipart: true}  do |f| %>
<%= f.error_messages %>

<!-- Work in Progress

<div class="input-field">
	<input placeholder="Name or Email" type="text" onkeyup="filterNames(this.value.toLowerCase())" style="margin-bottom: 10px;">
</div>

-->
<table class="verticalTable" >
<tr>
  <th>User:</th>
  <td>
  <% if params[:course_user_datum_id].nil? then %>
    <%= f.select(:course_user_datum_id, @cuds, {prompt: 'select user'}, {class: ''}) %>
  <% else %>
    <%= @cuds.collect { |u| u.email }.join(", ") %>
    <input type='hidden' name='submission[course_user_datum_id]' value='<%=@cuds.collect{ |u| u.id }.join(',')%>' />
  <% end %>
  </td>
</tr>
<tr>
  <th>Assessment:</th><td><%= @assessment.display_name %></td>
  <%= f.hidden_field(:assessment_id) %>
</tr>
<tr>
  <th>File:</th><td><%= f.file_field :file %></td>
</tr>
<tr>
  <th>Notes:</th><td><%= f.text_area :notes %></td>
</tr>
<tr>
  <th>Tweak:</th>
  <td>
  <%= f.fields_for :tweak, @submission.tweak do |t| %>
    <%= t.text_field :value %>
    <%= t.select :kind, options_for_select({"points" => "points", "%" => "percent"}, :selected => (@submission.tweak ? @submission.tweak.kind : "points")) %>
  <% end %>
  </td>
</tr>
<tr>
  <td colspan=2 >
  <br>
  <%= f.submit "Create Submission", { :class=>"waves-effect waves-light btn primary"} %>
  </td>
</tr>
</table>
<% end %>
