<!-- 
known bugs:
1. 400 Bad Request is sent when the submitted annotation is empty.
-->

<% # Quick Description
# The annotations are loaded from the submission controller
# on creation of this page. An annotation line can be in 3 states:
# 1. No Annotation (class="line")
# 2. Currently Being Annotated (class="line annotating")
# 3. Has annotation (class="annotated line")

# Then the actual annotation html form has 2 states
# 1. has a comment (class="annotation updateAnnotation")
# 2. Doesn't have a comment (class="annotation createAnnotation")
%>

<% # include the highlight styles %>
<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "highlight" %>
  <%= stylesheet_link_tag "viewSubmission" %>
  <% #stylesheet_link_tag("viewSubmission"), "css/ui-lightness/jquery-ui-1.8.21.custom.css" %>
  <style type="text/css">
    /** this is a temp fix for proper indentation. -Daniel **/
    code { white-space: pre-wrap; }
  </style>

  <% # highlightjs - change the style sheet for different styles %>
  <%= stylesheet_link_tag "highlightjs-styles/vs.css" %>
<% end %>

<% content_for :javascripts do %>
  <%= external_javascript_include_tag "jquery-ui", "1.8.20" %>
  <% if @cud.instructor || @cud.course_assistant then %>
    <%= javascript_include_tag "annotations" %>
  <% end %>
<% end %>

<h3>Submission Version <%=@submission.version%> for
<%= current_assessment_link %> (<%= @submission.course_user_datum.email %>)
</h3>

<div>
<p id="wahoo"></p>
<div class="ui-widget-content annotationPane" style="max-width:730px">
  <h2 class="annotationHeader">
  Annotation Summary
  </h2>
  <% if @noAnnotations and @errorLines == "" and (@cud.instructor? or @cud.course_assistant?) then %>
    <p style="text-align:center">Click anywhere on the code below to annotate.</p>
  <% elsif (@noAnnotations and !(@cud.instructor? or @cud.course_assistant?)) then %>
    <p style="text-align:center">Nothing to summarize.</p>
  <% end %>
  <ul id="summaryList">
    <% @problemSummaries.each do |problem, descriptTuples| %>
      <li class="problemListItem"> <%= "Problem: #{problem} [#{plus_fix(@problemGrades[problem])}]" %>
        <ul id="problem-list-<%= problem %>">
        <% descriptTuples.each do |descript, value, line, user, id| %>
          <li class="descript" id="li-annotation-<%= id %>"><%= (user ? "line: #{line}, #{descript} [#{plus_fix(value)}] (#{user})" : "line: #{line}, #{descript} [#{plus_fix(value)}]") %></li>
        <% end %>
        </ul>
      </li>
    <% end %>
    <% if @errorLines != "" then %>
      <li class="syntaxError"> Syntax Error on line(s): <%= @errorLines %></li>
    <% end %>
  </ul>
  <input type="button" value="Reload" class="btn primary" onClick="window.location.reload()">
  <input type="checkbox" id="highlightLongLines" style="margin-left:20px;"> Highlight lines longer than 80 characters
</div>
</div>
<div style="clear:both">
<br />
</div>

<h3 id="filename"><%= @displayFilename %></h3>

<div id="code-box">
  <% # these lines can't have white space due to the styling for pre and code tages %>
  <% # anything wrapped in a <pre><code> will be highlighted by highlightsjs %>
  <pre><code><ol id="code-list"><% 
    @data.each_with_index do |(code, annotation), index| %><li id="<%= index+1 %>"><%= 
      code 
    %></li><% end %></ol></code></pre>
</div>

<table id="codeTable">
  <thead>
    <tr class="filename"><td></td><td colspan="3"><pre><code><%= @displayFilename %></code></pre></td></tr>
  </thead>
  <tbody>
  <% @data.each_with_index do |(code, annotation), index| %>
    <tr class=<%= raw(line_class(annotation)) %>>
      <td class="lineNumber"><%= index + 1 %></td>
      <td class="code"><div class="divCode"><pre><code><%= code %></code></pre></div></td>
    <%- if @cud.instructor? || @cud.course_assistant? %>
      <td class=<%= annotation_mod_class(annotation) %>>
        <%= annotation_mod(annotation).strip %>
      </td>
    <%- end %>
    <td class=<%= raw(annotation_class(annotation)) %> id=<%= raw(annotation_id(annotation)) %>
        name='<%= annotation_raw_text(annotation).strip %>'>
      <%= annotation_text(annotation).strip %>
    </td>
    </tr>
  <% end %>
  </tbody>
</table>
