<% @title = "Annotate Submission" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "annotations" %>
  <% # highlightjs - change the style sheet for different styles %>
  <%= stylesheet_link_tag "highlightjs-styles/vs.css" %>
<% end %>

<% content_for :javascripts do %>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <%= external_javascript_include_tag "lodash", "3.3.1" %>
  <%= javascript_include_tag "highlight.pack.js" %>
  <script type="application/javascript">
    <% if @cud.instructor || @cud.course_assistant then %>
      var isInstructor = true;
    <% else %>
      var isInstructor = false;
    <% end %>

    var annotations = <%=raw @annotations.to_json %>;
    var fileNameStr = "<%= @filename %>";
    var cudEmailStr = "<%= @cud.email %>";
    // a json list of problems for this assessment
    var problems = <%=raw @problems.to_json %>;
    var basePath = "<%= course_assessment_submission_annotations_path(@course, @assessment, @submission) %>";

    <% if params[:header_position] %>
      var headerPositionStr = "<%= params[:header_position] %>";
    <% else %>
      var headerPositionStr = null;
    <% end %>
    hljs.initHighlightingOnLoad();

    // Lets us open and close file folders
    function switchFolderState(folderElement) {
      if(folderElement.classList.contains('active')){
        folderElement.classList.remove('active')
      } else{
        folderElement.classList.add('active')
      }
    }

  </script>
  <%= javascript_include_tag "annotations.js" %>
  <%= javascript_include_tag "submission_view.js" %>
  <script type="text/javascript">
    initializeAnnotationsForCode();
  </script>

<% end %>

<!-- force end the container -->
</div></div>

<div class="row">
  <div class="col l2">
    <%= render "file_tree" %>
  </div>
  <div class="col l8">
    <%= render "code_viewer" %>
  </div>
  <div class="col l2">
    <%= render "annotation_pane" %>
  </div>
</div>

<!-- restart the container -->
<div>
<div>
