<% @title = "Annotate Submission" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "annotations" %>
  <% # highlightjs - change the style sheet for different styles %>
  <%= stylesheet_link_tag "highlightjs-styles/vs.css" %>
<% end %>

<% content_for :javascripts do %>
  <%= external_javascript_include_tag "lodash", "3.3.1" %>
  <%= javascript_include_tag "highlight.pack.js" %>
  <%= javascript_include_tag "jquery.jeditable" %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
  <script type="application/javascript">
    <% if @cud.instructor || @cud.course_assistant then %>
      var isInstructor = true;
    <% else %>
      var isInstructor = false;
    <% end %>

    const editableUrl = "<%= url_for ([:quickSetScore, @course, @assessment]) %>"
    const rootFiles = $('.file-list').children()
    const allFilesFolders = $('.file-list').find("*")
    var currentHeaderPos = <%= params[:header_position] || 0 %>

    var submissionID = <%= @submission.id %>
    var curHeaderPos = <%= params[:header_position] || 0 %>
    
    var annotations = <%=raw @annotations.to_json %>;
    var fileNameStr = "<%= @filename %>";
    var cudEmailStr = "<%= @cud.email %>";
    // a json list of problems for this assessment
    var problems = <%= raw @problems.to_json %>;
    var basePath = "<%= course_assessment_submission_annotations_path(@course, @assessment, @submission) %>";

    <% if params[:header_position] %>
      var headerPositionStr = "<%= params[:header_position] %>";
    <% else %>
      var headerPositionStr = null;
    <% end %>
    hljs.initHighlightingOnLoad();
  </script>
  <%= javascript_include_tag "annotations.js" %>
  <%= javascript_include_tag "submission_view.js" %>
  <script type="text/javascript">
    make_editable($('.problem_score a'))
    setActiveFilePos(currentHeaderPos)
    initializeAnnotationsForCode();
  </script>

<% end %>

<!-- force end the container -->
</div></div>

<!-- Header to navigate between student submissions for instructors -->
<% if @cud.instructor || @cud.course_assistant then %>
  <div class="row">
    <div class="col s2 center-align">
      <% if @prevSubmission != nil %>
        <%= link_to(url_for([:view, @course, @assessment, @prevSubmission]), class: "valign-wrapper", id: "prev_submission_link") do %>
          <i class="material-icons" style="margin-right: 3px">arrow_back</i> <%= @prevSubmission.course_user_datum.user.email %>
        <% end %>
      <% end %>
    </div>
    <div class="col s8 center-align">
      <%= @submission.course_user_datum.email %> (v<%= @submission.version %>) [<%= @curSubmissionIndex+1 %>/<%= @latestSubmissions.length %>]
    </div>

    <div class="col s2 center-align">
      <% if @nextSubmission != nil %>
        <%= link_to(url_for([:view, @course, @assessment, @nextSubmission]), class: "valign-wrapper", id: "next_submission_link") do %>
          <%= @nextSubmission.course_user_datum.user.email %> <i class="material-icons" style="margin-left: 3px">arrow_forward</i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <%# If there are multiple files, we have a header position and need a file tree %>
  <% if (params[:header_position]) %>
    <div class="col l2">
      <%= render "file_tree" %>
    </div>
    <div class="col l8">
      <%= render "code_viewer" %>
    </div>
    <div class="col l2">
      <%= render "annotation_pane" %>
    </div>
  <% else %>
  <%# Else center the code and annotations %>
    <div class="col l1"> </div>
    <div class="col l8">
      <%= render "code_viewer" %>
    </div>
    <div class="col l2">
      <%= render "annotation_pane" %>
    </div>
    <div class="col l1"> </div>
  <% end %>
</div>

<!-- restart the container -->
<div>
<div>
