<% @title = "Annotate Submission" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "annotations" %>
  <% # highlightjs - change the style sheet for different styles %>
  <%= stylesheet_link_tag "highlightjs-styles/vs.css" %>
<% end %>

<% content_for :javascripts do %>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <%= external_javascript_include_tag "lodash", "3.3.1" %>
  <%= javascript_include_tag "highlight.pack.js" %>
  <script type="application/javascript">
    <% if @cud.instructor || @cud.course_assistant then %>
      var isInstructor = true;
    <% else %>
      var isInstructor = false;
    <% end %>

    var submissionID = <%= @submission.id %>
    var maxHeaderPos = <%= @maxHeaderPos %>
    var curHeaderPos = <%= params[:header_position] %>
    
    var annotations = <%=raw @annotations.to_json %>;
    var fileNameStr = "<%= @filename %>";
    var cudEmailStr = "<%= @cud.email %>";
    // a json list of problems for this assessment
    var problems = <%=raw @problems.to_json %>;
    var basePath = "<%= course_assessment_submission_annotations_path(@course, @assessment, @submission) %>";

    <% if params[:header_position] %>
      var headerPositionStr = "<%= params[:header_position] %>";
    <% else %>
      var headerPositionStr = null;
    <% end %>
    hljs.initHighlightingOnLoad();

    // Lets us open and close file folders
    function switchFolderState(folderElement) {
      folderElement.toggleClass('active')
    }
    
    // Updates active tags to set the specified file
    function setActiveFilePos(headerPos){
      $('.file.active').removeClass("active")
      const rootFiles = $('.file-list').children()
      rootFiles.each(function(_, file) {
        setActiveFilePosHelper($(file), headerPos);
      })
    }
    function setActiveFilePosHelper(elem, headerPos){
      if(elem.data("header_position") == headerPos){
        elem.addClass("active")
        return true
      }
      if ((elem.children().filter(function() {
            return setActiveFilePosHelper($(this), headerPos)
          })).size() > 0){
        elem.children(".folder-name").addClass("active")
        return true
      }
      return false
    }
    
    var allFilesFolders = $('.file-list').find("*")
    $(document).keydown(function(e) {
        switch(e.which) {
            case 37: // left - navigate to the previous submission
            $('#prev_submission_link')[0].click()
            break;

            case 38: // up - navigate to the previous file by header position
              var testPos = curHeaderPos-1
              while(testPos > -1){
                var matchingFiles = allFilesFolders.filter(function(){
                  var elem = $(this)
                  return elem.data("header_position") == testPos
                })
                if(matchingFiles.length > 0){
                  matchingFiles[0].click()
                  curHeaderPos = testPos
                  break
                }
                testPos -= 1
              }
            break;

            case 39: // right - navigate to the next submission
            $('#next_submission_link')[0].click()
            break;

            case 40: // down - navigate to the next file by header position
              var testPos = curHeaderPos+1
              while(testPos < maxHeaderPos+1){
                var matchingFiles = allFilesFolders.filter(function(){
                  var elem = $(this)
                  return elem.data("header_position") == testPos
                })
                if(matchingFiles.length > 0){
                  matchingFiles[0].click()
                  curHeaderPos = testPos
                  break
                }
                testPos += 1
              }
            break;

            default: return; // exit this handler for other keys
        }
        e.preventDefault(); // prevent the default action (scroll / move caret)
    });
  </script>
  <%= javascript_include_tag "annotations.js" %>
  <%= javascript_include_tag "submission_view.js" %>
  <script type="text/javascript">
    setActiveFilePos(curHeaderPos)
    initializeAnnotationsForCode();
  </script>

<% end %>

<!-- force end the container -->
</div></div>

<!-- Header to navigate between student submissions for instructors -->
<% if @cud.instructor || @cud.course_assistant then %>
  <div class="row">
    <div class="col s2 center-align">
      <% if @prevSubmission != nil %>
        <%= link_to(url_for([:view, @course, @assessment, @prevSubmission]), class: "valign-wrapper", id: "prev_submission_link") do %>
          <i class="material-icons" style="margin-right: 3px">arrow_back</i> <%= @prevSubmission.course_user_datum.user.email %>
        <% end %>
      <% end %>
    </div>
    <div class="col s8 center-align">
      <%= @submission.course_user_datum.email %> (v<%=@submission.version%>)
    </div>
    <div class="col s2 center-align">
      <% if @nextSubmission != nil %>
        <%= link_to(url_for([:view, @course, @assessment, @nextSubmission]), class: "valign-wrapper", id: "next_submission_link") do %>
          <%= @nextSubmission.course_user_datum.user.email %> <i class="material-icons" style="margin-left: 3px">arrow_forward</i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col l2">
    <%= render "file_tree" %>
  </div>
  <div class="col l8">
    <%= render "code_viewer" %>
  </div>
  <div class="col l2">
    <%= render "annotation_pane" %>
  </div>
</div>

<!-- restart the container -->
<div>
<div>
