<% @title = "Annotate Submission" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "annotations" %>
  <% # highlightjs - change the style sheet for different styles %>
  <%= stylesheet_link_tag "highlightjs-styles/vs.css" %>
<% end %>

<% content_for :javascripts do %>
  <%= external_javascript_include_tag "lodash", "3.3.1" %>
  <%= javascript_include_tag "highlight.pack.js" %>
  <script type="application/javascript">

    <% if @cud.instructor || @cud.course_assistant then %>
      var isInstructor = true;
    <% else %>
      var isInstructor = false;
    <% end %>

    var annotations = <%=raw @annotations.to_json %>;
    var fileNameStr = "<%= @filename %>";
    var cudEmailStr = "<%= @cud.email %>";
    // a json list of problems for this assessment
    var problems = <%=raw @problems.to_json %>;
    var basePath = "<%= course_assessment_submission_annotations_path(@course, @assessment, @submission) %>";

    <% if params[:header_position] %>
    var headerPositionStr = "<%= params[:header_position] %>";
    <% else %>
    var headerPositionStr = null;
    <% end %>

  </script>
  <%= javascript_include_tag "annotations.js" %>
  <script type="text/javascript">
    initializeAnnotationsForCode();
  </script>

<% end %>

<h2>Submission Version <%=@submission.version%> for
<%= current_assessment_link %> (<%= @submission.course_user_datum.email %>)
</h2>
<hr>
<div class="row">
  <div class="annotationPane col l3">
    <h3 class="annotationHeader">Summary</h3>
    <% if @problemSummaries.empty? then %>
      <% if (@cud.instructor? or @cud.course_assistant?) then %>
        <p>Hover over a line of code and click the green box to annotate.<br><br><b>Note: Point tweaks here don't affect the gradebook.</b></p>
      <% else %>
        <p>Nothing to summarize yet.</p>
      <% end %>
    <% else %>
      <div id="summaryList">
        <% if (@cud.instructor? or @cud.course_assistant?) then %>
          <b><div class="problemListItem">Note: Point tweaks here don't affect the gradebook.</div></b>
        <% end %>
        <% @problemSummaries.each do |problem, descriptTuples| %>
          <hr>
          <div class="problemListItem"> <%= "Problem: #{problem} [#{plus_fix(@problemGrades[problem])}]" %>
            <ul id="problem-list-<%= problem %>">
            <% descriptTuples.each do |descript, value, line, user, id| %>
              <li class="descript" id="li-annotation-<%= id %>"><%= (user ? "line: #{line}, #{descript} [#{plus_fix(value)}] (#{user})" : "line: #{line}, #{descript} [#{plus_fix(value)}]") %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
    <hr>
    <label>
      <input type="checkbox" id="highlightLongLines">
      <span>Highlight lines longer than 80 characters</span>
    </label>
    <hr>
    <input type="button" value="Reload Summary" class="btn primary" onclick="reloadSummary()">

  </div>
  <div class="col l9">
    <h3 id="filename"><%= @displayFilename %></h3><button class="btn collapse_expand" onclick="$('.minimize').click();">Collapse All</button> <button class="btn collapse_expand" onclick="$('.ann-box').click();">Expand All</button>
    <div id="code-box">
    <% # these lines can't have white space due to the styling for pre and code tages %>
    <% # anything wrapped in a <pre><code> will be highlighted by highlightsjs %>
    <pre><code id="code-block"><ol id="code-list"><%
      @data.each_with_index do |(code, annotation), index|
        %><li id="line-<%= index+1 %>"><code><%=
          code
        %></code><% if @cud.instructor? or @cud.course_assistant? then %><span class="add-annotation-btn" id="add-btn-<%= index+1 %>"><i class="material-icons">add</i></span><% end %><div class="annotations-container"></div></li><%
      end %></ol></code></pre>
  </div>
  </div>
</div>
