<% @title = "Annotate Submission" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "annotations" %>
  <% # highlightjs - change the style sheet for different styles %>
  <%= stylesheet_link_tag "highlightjs-styles/vs.css" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "highlight.pack.js" %>
  <script type="application/javascript">

    <% if @cud.instructor || @cud.course_assistant then %>
      var isInstructor = true;
    <% else %>
      var isInstructor = false;
    <% end %>

    var annotations = <%=raw @annotations.to_json %>;
    var fileNameStr = "<%= @filename %>";
    var cudEmailStr = "<%= @cud.email %>";
    // a json list of problems for this assessment
    var problems = <%=raw @problems.to_json %>;
    var basePath = "<%= course_assessment_submission_annotations_path(@course, @assessment, @submission) %>";

    <% if params[:header_position] %>
    var headerPositionStr = <%= params[:header_position] %>,
    <% else %>
    var headerPositionStr = null;
    <% end %>

  </script>
  <%= javascript_include_tag "annotations.js" %>
<% end %>

<h2>Submission Version <%=@submission.version%> for
<%= current_assessment_link %> (<%= @submission.course_user_datum.email %>)
</h2>
<hr>
<div class="row">
  <div class="annotationPane col-md-3">
    <h3 class="annotationHeader">Summary</h3>
    <% if @noAnnotations and @errorLines == "" and (@cud.instructor? or @cud.course_assistant?) then %>
      <p>Click anywhere on the code to annotate.</p>
    <% elsif (@noAnnotations and !(@cud.instructor? or @cud.course_assistant?)) then %>
      <p>Nothing to summarize yet.</p>
    <% end %>
    <div id="summaryList">
      <% @problemSummaries.each do |problem, descriptTuples| %>
        <hr>
        <div class="problemListItem"> <%= "Problem: #{problem} [#{plus_fix(@problemGrades[problem])}]" %>
          <ul id="problem-list-<%= problem %>">
          <% descriptTuples.each do |descript, value, line, user, id| %>
            <li class="descript" id="li-annotation-<%= id %>"><%= (user ? "line: #{line}, #{descript} [#{plus_fix(value)}] (#{user})" : "line: #{line}, #{descript} [#{plus_fix(value)}]") %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <% if @errorLines != "" then %>
        <div class="syntaxError"> Syntax Error on line(s): <%= @errorLines %></div>
      <% end %>
    </div>
    <hr>
    <span class="checkbox">
      <input type="checkbox" id="highlightLongLines">
      <label for="highlightLongLines">Highlight lines longer than 80 characters</label>
    </span>
    <hr>
    <input type="button" value="Reload Summary" class="btn primary" onclick="window.location.reload()">

  </div>
  <div class="col-md-9">
    <h3 id="filename"><%= @displayFilename %></h3>
    <div id="code-box">
    <% # these lines can't have white space due to the styling for pre and code tages %>
    <% # anything wrapped in a <pre><code> will be highlighted by highlightsjs %>
    <pre><code id="code-block"><ol id="code-list"><% 
      @data.each_with_index do |(code, annotation), index|
        %><li id="line-<%= index+1 %>"><code><%= 
          code 
        %></code><% if @cud.instructor? or @cud.course_assistant? then %><span class="add-annotation-btn glyphicon glyphicon-plus" id="add-btn-<%= index+1 %>"></span><% end %><div class="annotations-container"></div></li><% 
      end %></ol></code></pre>
  </div>
  </div>
</div>


