<h2>Admin Partners for <%= link_to @assessment.display_name, {:assessment=>@assessment.name}%></h2>

<table class=prettyBorder >
<tr><th>andrewID</th><th>Partner</th></tr>
<% for u in @pairs do %>
  <tr>
  <td><%=u["user"].email%></td>
  <td>
  <% if u["partner"] then %>
      <% if u["partnerConfirmed"] then %>
        <%= u["partner"].email %>
      <% else %>
        <font color='red'><%= u["partner"].email %></font>
      <% end %>
    <% else %>
      <%= form_tag url_for(:action=>"setPartner", :id=>u["user"].id) %>
      <%= text_field_tag 'partner' %> <%= submit_tag 'Go!' %>
      </form>
    <% end %>
  </td>
  <td>
  <% if u["partner"] then %>
    <%= link_to 'Delete', :action=>"deletePartner",:id=>u["user"].id %>
  <% end %>
  </td>
  </tr>
<% end %>
</table>
<br>
<b>Load partners from previous assignment: </b>
<%= form_tag url_for(:action=>"importPartners") %>
<%= select_tag 'importfrom', options_from_collection_for_select(@assessments, "id", "name") %> <%= submit_tag 'Go!' %>
</form>
