<h2>Admin Svn for <%= link_to @assessment.display_name, {:assessment=>@assessment.name}%></h2>

<table class=prettyBorder >
<tr><th>andrewID</th><th>Repository</th></tr>
<% for u in @users do %>
  <tr>
  <td><%=u.andrewID%></td>
  <td>
  <% if u["repository"] then %>
    <%= form_tag url_for(:action=>"setRepository", :id=>u.id) %>
    <%= text_field_tag 'repository', u["repository"], :size=>80 %> <%= submit_tag 'Edit' %>
    </form>
  <% else %>
    <%= form_tag url_for(:action=>"setRepository", :id=>u.id) %>
    <%= text_field_tag 'repository', nil, :size=>80 %> <%= submit_tag 'Create' %>
    </form>
  <% end %>
  </td>
  </tr>
<% end %>
</table>
<br>
<b>Load repositories from previous assignment: </b>
<%= form_tag url_for(:action=>"importSvn") %>
<%= select_tag 'importfrom', options_from_collection_for_select(@assessments, "id", "name") %> <%= submit_tag 'Go!' %>
</form>
