<%= if request.post? then 
  @jobs.inspect
end %>
<h2>Autograder Development Handin</h2>

<%= form_tag({:action=>"autograderDev"},:multipart=>true) %>
<table class=prettyBorder >
<tr>
  <th>Tango Host:</th>
  <td><%= text_field_tag("tangoHost","greatwhite.ics.cs.cmu.edu",:size=>20) %></td>
</tr>
<tr>
  <th>Tango Port:</th>
  <td><%= text_field_tag("tangoPort","9090",:size=>5) %></td>
</tr>
<tr>
  <th>Submit in Debug Mode?</th>
  <td><%= check_box_tag(:debug,"true") %> </td>
</tr>
<tr><td colspan=2><hr  ></td></tr>
<tr>
  <th>Upload a File:</th>
  <td><%= file_field_tag("file") %></td>
</tr>
<tr>
  <% regradeOptions = @submissions.collect{ |s| 
    ["#{s.user.andrewID} - v#{s.version}", s.id] 
  } %>
  <th>Select Previous <br>Submissions to Regrade:</th>
  <td><%= select(:regrade,:submission_id,regradeOptions, {},{:multiple=>"multiple"})
  %></td>
</tr>
<tr>
  <td colspan=2><%= submit_tag("Go Go Gadget Autograde") %></td>
</tr>
</table>
</form>


