<h2>Checkout your Work on <%= link_to @assessment.display_name, {:assessment=>@assessment.name}%> for Credit</h2>

<% @aud = AssessmentUserDatum.get @assessment.id, @user.id %>
<% numSubmissions = Submission.find(:all, :conditions=>{:user_id=>@user.id, :assessment_id => @assessment.id}).size %>

<% if (!@user.instructor?) and (@aud.past_submit_until?) then %>
  <h3>We are no longer accepting submissions for 
    <%= @assessment.display_name %>.
  </h3>
<% elsif (!@user.instructor?) and (Time.now() < @assessment.start_date) then %>
  <h3>We are not yet accepting submissions for 
  <%= @assessment.display_name %></h3>
<% elsif @user.dropped? then %>
  <h3>Our records indicate you have dropped this course, and therefore you may
not submit!</h3>
<% elsif @assessment.max_submissions != -1 and numSubmissions >= @assessment.max_submissions then %>
  <h3>You have reached the maximum number of submissions for <%= @assessment.display_name %></h3>
<% else %>
  <% if @assessment.max_submissions != -1 then %>
    <% if numSubmissions > @assessment.max_submissions then %>
      <% numSubmissions = 0 %>
    <% else %>
      <% numSubmissions = @assessment.max_submissions - numSubmissions %>
    <% end %>
    <i>You have <%= numSubmissions %> <%= (numSubmissions == 1) ? "submission" : "submissions" %> left.</i> 
  <% end %>
  <% if @aud.past_due_date? then %>
    <b>Warning:</b> It is past the assessment deadline, submitting right now
    might result in the usuage of a late day or a grade penalty!<br>
  <% end %>
  <%= form_for @submission , :url=>{:action=>"handin"},:html=>{:multipart=>true} do |f| %>
  <% if @aud.past_due_date? then %>
    <p><%= f.submit("Checkout Repository",:confirm=>"Are you sure you want to submit late?") %></p>
  <% else %>
    <p><%= f.submit("Checkout Repository") %></p>
  <% end %>
<% end %>
<% end %>
<font size=-1><%= link_to "Go back to #{@assessment.display_name}",{:action=>"index"} %></font>
