<h2>Partners for <%= link_to @assessment.display_name, {:assessment=>@assessment.name}%> </h2>


<% if @partner then %>
  <h3>Your partner is <%= @partner.email.html_safe %>.</h3>
  <% if !@confirm then %>
    <b>They have not yet confirmed you as a partner</b><br><br>
    <%= link_to "Cancel Request", {:action=>"cancelRequest"} %>
  <% end %>
  <br><br><i>If this is not correct, you should email the course staff.</i>

<% else %>
  You don't have a partner, you can pick one by typing their AndrewID:
  <%= form_tag url_for(:action=>"setPartner") %>
  <%= text_field_tag 'partner' %> <%= submit_tag 'Go!' %>
  </form>

<% end %>
