<% content_for :head do %>
  <%= stylesheet_link_tag "student_gradebook" %>
  <%= external_stylesheet_link_tag "bootstrap", "2.3.1" %>

  <%= external_javascript_include_tag "bootstrap", "2.3.1" %>
  <%= external_javascript_include_tag "bootstrap-tooltip", "2.3.1" %>

  <!-- Temporary Bootstrap overrides -->
  <style type="text/css">
    div#pageBody {
      max-width: 940px;
      min-width: 640px;
      box-sizing: border-box;
      margin: 0 auto;
    }

    div.container-fluid {
      padding: 0;
    }

    h1#courseTitle {
      font-size: 24.5px;
      margin-bottom: 0;
   }

    span.label {
      text-transform: uppercase;
      font-size: 8.5px;
      vertical-align: text-bottom;
    }

    body {
      font-size: 12px;
    }

    col.gdu {
      width: 9em !important;
    }

    table.grades tr > *:last-child {
      text-align: center;
    }

    h4 {
      margin-left: 10px;
      margin-bottom: 15px;
      color: #666;
    }

    a.asmt_link {
      font: inherit !important;
      color: #1874cd !important;
    }

    tr {
      border-top: 1px solid #e4e4e4;
      border-bottom: 1px solid #e4e4e4;
    }

    col {
      border-right: 1px solid #efefef;
    }

    col:last-child {
      border-right: none;
    }

    tr:first-child {
      border-top: none;
    }

    tr:last-child {
      border-bottom: none;
    }
  </style>

  <script type="text/javascript">
  $(function() {
    $('.tip').tooltip({
      placement: 'top',
      container: 'body',
      html: true
    });
  });
  </script>
<% end %>


<div class="container-fluid">
  <h4>Course Statistics</h4>

  <div class="category">
    <table class="grades">
      <colgroup>
        <col class="asmt_names"></col>
        <col class="gdu"></col>
        <col class="gdu"></col>
        <col class="gdu"></col>
        <col class="gdu"></col>
        <col class="gdu"></col>
      </colgroup>
      <thead>
        <tr class="header">
          <th></th>
          <th>Mean</th>
          <th>Median</th>
          <th>Std. Dev.</th>
          <th>Min</th>
          <th>Max</th>
        </tr>
      </thead>
      <tbody>
      <% @course_stats.each do |name, stats| %>
        <tr>
          <td>
            <% # TODO: RESTORE LINKS %>
            <%= name %>
            <% # TODO: BAD! FIX! %>
            <% # name.end_with?(' Average') ? name : (link_to name, { :controller => name }, :class => :asmt_link) %>
          </td>
          <td><%= stats[:mean] %></td>
          <td><%= stats[:median] %></td>
          <td><%= stats[:stddev] %></td>
          <td><%= stats[:min] %></td>
          <td><%= stats[:max] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
