<% @title = "Gradebook" %>

<% content_for :head do %>
  <title>Grades for <%= @_cud.email %></title>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "student_gradebook" %>
<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "initialize_tooltips" %>
<% end %>

<div class="gradebook">
  <h4>Grades for <%= @_cud.email %></h4>

  <% if not @course.gb_message.blank? %>
    <div class="gb_message"><%= raw(@course.gb_message) %></div>
  <% end %>

  <div class="grades_container">
    <% @categories_sorted.each_slice(2) do |cat_pair| %>
    <div class="row cat_pair">
      <% cat_pair.each do |cat| %>
        <div class="col m12 l6 cat_container">

        <div class="category">
          <table class="grades">
            <colgroup>
              <col class="asmt_names">
              <% if @course.grace_days > 0 %>
                <col class="gdu">
              <% end %>
              <col class="pld">
              <col class="fs">
            </colgroup>

            <tr class="header">
              <th class="cat_name"><%= cat %></th>
              <% if @course.grace_days > 0 %>
                <th>
                  GDU
                  <i
                    class="material-icons tooltipped"
                    tabindex="0"
                    data-html="true"
                    data-tooltip="<b>Grace Days Used</b><br />Number of late days used for which <em>no</em> penalty was incurred">
                      help
                  </i>
                </th>
              <% end %>
              <th>
                PLD
                <i
                  class="material-icons tooltipped"
                  tabindex="0"
                  data-html="true"
                  data-tooltip="<b>Penalty Late Days</b><br />Number of late days used for which a penalty was incurred">
                  help
                </i>
              </th>
              <th>Final Score</th>
            </tr>
            <% @course.assessments_with_category(cat, @cud.student?).each do |asmt| %>
              <% aud = asmt.aud_for @_cud %>
              <tr>
                <td>
                  <span>
                  <%= link_to asmt.display_name, course_assessment_path(@course, asmt) %>
                  <% unless @cud.student? %>
                    <a class="history_icon" href="<%= history_url(@_cud, asmt) %>">
                      <i title="Handin history" class="icon-list tip"></i>
                    </a>
                  <% end %>
                  </span>
                </td>
                <% if @course.grace_days > 0 %>
                  <td><%= aud.grace_days_used %></td>
                <% end %>
                <td><%= aud.penalty_late_days %></td>
                <td>
                  <% case aud.grade_type
                     when AssessmentUserDatum::ZEROED %>
                    <% if @cud.instructor? %>
                      <span class="zeroed tooltipped" data-tooltip="This final score has been zeroed out.">
                        <%= render_final_score aud %>
                      </span>
                    <% else %>
                      <%= render_final_score aud %>
                    <% end %>

                  <% when AssessmentUserDatum::EXCUSED %>
                    <% pronoun = @cud == @_cud ? "You" : @_cud.email %>
                    <% havehas = @cud == @_cud ? "have" : "has" %>
                    <% tip = "#{pronoun} #{havehas} been excused from #{asmt.display_name}." %>
                    <span class="excused label label-info tooltipped" data-html="true" data-tooltip="<%= tip %>">
                      Excused
                    </span>

                  <% when AssessmentUserDatum::NORMAL %>
                    <% case aud.submission_status
                       when :submitted %>
                      <% if !aud.latest_submission.all_scores_released? %>
                        <a href="<%= history_url(@_cud, asmt) %>">
                          <i
                            class="material-icons tooltipped"
                            data-tooltip="Final score will be visible once grading is complete.">
                            access_time
                          </i>
                        </a>
                      <% else %>
                        <%= render_final_score aud %>
                      <% end %>

                    <% when :not_submitted %>
                      <span class="not-submitted tooltipped" data-tooltip="No submission was made.">
                        <%= render_final_score aud %>
                      </span>
                    <% when :not_yet_submitted %>
                      <span class="not-yet-submitted tooltipped" data-tooltip="No submission has been made yet.">
                        <%= render_final_score aud %>
                      </span>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            <tr class="footer">
              <th>Category Average</th>
              <% if @course.grace_days > 0 %><th></th><% end %>
              <th></th>
              <th class="cat_avg"><%= computed_score { @_cud.category_average cat, @cud } %></th>
            </tr>
          </table>
        </div>

        </div> <!-- span -->
      <% end %> <!-- cat -->
    </div> <!-- row -->
    <% end %> <!-- cat_pair -->

    <div class="course">
      <table>
        <% if @cud.instructor? %>
        <tr>
          <th>Average Tweak</th>
          <td><%= link_to raw(tweak(@_cud.tweak)), [:edit, @course, @_cud] %></td>
        </tr>
        <% elsif @_cud.tweak %>
        <tr>
          <th>Average Tweak</th>
          <td><%== tweak @_cud.tweak %></td>
        </tr>
        <% end %>
        <tr>
          <th>Course Average</th>
          <td><%== computed_score { @_cud.average @cud } %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
