<div class="container">
  <h5>Grade type for <%= @aud.course_user_datum.user.email %> on <%= @aud.assessment.display_name %></h5>

  <%= form_for @aud, url: { action: :update } do |f| %>
    <%= f.error_messages %>

      <p>
        <%= f.label(:grade_type, value: AssessmentUserDatum::NORMAL) do %>
          <%= f.radio_button :grade_type, AssessmentUserDatum::NORMAL %>
          <span>Normal</span>
        <% end %>
      </p>

      <p>
        <%= f.label(:grade_type, value: AssessmentUserDatum::ZEROED) do %>
          <%= f.radio_button :grade_type, AssessmentUserDatum::ZEROED %>
          <span>Zero</span>
        <% end %>
      </p>

      <p>
        <%= f.label(:grade_type, value: AssessmentUserDatum::EXCUSED) do %>
          <%= f.radio_button :grade_type, AssessmentUserDatum::EXCUSED %>
          <span>Excused</span>
        <% end %>
      </p>

    <%= f.submit "Save", { class: "btn primary" } %>
  <% end %>
</div>
