<div class="sign-in-panel home">
<h1>Autolab Homepage</h1>
<br>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  
  <div><%= f.email_field :email, :autofocus => true, :placeholder=> "Email Address"%></div>
  <div><%= f.password_field :password, :placeholder=> "Password"%></div>

  <% if devise_mapping.rememberable? -%>
    <span class="checkbox"><%= f.check_box :remember_me %><%= f.label :remember_me %></span>
  <% end -%>

  <div><%= f.submit "Sign in", :class=>"btn primary" %></div>
<% end %>
<hr>
<%= render "devise/shared/links" %>
</div>
