<tr>
  <th>Course Name</th>
  <td><%= f.text_field :name %></td>
  <td class=smallText>The course ID used in URLs and DB keys. This field <b>must</b> be unique and URL-able. Typically includes the course number and semester. Examples: <kbd>15213-f12</kbd>, <kbd>15110-s11</kbd></td>
</tr>
<tr>
  <th>Semester</th>
  <td><%= f.text_field :semester, :size=>3 %></td>
  <td class=smallText>The current semester. Examples: <kbd>f12</kbd>, <kbd>s13</kbd>, <kbd>m13</kbd></td>
</tr>
<tr>
  <th>Display Name</th>
  <td><%= f.text_field :display_name %></td>
  <td class=smallText>Descriptive course name for displaying. Example: <kbd>15-213: Intro to Comp Systems</kbd></td>
</tr>
<tr>
  <th>Late Slack</th>
  <td><%= f.text_field :late_slack %></td>
  <td class=smallText>This is the number of seconds after a deadline that the server will
still accept a submission and not count it as late. Example: <kbd>3600</kbd></td>
</tr>
<tr>
  <th>Grace Days</th>
  <td><%= f.text_field :grace_days %></td>
  <td class=smallText>The total number of grace days for late submissions that students are allowed each semester. Example: <kbd>3</kbd></td>
</tr>
  <th>Default Late Penalty</th>
  <td>
    <%= f.fields_for :late_penalty, course.late_penalty do |p| %>
      <%= p.text_field :value, :size => 18 %>
      <%= p.select :kind, options_for_select({"points" => "points", "%" => "percent"}, :selected => (course.late_penalty ? course.late_penalty.kind : "points")) %>
    <% end %>
  </td>
  <td class=smallText>The penalty applied to late submissions after a student runs out of grace days.  It represents an amount of points or a percentage of the total score removed per day, and must be a non-negative number. This field can be overriden on a per-assessment basis.</td>
</tr>
<tr>
  <th>Default Version Threshold:</th>
  <td><%= f.text_field :version_threshold %></td>
  <td class=smallText>If a submission's version is greater than this threshold, it is penalized according to the <em>version penalty</em>. If set to -1, no submissions are penalized. This is required, but can be overridden on a per-assessment basis.</td>
</tr>
<tr>
  <th>Default Version Penalty:</th>
  <td>
    <%= f.fields_for :version_penalty, course.version_penalty do |v| %>
      <%= v.text_field :value, :size => 18 %>
      <%= v.select :kind, options_for_select({"points" => "points", "%" => "percent"}, :selected => (course.version_penalty ? course.version_penalty.kind : "points")) %>
    <% end %> 
  </td>
  <td class=smallText>The penalty applied to submissions with versions greater than the <em>version threshold</em>. It represents a number of points or percentage of the total score removed per version above the threshold, and must be a non-negative number. For example, if this is set to 1 point and the version threshold to 3, the fifth version of a student's submissions would be docked 2 points. This is required, but can be overridden on a per-assessment basis.</td>
</tr>
<tr>
    <th>Exam In Progress:</th>
    <td><%= f.check_box :exam_in_progress %></td>
    <td class="smallText">While checked, students are not allowed to view their previous submissions for <em>any</em> assessment in this class.</td>
</tr>
<tr>
  <th>Course Start Date</th>
  <td><%= f.date_select :start_date %></td>
  <td class=smallText>When the course becomes active.</td>
</tr>
<tr>
  <th>Course End Date</th>
  <td><%= f.date_select :end_date %></td>
  <td class=smallText>When the course becomes inactive.</td>
</tr>
<tr>
  <th>Disable Course</th>
  <td><%= f.check_box :disabled %></td>
  <td class=smallText>If this box is checked, then students won't be able download labs or upload submissions.</td>
</tr>
<tr>
  <th>Student Gradebook Message</th>
  <td><%= f.text_area :gb_message %></td>
  <td class=smallText>An optional message that is displayed to students at the top of their gradebooks.  It can be used to explain grading criteria.</td>
</tr>
