<%= f.text_field :semester, size: 3,
                            help_text: "The current semester. Examples: f12, s13, m13" %>

<%= f.text_field :display_name,
                 help_text: "Descriptive course name for displaying. Example: 15-213: Intro to
  Computer Systems" %>

<%= f.text_field :website,
                 help_text: "Official course website. Example: https://www.cs.cmu.edu/~213/" %>

<%= f.text_field :late_slack,
                 help_text: "This is the number of seconds after a deadline that the server
  will still accept a submission and not count it as late. Example: 3600" %>

<%= f.text_field :grace_days,
                 help_text: "The total number of grace days for late submissions that students
  are allowed each semester. Example: 3" %>

<%= f.score_adjustment_input :late_penalty, optional: true, help_text: "The penalty applied to late submissions after
  a student runs out of grace days. It represents an amount of points or a percentage of the total score removed per
  day, and must be a non-negative number. This field can be overriden on a per-assessment basis.",
                                            placeholder: "10" %>

<%= f.text_field :version_threshold, help_text: "If a submission's version is greater than this threshold, it is
  penalized according to the version penalty. If set to -1, no submissions are penalized. This field can be overriden on a per-assessment basis.", placeholder: "10" %>

<%= f.score_adjustment_input :version_penalty, optional: true, help_text: "The penalty applied to submissions with
  versions greater than the version threshold, i.e. number of points or percentage of the total score removed per
  version above the threshold. For example, if this is set to 1 point and the version threshold to 3, the fifth
  version of a student's submissions would be docked 2 points. This field can be overriden on a per-assessment basis.", placeholder: "10" %>

<%= f.date_select :start_date, help_text: "When the course becomes active.",
                               less_than: "course_end_date" %>

<%= f.date_select :end_date, help_text: "When the course becomes inactive.",
                             greater_than: "course_start_date" %>

<%= f.check_box :disabled,
                help_text: "If this box is checked, then students won't be able download labs
  or upload submissions." %>

<%= f.check_box :disable_on_end,
                help_text: "If this box is checked, the course will be disabled after the course ends." %>

<%= f.check_box :exam_in_progress, help_text: "While checked, students are not allowed to view their previous
  submissions for any assessment in this class." %>
<%= label_tag(:allow_self_enrollment) do %>
  <%= check_box_tag :allow_self_enrollment, "1", @course.access_code.present? %>
  <%= content_tag("span", "Allow self-enrollment") %>
<% end %>
<p class="help-block">
  Generate an access code for students to self-enroll in the course.
</p>

<%= f.text_area :gb_message, class: "materialize-textarea",
                             help_text: "An optional message that is displayed to students at the top of
  their gradebooks.  It can be used to explain grading criteria.",
                             display_name: "Gradebook Message", placeholder: "Optional" %>

<%= f.file_field :config_file, button_text: "Upload course.rb",
                               help_text: "Config file will be automatically reloaded after saving.
                               Changes to other settings will be lost if an error is encountered." %>
