<h3>Create New Course</h3>

<%= form_for :newCourse, url: courses_path, builder: FormBuilderWithDateTimeInput do |f| %>
  <%= f.error_messages %>

  <%= f.text_field :name, required: true,
                          help_text: "The course ID used in URLs and DB keys. This field must be unique
  and URL-able. Typically includes the course number and semester. Examples:
  15213-f12, 15110-s11" %>

  <%= f.text_field :semester, size: 3,
                              help_text: "The current semester. Examples: f12, s13, m13" %>

  <div class="input-field">
    <label class="control-label" for="instructor_email">Instructor Email</label>
    <%= text_field_tag :instructor_email, nil, class: "validate", placeholder: "", required: true, autocomplete: "email" %>
    <p class="help-block">Email of an Instructor, they will set up the course from here!</p>
  </div>

  <%= f.submit "Create Course", { class: "btn primary" } %>
<% end %>
