<p>There was an error uploading the roster file. Please fix the following error(s) and try again: </p>
<% local_assigns[:roster_errors].each do |i, error| %>
  <p><%= error %></p>
  <table class="prettyBorder sortable" >
    <thead>
      <tr>
        <th>&#8470;</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Lecture</th>
        <th>section</th>
        <th>School</th>
        <th>Major</th>
        <th>Year</th>
        <th>Nickname</th>
        <th>Dropped?</th>
        <th>Type</th>
      </tr>
    </thead>
    <!-- Row index is set using CSS. -->
    <tr class="user-row">
      <td class="row-index"></td>
      <td><%= @cuds[i].user.first_name %></td>
      <td><%= @cuds[i].user.last_name %></td>
      <td><%= link_to @cuds[i].user.email, course_course_user_datum_path(@course, cud) %></td>
      <td><%= @cuds[i].lecture %></td>
      <td><%= @cuds[i].section %></td>
      <td><%= @cuds[i].user.school %></td>
      <td><%= @cuds[i].user.major %></td>
      <td><%= @cuds[i].user.year %></td>
      <td><%= @cuds[i].nickname %></td>
      <td><%= @cuds[i].dropped %></td>
      <td><%= if @cuds[i].instructor? then
        "Instructor"
      elsif @cuds[i].course_assistant? then
        "Course Assistant"
      else
        "Student"
      end
      %></td>
    </tr>
  </table>
<% end %>