<p>There was an error uploading the roster file. Please fix the following error(s) and try again: </p>
<% local_assigns[:roster_errors].each do |msg, rowList| %>
  <br>
  <p><%= msg %></p>
  <table class="prettyBorder sortable">
    <thead>
      <tr>
        <th>&#8470;</th><!-- "No." symbol. -->
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Course &#8470;</th>
        <th>Lecture</th>
        <th>Section</th>
        <th>School</th>
        <th>Major</th>
        <th>Year</th>
        <th>Grading Policy</th>
      </tr>
    </thead>
    <!-- Row index is set using CSS. -->
    <% rowList.each do |errorRow| %>
      <tr class="user-row">
        <td><%= errorRow["row_num"] %></td>
        <td><%= errorRow["email"] %></td>
        <td><%= errorRow["first_name"] %></td>
        <td><%= errorRow["last_name"] %></td>
        <td><%= errorRow["course_number"] %></td>
        <td><%= errorRow["lecture"] %></td>
        <td><%= errorRow["section"] %></td>
        <td><%= errorRow["school"] %></td>
        <td><%= errorRow["major"] %></td>
        <td><%= errorRow["year"] %></td>
        <td><%= errorRow["grade_policy"] %></td>
      </tr>
    <% end %>
  </table>
<% end %>
