<%= stylesheet_link_tag "usersTable" %>

<% lcd = @course.lti_course_datum %>
<span class="inline-space-between">
<h4 class="count-title">Found <span id="results-count"><%= pluralize(@cuds.count, "user") %></span></h4>
<% unless lcd.nil? %>
    <span class="inline-span">
      <p>Roster synced with linked course: <%= time_ago_in_words(@course.lti_course_datum.last_synced, include_seconds: true) %> ago</p>
      <%= link_to raw("<i class=\"material-icons\">sync</i>"), lti_nrps_sync_roster_path(lcd_id: lcd.id), method: :post %>
    </span>
<% end %>
</span>
<table class="prettyBorder sortable">
<thead class="float">
  <tr>
    <th>&#8470;</th><!-- "No." symbol. -->
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Course &#8470;</th>
    <th>Lecture</th>
    <th>Section</th>
    <th>School</th>
    <th>Major</th>
    <th>Year</th>
    <th>Nickname</th>
    <th>Dropped?</th>
    <th>Type</th>
  </tr>
</thead>
<!-- Row index is set using CSS. -->
<% @cuds.each do |cud| %>
<tr class="user-row">
  <td class="row-index"></td>
  <td><%= cud.user.first_name %></td>
  <td><%= cud.user.last_name %></td>
  <td><%= link_to cud.user.email, course_course_user_datum_path(@course, cud) %></td>
  <td><%= cud.course_number %></td>
  <td><%= cud.lecture %></td>
  <td><%= cud.section %></td>
  <td><%= cud.user.school %></td>
  <td><%= cud.user.major %></td>
  <td><%= cud.user.year %></td>
  <td><%= cud.nickname %></td>
  <td><%= cud.dropped %></td>
  <td><%= if cud.instructor?
            "Instructor"
          elsif cud.course_assistant?
            "Course Assistant"
          else
            "Student"
          end %></td>
</tr>
<% end %>
</table>
