<% content_for :javascripts do %>
  <%= external_javascript_include_tag "prototype", "1.7.1.0" %>
<% end %>

<div id="userTable" >
<h2>Create New User</h2>
<%= form_tag(controller: "admin", action: "createUser") do |f| %>

    <%= f.fields_for :user do |ff| %>
	<table>
		<tr><td>First name: </td><td><%= f.text_field :first_name %></td></tr>
		<tr><td>Last name: </td><td><%= f.text_field :last_name %></td></tr>
		<tr><td>Email: </td><td><%= f.text_fielf :email %></td></tr>
	<% end %>

	<%= f.fields_for :cud do |ff| %>
	<table>
	  <tr><td>Nickname:</td><td><%=h f.text_field :nickname %></td>
	  <td class="smallText">Anonymizing nickname to display on the public scoreboards</td> </tr>

	  <tr><td>Email</td><td><%=h f.text_field :email %></td>
	  <td class="smallText">Email address to use for bulk emails from the instructors.</td></tr>

	  <tr><td>School</td><td><%=h f.text_field :school %></td>
	  <td class="smallText">Ex: SCS/CIT</td></tr>

	  <tr><td>Major</td><td><%=h f.text_field :major %></td>
	  <td class="smallText">Ex: CS/ECE</td></tr>

	  <tr><td>Year</td><td><%=h f.text_field :year %></td>
	  <td class="smallText">Ex: 3</td></tr>

	  <tr><td>Lecture</td><td><%=h f.text_field :lecture %></td>
	  <td class="smallText">Ex: 15213/18213</td></tr>

	  <tr><td>Recitation</td><td><%=h f.text_field :section %></td>
	  <td class="smallText">Ex: C</td></tr>

	  <tr><td>Instructor?</td><td><%=h f.check_box :instructor %></td>
	  <td class="smallText">Instructors have full read/write access to the course. </td></tr>

	  <tr><td>Course assistant?</td><td><%=h f.check_box :course_assistant %></td>
	  <td class="smallText">Course assistants can assign scores to problems and nothing else.</td></tr>

	  <tr><td>Course</td><td><%=h @course.display_name %></td></tr>
    <tr><td colspan=2><%= f.submit 'Create' , {:class=>"waves-effect waves-light btn primary"} %></td></tr>
	</table>
	<% end %>
<%end %>
</div>
