<% @title = "Edit Course" %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "initialize_datetimepickers" %>
  <script>
      $(function() {
          $("#installSelected").click(function(e) {
              const msg = "Are you sure you want to import all assessments?";
              if (!window.confirm(msg))
                  return false;

              const $btn = $(e.target);
              $btn.text("Importing...");
              $btn.addClass("disabled");

              Promise.all(
                  $(".import").map((i, e) => $.post(e.href))
              )
                  .then(() => {
                      alert("Finished import of all assessments.\nIf any assessments remain, errors occurred while importing them.");
                      location.reload();
                  });
          });
      });
  </script>
<% end %>

<div class="row">
  <div class="col s12">
    <h4>Edit Course</h4>
    <%= form_for @course, as: :editCourse, url: course_path(@course), method: :patch, builder: FormBuilderWithDateTimeInput,
                          html: { multipart: true } do |f| %>
      <% if @course.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@course.errors.count, "error") %>
            prohibited this course from being saved:</h2>

          <ul>
            <% @course.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= render partial: "courseFields", locals: { f: f, course: @course } %>
      <% unless @unused_config_files.nil? %>
        <div class="section">
          <h4>Import Assessments</h4>
          <% if @unused_config_files.empty? %>
            <li>
              <em>
                There are no assessments available for importing.
              </em>
            </li>
          <% else %>
            <%= render partial: "assessmentTable" %>
          <% end %>
        </div>
      <% end %>
      <%= f.submit 'Save', { class: "btn primary" } %>
      <% if current_user.administrator? %>
        <%= link_to "Delete Course", course_path(@course), method: :delete,
                                                           data: { confirm: "Are you sure to destroy #{@course.full_name}?" }, class: "btn" %>
      <% end %>
    <% end %>
  </div>
</div>
