<h2>Courses</h2>

<% @listing.each do |category, list| %>
  <% if list.size > 0 %>
    <div class="section">
    <h3 class="section-title"><span class="white"><%= category.capitalize %></span></h3>

    <div class="row">
      <% list.each do |course| %>
        <% course_cud = CourseUserDatum.find_cud_for_course(course, current_user.id) %>
        <% not_student = course_cud.course_assistant? || course_cud.instructor? %>
        <% main_color = not_student ? "deep-orange" : "red" %>

        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-content <%= main_color %> darken-4">
              <%= link_to course.full_name, course_path(course), class: "card-title white-text", title: "Go to course page" %>
            </div>

            <% if category != :completed %>
              <div class="collection <%= main_color %> darken-4" style="border-bottom: 0">
                <% course.current_assessments.ordered.each do |asmt| %>
                  <%= link_to asmt.display_name, course_assessment_path(course, asmt), class: "collection-item grey-text text-darken-4" %>
                <% end %>
              </div>
            <% end %>

            <div class="card-action">
              <%= link_to 'Course Page', course_path(course), class: "#{main_color}-text text-darken-4", title: "Go to course page" %>
              
              <% if course_cud %>
                <% if not_student && !course_cud.section.blank? %>
                  <%= link_to "Grade Section", [:view, course, course_cud, :gradebook, section: course_cud.section], title: "Grade your section", class: "#{main_color}-text text-darken-4" %>
                <% elsif !not_student %>
                  <%= link_to "Gradebook", [course, course_cud, :gradebook], title: "View your gradebook", class: "#{main_color}-text text-darken-4" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

      <% end %>
    </div>

    </div> <!-- section -->
  <% end %>
<% end %>

<%= render partial: "home/topannounce" rescue nil %>
