<h2>Courses</h2>

<% @listing.each do |category, list| %>
  <% if list.size > 0 %>
    <div class="section">
    <h3 class="section-title"><span class="white"><%= category.capitalize %></span></h3>

    <div class="row">
      <% list.each_with_index do |course, idx| %>
        <% if idx % 3 == 0 %>
          <div class="clearfix hide-on-small-only"></div>
        <% end %>
        <% course_cud = CourseUserDatum.find_cud_for_course(course, current_user.id) %>
        <% not_student = course_cud.has_auth_level? :course_assistant %>

        <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-content blue darken-3">
              <div class="row">
                <div class="col <%= not_student ? 's9' : 's12' %>"><h4><%= link_to course.full_name, course_path(course), class: "card-title white-text", title: "Go to course page" %></h4></div>
                <% if not_student %> <div class="col s3"><span class="new badge padded-badge" data-badge-caption="Instructor"></span></div> <% end %>
              </div>
            </div>

            <% if category != :completed %>
              <div class="collection blue darken-3">
                <% course.current_assessments.ordered.each do |asmt| %>
                  <%= link_to asmt.display_name, course_assessment_path(course, asmt), class: "collection-item grey-text text-darken-4" %>
                <% end %>
              </div>
            <% end %>

            <div class="card-action">
              <%= link_to 'Course Page', course_path(course), class: "blue-text text-darken-3", title: "Go to course page" %>
              
              <% if course_cud %>
                <% if not_student && !course_cud.section.blank? %>
                  <%= link_to "Grade Section", [:view, course, course_cud, :gradebook, section: course_cud.section], title: "Grade your section", class: "blue-text text-darken-3" %>
                <% elsif !not_student %>
                  <%= link_to "Gradebook", [course, course_cud, :gradebook], title: "View your gradebook", class: "blue-text text-darken-3" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

      <% end %>
    </div>

    </div> <!-- section -->
  <% end %>
<% end %>

<%= render partial: "home/topannounce" rescue nil %>
