<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "assessment_date" %>
<% end %>

<h2>Courses</h2>

<% @listing.each do |category, list| %>
  <% if list.size > 0 %>
    <div class="section">
    <h3 class="section-title"><span class="white"><%= category.capitalize %></span></h3>

    <div class="row">
      <% list.each_with_index do |course, idx| %>
        <% if idx % 3 == 0 %>
          <div class="clearfix hide-on-small-only"></div>
        <% end %>
        <% course_cud = CourseUserDatum.find_cud_for_course(course, current_user.id) %>
        <% not_student = course_cud.has_auth_level? :course_assistant %>

        <div class="col s12 m4">
          <div class="card hoverable">
            <%= link_to course_path(course), title: "Go to Course Page" do %>
              <div class="card-content red darken-4">
                <div class="row">
                  <div class="col <%= not_student ? 's9' : 's12' %>"><h4><span class="card-title white-text"><%= course.full_name %></span></h4></div>
                  <% if course_cud.instructor? %> <div class="col s3"><span class="new badge padded-badge" data-badge-caption="Instructor"></span></div> <% end %>
                  <% if course_cud.CA_only? %> <div class="col s3"><span class="new badge padded-badge" data-badge-caption="Course&nbsp;Assistant"></span></div> <% end %>
                </div>
              </div>
            <% end %>

            <% if category != :completed %>
              <div class="collection red darken-3 date">
                <% course.current_assessments.ordered.each do |asmt| %>
                  <%= link_to course_assessment_path(course, asmt), class: "collection-item grey-text text-darken-4 date" do %>
                  <%= asmt.display_name %>
                  <%= render partial: 'assessments/assessment_date', locals: { assessment: asmt, hover: '' } %>
                  <% end %>
                <% end %>
              </div>
            <% end %>

            <div class="card-action">
              <%= link_to 'Course Page', course_path(course), class: "red-text text-darken-3", title: "Go to course page" %>

              <% if course_cud %>
                <% if !course_cud.instructor? && course_cud.course_assistant? && !course_cud.section.blank? %>
                  <hr>
                  <%= link_to "Grade Section", [:view, course, course_cud, :gradebook, { section: course_cud.section }], title: "Grade your section", class: "red-text text-darken-3", style: "white-space: nowrap" %>
                <% elsif course_cud.instructor? || course_cud.student? %>
                  <%= link_to "Gradebook", [course, course_cud, :gradebook], title: "View your gradebook", class: "red-text text-darken-3" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

      <% end %>
    </div>

    </div> <!-- section -->
  <% end %>
<% end %>

<%= begin
      render partial: "home/topannounce"
    rescue StandardError
      nil
    end %>
