<h1>Courses</h1>

<% @listing.each do |category, list| %>
  <% if list.size > 0 %>
    <h2><%= category.capitalize %></h2>

    <div class="rolodex">
      <% list.each do |course| %>
        <div class="card course">
          <h1><%= link_to course.full_name, course_path(course) %></h1>

          <div class="content">
            <ul>
              <% course.current_assessments.ordered.each do |asmt| %>
                <li>
                  <%= link_to asmt.display_name, course_assessment_path(course, asmt) %>
                  <span class="pull-right shortcuts">
                    <a href="<%= course_assessment_path(course, asmt) %>"><%= image_tag "go-new.png", :height => 22, :alt=>"Go to assessment" %></a>
                  </span>
                </li>
              <% end %>
            </ul>
            <% if course.current_assessments.length == 0 %>
              <div><i>No current assessments</i></div>
            <% end %>
            <%= link_to 'Go to Course Page', course_path(course), :class=>'btn main' %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<% if @mysite == "autolab.cs.cmu.edu" %>
<h1>Older Courses</h1>

<p>Courses on Autolab prior to Spring 2015 are viewable at oldautolab.cs.cmu.edu.</p>

<%= link_to 'Old Autolab Courses', 'https://oldautolab.cs.cmu.edu', class: 'btn main' %>
<% end %>

<% if ["autolab.andrew.cmu.edu", "autolab-dev.andrew.cmu.edu"].include?(@mysite)  %>
<h1>Other Courses</h1>
<div class="container">
<div class="col-md-6">
<% if Time.now().year == 2015 %>
<p>Most Autolab courses for Fall 2015 are hosted at autolab.cs.cmu.edu, not autolab.andrew.cmu.edu. Come back next spring for more content here!</p>
<% else %>
<p>Courses on Autolab for Spring and Fall 2015 are viewable at autolab.cs.cmu.edu.</p>
<% end %>
<%= link_to 'CS Autolab', 'https://autolab.cs.cmu.edu', class: 'btn main' %>
</div>
<div class="col-md-6">
<p>Courses on Autolab prior to Spring 2015 are viewable at oldautolab.cs.cmu.edu.</p>

<%= link_to 'Old CS Autolab', 'https://oldautolab.cs.cmu.edu', class: 'btn main' %>
</div>
</div>
<% end %>
