<% @title = "Course Admin" %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "student_gradebook" %>
<% end %>
<% content_for :javascripts do %>
  <script>
    function toggleAria(id) {
        var expanded = document.getElementById(id).getAttribute("aria-expanded");
        if (expanded == "true") {
            expanded = "false"
        } else {
            expanded = "true"
        }
        document.getElementById(id).setAttribute("aria-expanded", expanded);
    }
    $(document).ready(function() {
      $('.collapsible').collapsible();
    })
  </script>
<% end %>
<div class="row">
  <div class="col s12 m12">
    <h2>Manage Course</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col s12 m4">
    <ul class="collapsible" data-collapsible="accordion">
      <li class="collapsible-menu-link active" id="admin-course" aria-role="button" aria-expanded="true" onclick="toggleAria('admin-course')" onkeydown="toggleAria('admin-course')">
        <div class="collapsible-header active"><h5>Admin Course</h5></div>
        <div class="collapsible-body">
          <ul class="options">
            <li>
              <%= link_to "Course settings", edit_course_path(@course),
                          { title: "Modify the properties for this course" } %>
            </li>
            <li>
              <%= link_to "Manage course users", users_course_path(@course),
                          { title: "Create, modify, and delete user accounts" } %>
            </li>
            <li>
              <%= link_to "Install assessment", install_assessment_course_assessments_path(@course),
                          { title: "Create an assessment from scratch or install one from an existing directory" } %>
            </li>
            <li>
              <%= link_to "Send bulk email", email_course_path(@course),
                          { title: "Send an email to everyone in the class" } %>
            </li>
            <li>
              <%= link_to "Manage course attachments", course_attachments_path(@course),
                          { title: "Distribute files to your students" } %>
            </li>
            <li>
              <%= link_to "Manage announcements", course_announcements_path(@course),
                          { title: "Manage announcements via banners on either front page or all pages (persistent)." } %>
            </li>

            <li>
              <%= link_to "Manage schedulers", course_schedulers_path(@course),
                          { title: "Set and update scheduler for log submissions. (Advanced feature)" } %>
            </li>
            <li>
              <%= link_to "Act as user", sudo_course_course_user_datum_path(@course, @cud),
                          { title: "Temporarily become another user" } %>
            </li>
            <li>
              <%= link_to "Run Moss cheat checker", moss_course_path(@course),
                          { title: "Use the Stanford Moss server to detect copying" } %>
            </li>

            <li class="collection-item red-text danger-bottom no-hover"><h4>Danger Zone</h4></li>
            <li class="danger-side">
              <%= link_to "Release all grades",
                          bulk_release_course_course_user_datum_gradebook_path(@course, @cud),
                          { title: "Release all grades for all assessments",
                            data: { confirm: "Are you sure you want to release all grades?", method: "post" } } %>
            </li>
            <li class="danger-side danger-bottom"><%= link_to "Reload course config file",
                                                              reload_course_path(@course),
                                                              { title: "Reload each time you modify the course.rb file",
                                                                data: { confirm: "Are you sure you want to reload the course config file?", method: "post" } } %>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <% if @cud.user.administrator? then %>
    <ul class="collapsible" data-collapsible="accordion" id="admin-autolab" aria-role="button" aria-expanded="false" onclick="toggleAria('admin-autolab')" onkeydown="toggleAria('admin-autolab')">
      <li class="collapsible-menu-link">
        <div class="collapsible-header"><h5>Admin Autolab</h5></div>
        <div class="collapsible-body">
          <ul class="options">
            <li><%= link_to 'Create new course', new_course_path,
                            { title: "Create a new course" } %></li>
            <li><%= link_to raw('<span class="button">Manage users</span>'),
                            users_path %></li>
          </ul>
        </div>
      </li>
    </ul>
    <% end %>
  </div>
  <!-- course / assessment statistics -->
  <div class="col s12 m8">
    <div class="category">
      <table class="stats-table">
        <colgroup>
          <col class="asmt_names">
          <col class="gdu">
          <col class="gdu">
          <col class="gdu">
          <col class="gdu">
          <col class="gdu">
        </colgroup>
        <thead>
        <tr class="header">
          <th>Category Averages</th>
          <th>Mean</th>
          <th>Median</th>
          <th>Std. Dev.</th>
          <th>Min</th>
          <th>Max</th>
        </tr>
        </thead>
        <tbody>
        <%
           # filter only for category / course average
           @course_stats.filter{ |_, statsValue| statsValue[0] == "avg" }
                        .each do |name, statsValue|
        %>
          <% stats = statsValue[2] %>
          <tr>
            <td>
              <%= name %>
            </td>
            <td><%= stats[:mean] %></td>
            <td><%= stats[:median] %></td>
            <td><%= stats[:stddev] %></td>
            <td><%= stats[:min] %></td>
            <td><%= stats[:max] %></td>
          </tr>
        <% end %>
        </tbody>
        <tbody>
        <%
          # filter for only assessments, group into hashes based on category
          @course_stats.filter{ |_, statsValue| statsValue[0] == "asmt" }
                       .group_by{ |_, statsValue| statsValue[1].category_name }
                       .each do |category_name, category_asmts|
        %>
          <thead>
          <tr class="header">
            <th><%= category_name %> Averages</th>
            <th>Mean</th>
            <th>Median</th>
            <th>Std. Dev.</th>
            <th>Min</th>
            <th>Max</th>
          </tr>
          </thead>
        <% category_asmts.each do |name, statsValue| %>
          <% asmt = statsValue[1] %>
          <% stats = statsValue[2] %>
          <tr>
            <td>
                <%= link_to asmt.display_name, course_assessment_path(@course, asmt) %>
            </td>
            <td><%= stats[:mean] %></td>
            <td><%= stats[:median] %></td>
            <td><%= stats[:stddev] %></td>
            <td><%= stats[:min] %></td>
            <td><%= stats[:max] %></td>
          </tr>
        <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
