<% @title = "Moss Cheat Checker" %>

<% content_for :javascripts do %>
  <script type="text/javascript">
    /**
     * toggles the "style.display" of the element with the given id.
     **/
    function toggleOptions(id) {
      var show = document.getElementById(id);
      show.style.display = (show.style.display == "none")? "block" : "none";
    }

    function filterCourses(name) {
      $(".filterableCourse").each( function() {
        var course = this;
        var keywords = name.split(" ");
        var toShow = true;
        for (var i=0; i<keywords.length; i++) {
          if (course.id.toLowerCase().indexOf(keywords[i]) == -1)
            toShow = false;
        }
        $(this).toggle(toShow);
      });
    }
  
  </script>
<% end %>

<h2>Run the Moss Cheat Checker</h2>

<h4>Step 1:</h4>
<p>Click on course names to see their assessments, then check box all of the assessments you want Moss to compare against.</p>

<h5 style="display:inline">Filter Courses (Keywords Separated by Space): </h5>
<div class="input-field">
	<input placeholder="Course Name" type="text" onkeyup="filterCourses(this.value.toLowerCase())" style="margin-bottom: 10px;">
</div>
<%= form_tag([:runMoss, @course], multipart: true) do %>
  <ul class="moss-list">
  <% for course in @courses %>
    <li class="filterableCourse" id="<%= course.display_name %>">
      <h5 onclick="toggleOptions('<%= course.id %>Assessments')"> 
        <%= course.full_name %>
      </h5>
      <ul id="<%= course.id %>Assessments" class="moss-inner-list" style="display:none" >
      <% for a in course.assessments do %>
        <li>
          <%= check_box_tag "assessments[#{a.id}]","1",false, :class => "filled-in" %> 
          <label for="assessments_<%= a.id %>"> <%= a.display_name %> </label>
          <br>
          <div id='<%= a.id %>OptionsDiv' style="padding-left:10px;" >
	        <!-- <b>Is Archive:</b> -->
			<%= check_box_tag "isArchive[#{a.id}]", :class => "filled-in" %>
			<label for="isArchive_<%= a.id %>">Is Archive: </label></br>
            <i>Check this if the submissions will need to be extracted. (The handin filename was: <%= a.handin_filename %>)</i>
            <br>
            <b>Files to send to Moss:</b>
						<%= text_field_tag "files[#{a.id}]", "*" %>
            <i>This can be file names (foo.c) or patterns(*.c)</i>
            <br>
          </div>
        </li>
      <% end %>
      </ul>
    </span>
  <% end %>
  </ul>

  <br>

	<h4>Step 2:</h4>
	<p>(Optional) Add flags that will be run with moss.</p>
  <ul class="moss-list">
    <li class="filterableCourse" id="Moss Flags">
    <h5 onclick="toggleOptions('flags')"> 
	  	Moss Flags
	  </h5>
      <ul id="flags" class="moss-inner-list" style="display:none" >
        <li>
					<%= check_box_tag "box_language","1",false, :class => "filled-in" %> 
					<label for="box_language"> Language </label>
					<br>
					<div id='<%= a.id %>OptionsDiv' style="margin-right: 10px;" >
						<div class="input-field">
							<%= select_tag :language_selection, options_for_select([
								["C", "c"], 
								["C++", "cc"],
								["Java", "java"],
								["C#", "csharp"],
								["Python", "python"],
								["Visual Basic", "vb"],
								["Javascript", "javascript"],
								["FORTRAN", "fortran"],
								["ML", "ml"],
								["Haskell", "haskell"],
								["Lisp", "lisp"],
								["Scheme", "scheme"],
								["Pascal", "pascal"],
								["Modula2", "modula2"],
								["Ada", "ada"],
								["Perl", "perl"],
								["Matlab", "matlab"],
								["VHDL", "vhdl"],
								["Verilog", "verilog"],
								["Spice", "spice"],
								["MIPS Assembly", "mips"],
								["a8086 Assembly", "a8086"],
								["ASCII", "ascii"]
							]) %>
							<label>Language Options</label>
						</div>
					</div>
				</li>
				<li>
					<%= check_box_tag "box_max","1",false, :class => "filled-in" %> 
					<label for="box_max">Max Lines </label>
					<br>
					<div id='<%= a.id %>OptionsDiv' style="padding-left:10px;" >
						<%= text_field_tag "max_lines", "", placeholder: "If you don't know what this is please read the Moss documentation before altering this value." %>
					</div>
				</li>
				<li>
					<%= check_box_tag "box_basefile", "1",false, :class => "filled-in" %> 
					<label for="box_basefile">Base File Tar</label>
					<br>
					<div id='<%= a.id %>OptionsDiv' style="padding-left:10px;" >
						<div class="file-field input-field">
						  <div class="btn">
					      <span>Base File</span>
						    <%= file_field_tag 'base_tar' %>
					    </div>
					    <div class="file-path-wrapper">
					      <input class="file-path validate" type="text" placeholder="Additional files archive">
					    </div>
						</div>
						<br>
						<i>This if used must be an non-nested TAR. Contents of which will not be run against the assignments. Perfect for example code, or stubbed out functions that were given out.</i>
					</div>
				</li>
			</ul>
    </span>
  </ul>

  <br>

	<h4>Step 3:</h4>
	<p> (Optional) Upload an archive containing additional files you'd like Moss to compare against.</p>
  <p>(Note: the archive must contain only regular files.  Nested archives wil not be extracted.)</p>
   
  <div class="file-field input-field">
    <div class="btn">
      <span>Archive</span>
      <%= file_field_tag 'external_tar' %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text" placeholder="Additional files archive">
    </div>
  </div> 
  <br>

	<h4>Step 4:</h4>
	<p> Click "Go!" once to run Moss. This may take up to a minute, so be patient...</p>

  <p><%= submit_tag "Go!", data: { disable_with: "Please wait..." }, class: "btn primary" %></p>
<% end %>
