<h2>Create New Course</h2>

<%= form_for :newCourse, url: courses_path do |f| %>

  <%= f.error_messages %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :semester %>
    <%= f.text_field :semester, size: 3 %>
  </div>

	<div class="field">
		<%= label_tag(:instructor_email, 'Instructor email' )%>
		<%= text_field_tag(:instructor_email) %>
		<td class=smallText>AndrewID of an Instructor, they will setup the course from here!</td>
	</div>

  <%= f.submit "Create" , {:class=>"btn primary"} %>
<% end %>

