<h2>Moss Result:
  <% if @mossExit == 0 then %>
    <% begin %>
      <% message = @mossOutput.split("\n")[-1] %>
      <% # Check whether the job is successful. %>
      <% result = URI.parse(message).to_s %>
      <a href=<%= result %>><%= result %></a>
    <% rescue URI::InvalidURIError %>
      <%= message %>
    <% end %>
  <% else %>
    Failed!
  <% end %>
</h2>
<% if @failures.length > 0 then %>
  <h3>The Following Files could not be extracted:</h3>
  <ol>
    <% @failures.each do |f| %>
      <li><%= f %></li>
    <% end %>
  </ol>
<% end %>
<pre><%= @mossCmdString %></pre>
<pre><%= @mossOutput %></pre>
