<% @title = "Import Course Roster" %>

<% if @roster_error %>
<div class="error" id="flash_error">
  <%= render partial: 'courses/uploadError',
             locals: { roster_errors: @roster_error } %>
</div>
<% end %>
<h4>Import Course Roster</h4>
<% if params[:upload] && !@roster_error %>
  <%= render partial: 'updateRosterPreview', locals: { cuds: @cuds, sorted_cuds: @sorted_cuds } %>
<% else %>
  <p>
  This page will take a CSV file from the HUB and modify your course's users based
  on it.  You can either upload a partial roster and add/modify all users, or
  upload a complete roster and drop students that have dropped the course.  <br>
  <br>
  The file should be in the following formats: <br><br>
  <i>General Autolab Format</i>
  <pre>Semester,email,last_name,first_name,school,major,year,grading_policy,courseNumber,courseLecture,section</pre>
  <i>CMU Roster Format</i>
  <pre>"Semester","Course","Section","Lecture","Mini","Last Name","Preferred/First Name","MI","AndrewID","Email","College","Department",...</pre>

  <p>
    The CMU Roster file should include a header.  Editing accounts will occur as a
    <a href="https://en.wikipedia.org/wiki/Database_transaction#Transactional_databases">transaction</a>,
    if there is an error we will cancel all changes and allow you to correct the error and re-submit.
  </p>

  <%= form_for :upload, url: upload_roster_course_path(@course),
                        builder: FormBuilderWithDateTimeInput, html: { multipart: true } do |f| %>
    <%= f.file_field :file %>
    <p></p>
    <label for="upload_dropMissing">
        <%= f.check_box :dropMissing, class: "filled-in-box", display_name: "Drop Missing Students" %>
        <span>Mark students not included in this roster as 'Dropped'?</span> <br>
        <font class="smallText">Dropped students can view grades but cannot submit
          assignments or download new assignments</font>
    </label>
    <p></p>
    <%= f.submit 'Upload!', { class: "btn primary" } %>
  <% end %>

<% end %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "sort-toggle" %>
<% end %>
