<h2>Import Course Roster</h2>
<% if params[:upload] then %>
  Existing accounts in <b>Black</b>.  New accounts in <b><font
  color=green>Green</font></b>.  Dropped accounts in <b><font
  color=red>Red</font></b>. Instructors are not shown. <br>
  <%= form_for :doIt, :url=>{:action=>"uploadRoster",:doIt=>"true"} do |f| %>
  <table class='prettyBorder sortable' >
    <thead>
    <tr>
      <th>email</th><th>first_name</th><th>last_name</th>
      <th>lecture</th><th>section</th><th>school</th><th>major</th><th>year</th>
      <th>grading_policy</th>
    </tr>
    </thead>
    <% rowNum = 0 %>
    <% for cud in @cuds do %>
      <tr style="color:<%= cud[:color] %>" >
        <input type="hidden" name="cuds[<%= rowNum %>][color]"
          value="<%= cud[:color] %>" />
        <td><%= cud[:email] %>
          <input type="hidden" name="cuds[<%=rowNum %>][email]"
            value="<%= cud[:email]%>" />
        </td>
        <td><%= cud[:first_name] %>
          <input type="hidden" name="cuds[<%=rowNum%>][first_name]"
            value="<%= cud[:first_name] %>" />
        </td>
        <td><%= cud[:last_name] %>
          <input type="hidden" name="cuds[<%=rowNum%>][last_name]"
            value="<%= cud[:last_name] %>" />
        </td>
        <td><%= cud[:lecture] %>
          <input type="hidden" name="cuds[<%=rowNum%>][lecture]"
            value="<%= cud[:lecture] %>" />
        </td>
        <td><%= cud[:section] %>
          <input type="hidden" name="cuds[<%=rowNum%>][section]"
            value="<%= cud[:section] %>" />
        </td>
        <td><%= cud[:school] %>
          <input type="hidden" name="cuds[<%=rowNum%>][school]"
            value="<%= cud[:school] %>" />
        </td>
        <td><%= cud[:major] %>
          <input type="hidden" name="cuds[<%=rowNum%>][major]"
            value="<%= cud[:major] %>" />
        </td>
        <td><%= cud[:year] %>
          <input type="hidden" name="cuds[<%=rowNum%>][year]"
            value="<%= cud[:year] %>" />
        </td>
        <td><%= cud[:grade_policy] %>
          <input type="hidden" name="cuds[<%=rowNum%>][grade_policy]"
            value="<%= cud[:grade_policy] %>" />
        </td>
      </tr>
      <% rowNum += 1 %>
    <% end %>
  </table>
  <br>
  <%= f.submit "Confirm", {:class => "waves-effect waves-light btn primary"} %>
	<% end %>
<% else %>
<p>
This page will take a CSV file from the HUB and modify your course's users based
on it.  You can either upload a partial roster and add/modify all users, or
upload a complete roster and drop students that have dropped the course.  <br>
<br>
The file should be in the following formats: <br><br>
<i>General Autolab Format</i>
<pre>Semester,email,last_name,first_name,school,major,year,grading_policy,courseNumber,courseLecture,section</pre>
<i>CMU Roster Format</i>
<pre>"Semester","Course","Section","Lecture","Mini","Last Name","Preferred/First Name","MI","AndrewID","Email","College","Department",...</pre>

<p>
The CMU Roster file should include a header.  Editing accounts will occur as a <a href="http://en.wikipedia.org/wiki/Database_transaction#Transactional_databases">transaction</a>, if there is an error we will cancel all changes and allow you to correct the error and re-submit. </p>
<%= form_for :upload, :url=>{:action=>"uploadRoster"}, :html=>{:multipart=>true} do |f| %>
<%= f.file_field :file %><br>
<%= f.check_box :dropMissing, class: "filled-in-box" %> 
<label for="upload_dropMissing">Mark students not included in this roster as 'Dropped'?</label></br>
<font class="smallText">Dropped students can view grades but cannot submit
assignments or download new assignments</font>
<p></p>
<%= f.submit 'Upload!' , {:class=>"btn primary"} %>
<% end %>

<% end %>
