<% @title = "Manage Course Users" %>

<% content_for :javascripts do %>
  <%= javascript_include_tag "sorttable" %>
  <%= javascript_include_tag "course_users" %>
<% end %>

<%= stylesheet_link_tag "users" %>

<h3>Manage Course Users</h3>

<hr>

<% lcd = @course.lti_course_datum %>
<div>
  <span>
    <%= link_to raw('<span class="btn">Add User to Course</span>'), new_course_course_user_datum_path(@course) %>
    <!-- Add User Dropdown Trigger -->
    <a id="add-users" class='dropdown-trigger btn' href='#' data-target='add-users-dropdown'>ADD USERS FROM EMAILS</a>
    <%= link_to raw('<span class="btn">Import Roster/Users</span>'), upload_roster_course_path(@course) %>
    <%= link_to raw('<span class="btn">Export Roster</span>'), download_roster_course_path(@course) %>
    <% unless lcd.nil? %> <a class="waves-effect waves-light btn modal-trigger" href="#lti-settings-modal">Linked Course Settings</a> <% end %>
  </span>
</div>

<!-- LTI Settings Modal Structure -->
<% unless lcd.nil? %>
  <div id="lti-settings-modal" class="modal">
    <%= form_for lcd, as: :lcd, url: update_lti_settings_course_path do |f| %>
      <div class="modal-content">
        <h4>Linked Course Settings</h4>
        <hr>
        <label>
          <%= f.check_box :drop_missing_students %>
          <span>
            <p>Auto drop students not enrolled in linked course
              <i class="material-icons tooltips tooltipped" data-position="top"
                 data-tooltip="When enabled, students not on the <%= lcd.platform %> roster will be marked as dropped.">
                info_outline
              </i>
            </p>
          </span>
        </label>
      </div>
      <div class="modal-footer">
        <span style="float: left;">
          <%= f.submit "Save", { class: "btn-flat" } %>
          <a href="#!" class="modal-close btn-flat">Cancel</a>
        </span>
        <%= link_to raw('<span class="btn-flat">Unlink Course</span>'),
                    unlink_course_course_path(@course),
                    data: { confirm: "Are you sure you want to unlink the course?" },
                    method: :post %>
      </div>
    <% end %>
  </div>
<% end %>

<!-- Add Users Dropdown Structure -->
<ul id='add-users-dropdown' class='dropdown-content'>
  <div>
    <form style="padding:10px; width:30rem; max-height:30rem;" action="add_users_from_emails" method="post">
      <div class="row" style="display:flex; flex-direction:column; margin-bottom:0px;">
        <!-- Error Box -->
        <div id="error-box" class="red lighten-4" style="display:none;">
          <span id="error-box-text" class="red-text text-darken-2"></span>
        </div>
        <div style="height:11rem; padding-bottom:1rem;">
          <div id="emailfield" style="flex-grow:1; display:flex; flex-direction:column;">
            <b for="textarea1">User Emails (One Entry* Per Line)</b>
            <span> *E.g. <i>dave@autolab.com</i> or <i>Greg K &lt;greg@autolab.com&gt;</i> </span>
            <textarea id="textarea1" style="height:8rem;"
                      name="user_emails"></textarea>
          </div>
        </div>
        <div class="input-field" style="flex-grow:1;margin:0;padding:0;">
          <select class="browser-default" name="role">
            <option value="" disabled selected>Assigned Role</option>
            <option value="instructor">Instructor</option>
            <option value="ca">Course Assistant</option>
            <option value="student">Student</option>
          </select>
        </div>
        <input id="add-users-submit" class="btn" type="submit" value="Submit">
      </div>
      <input type="hidden" name="authenticity_token">
    </form>
  </div>
</ul>

<hr>
Search: <%= text_field_tag 'search', nil, onkeyup: 'filterRows(this.value)', autocomplete: "off" %>
<br>

<div id='ajaxTable'>
<%= render partial: 'usersTable' %>
</div>
