<% content_for :javascripts do %>
  <%= javascript_include_tag "sorttable" %>
  <!--
    TODO: Fix table floating headers (absolute positioning)
    NOTE: I think this problem can be solved almost entirely with CSS, with
          minimal JS (to apply a CSS class once the element hits the top of the
          screen). The current "solution" is overkill. -JZ
  <%= javascript_include_tag "table_floating_header" %>
  -->
  <%= javascript_include_tag "course_users" %>
<% end %>

<h3>Manage Course Users</h3>

<hr>
<p>
  <%= link_to raw('<span class="btn">Add User to Course</span>'), [:new, @course, :course_user_datum] %>
  <!-- Add User Dropdown Trigger -->
  <a id="add-users" class='dropdown-trigger btn' href='#' data-target='add-users-dropdown'>ADD USERS FROM EMAILS</a>
  <%= link_to raw('<span class="btn">Import Roster/Users</span>'), {:action=>"upload_roster"} %>
  <%= link_to raw('<span class="btn">Export Roster</span>'), {:action=>"download_roster"} %>
</p>

<!-- Add Users Dropdown Structure -->
<ul id='add-users-dropdown' class='dropdown-content'>
  <div>
    <form style="padding:10px; width:30rem; max-height:30rem;" action="add_users_from_emails" method="post">
      <div class="row" style="display:flex; flex-direction:column; margin-bottom:0px;">
        <!-- Error Box -->
        <div id="error-box" class="red lighten-4" style="display:none;">
          <span id="error-box-text" class="red-text text-darken-2"></span>
        </div>
        <div style="height:11rem; padding-bottom:1rem;">
          <div id="emailfield"  style="flex-grow:1; display:flex; flex-direction:column;">
            <b for="textarea1">User Emails (One Entry* Per Line)</b>
            <span> *E.g. <i>dave@autolab.com</i> or <i>Greg K &lt;greg@autolab.com&gt;</i> </span>
            <textarea id="textarea1" style="height:8rem;"
                      name="user_emails" ></textarea>
          </div>
        </div>
        <div class="input-field" style="flex-grow:1;margin:0;padding:0;" >
          <select class="browser-default" name="role">
            <option value="" disabled selected>Assigned Role</option>
            <option value="instructor">Instructor</option>
            <option value="ca">Course Assistant</option>
            <option value="student">Student</option>
          </select>
        </div> 
        <input id="add-users-submit" class="btn" type="submit" value="Submit">
      </div>
      <input type="hidden" name="authenticity_token">
    </form>
  </div>
</ul>

<hr>
Search: <%= text_field_tag 'search', nil, onkeyup:'filterRows(this.value)' %>
<br>

<div id='ajaxTable'>
<%= render :partial=>'usersTable' %>
</div>
