<% content_for :javascripts do %>
  <%= javascript_include_tag "sorttable" %>
  <!--
    TODO: Fix table floating headers (absolute positioning)
    NOTE: I think this problem can be solved almost entirely with CSS, with
          minimal JS (to apply a CSS class once the element hits the top of the
          screen). The current "solution" is overkill. -JZ
  <%= javascript_include_tag "table_floating_header" %>
  -->

  <script type="text/javascript">
    // Triggered on keyup in the search field
    function filterRows(name) {
      var rows = document.getElementsByClassName("user-row"),
          i = 0, L = rows.length, r;
      var newTotal = 0;

      // Filter rows, keep track of number remaining
      while (i < L) {
        r = rows[i++];
        if (r.innerHTML.toLowerCase().indexOf(name.toLowerCase()) != -1) {
          r.style.display = "table-row";
          newTotal++;
        }
        else
          r.style.display = "none";
      }

      // Update "Found ... users" heading
      if(newTotal > 0) {
        document.getElementById("results-count").innerHTML = newTotal;
      }
      else {
        document.getElementById("results-count").innerHTML = "no";
      }
    }
  </script>
<% end %>
<%= stylesheet_link_tag "users" %>

<h2>Manage Accounts</h2>

<hr>
<div class="btn-list">
<% lcd = @course.lti_course_datum %>
<span>
  <%= link_to raw('<span class="btn">Add User to Course</span>'), [:new, @course, :course_user_datum] %>
  <%= link_to raw('<span class="btn">Import Roster/Users</span>'), {:action=>"upload_roster"} %>
  <%= link_to raw('<span class="btn">Export Roster</span>'), {:action=>"download_roster"} %>
  <% unless lcd.nil? %><%= link_to raw('<span class="btn">Unlink Course</span>'), {:action=>"unlink_course"} %><% end %>
</span>
<% unless lcd.nil? %>
  <span class="inline-span">
    <p>Last synced: <%= time_ago_in_words(@course.lti_course_datum.last_synced, include_seconds: true) %> ago</p>
    <%= link_to raw("<i class=\"material-icons\">sync</i>"),
                course_path(@course),
                method: :put %>

  </span>
<% end %>
</div>

<hr>
Search: <%= text_field_tag 'search', nil, onkeyup:'filterRows(this.value)' %>
<br>

<div id='ajaxTable'>
<%= render :partial=>'usersTable' %>
</div>
