<% @title = "Docker Image Upload" %>

<div class="section">
  <h4>Upload Docker Image</h4>
  <%= form_with url: { action: :uploadDockerImage }, builder: FormBuilderWithDateTimeInput do |f| %>
    <p>
      <%= link_to "Click here", tango_status_course_jobs_path %> to view the list of VM pools currently being used.
    </p>
    <%= f.text_field :image_name,
                     pattern: "^[a-z0-9](_{0,2}[a-z0-9])*(/[a-z0-9](_{0,2}[a-z0-9])*)?$",
                     help_text: "Name of docker image. Any existing image with the same name will be overwritten." %>
    <%= f.file_field :image_file, button_text: "Choose Image" %>
    <%= f.submit "Upload Image" %>
  <% end %>
</div>
