<div class="main-header">

  <!-- Materialize Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script>
    // Not using Jquery to bind the listener since it's not loaded at this point
    document.addEventListener("DOMContentLoaded", function(event) {
      $('.button-collapse').sideNav();
    });
  </script>

  <%= stylesheet_link_tag 'navbar' %>

  <!-- Experimental Navbar Code -->
  <ul id="dropdown1" class="dropdown-content">
    <% unless current_user.nil? %>
      <li role="presentation">
        <%= link_to "Account", edit_user_path(current_user), :title => "View your account info" %>
      </li>
    <% end %>
    <% if @cud %>
      <li role="presentation">
        <%= link_to "Course Profile", [@course, @cud], :title => "View your user profile for the current course" %>
      </li>
    <% end %>
    <% if Rails.env.development? %>
      <li role="presentation">
        <a href='/home/developer_login'>Dev Login</a>
      </li>
    <% end %>
    <li role="presentation" class="divider"></li>
    <li role="presentation">
      <%= link_to "Log out", destroy_user_session_path, :method => :delete  %>
    </li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><a href="/" class="logo"><%= image_tag "AUTOLAB@2x.png", :width=> 180, :alt=>"Carnegie Mellon University" %></a></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <% if session[:sudo] && @cud then %>
          <li><%= link_to "(#{@cud.display_name}) Reset user", [:unsudo, @course, @cud] %></li>
        <% end %>

        <% if @cud %>
          <% if @cud.course_assistant? && !@cud.section.blank? %>
            <li><%= link_to "Section #{@cud.section} Gradebook", [:view, @course, @cud, :gradebook, section: @cud.section], title: "View your gradebook" %></li>
          <% end %>

          <% if @cud.instructor? || !(@cud.course_assistant? && !@cud.section.blank?) %>
            <li><%= link_to "<i class='material-icons left'>assessment</i> Gradebook".html_safe, [@course, @cud, :gradebook], title: "View your gradebook" %></li>
          <% end %>

          <li><%= link_to "<i class='material-icons left'>clear_all</i> Jobs".html_safe, [@course, :jobs], title: "View a history of autograding jobs" %></li>

          <% if @cud.instructor? %>
            <li><%= link_to "<i class='material-icons left'>settings</i> Manage Course".html_safe, [:manage, @course], title: "Perform course-wise administrative actions" %></li>
          <% end %>
        <% end %>

        <% if current_user && current_user.administrator? %>
          <li><%= link_to "<i class='material-icons left'>lock</i> Manage Autolab".html_safe, admin_path, title: "Perform system-wide administrative actions" %></li>
        <% end %>

        <% if user_signed_in? %>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1" data-beloworigin="true" data-hover="false"><%= current_user.display_name %><i class="material-icons right">arrow_drop_down</i></a></li>
        <% end %>
      </ul>

      <!-- Responsive Sidebar -->
      <ul class="side-nav" id="mobile-demo">
        <!-- User -->
        <div id="nav-user" class="blue lighten-5">
        <% if user_signed_in? %>
          <div class="dropdown-toggle" id="dropdownMenu1">
            <%= current_user.display_name %>
          </div>
        <% unless current_user.nil? %>
          <li role="presentation">
            <%= link_to "<i class='material-icons left'>account_circle</i> Account".html_safe, edit_user_path(current_user), :title => "View your account info" %>
          </li>
        <% end %>
        <% if @cud %>
          <li role="presentation">
            <%= link_to "<i class='material-icons left'>assignment_ind</i> Course Profile".html_safe, [@course, @cud], :title => "View your user profile for the current course" %>
          </li>
        <% end %>
        <% if Rails.env.development? %>
          <li role="presentation">
            <a href='/home/developer_login'>Dev Login</a>
          </li>
        <% end %>
        <li role="presentation">
          <%= link_to "<i class='material-icons left'>exit_to_app</i> Log out".html_safe, destroy_user_session_path, :method => :delete  %>
        </li>
        <li role="presentation" class="divider"></li>
        <% end %>
      </div>
        <!-- Usual Navbar Items -->
        <% if session[:sudo] && @cud then %>
          <li><%= link_to "(#{@cud.display_name}) Reset user", [:unsudo, @course, @cud] %></li>
        <% end %>

        <% if @cud %>
          <% if @cud.course_assistant? && !@cud.section.blank? %>
            <li><%= link_to "Section #{@cud.section} Gradebook", [:view, @course, @cud, :gradebook, section: @cud.section], title: "View your gradebook" %></li>
          <% end %>

          <% if @cud.instructor? || !(@cud.course_assistant? && !@cud.section.blank?) %>
            <li><%= link_to "<i class='material-icons left'>assessment</i> Gradebook".html_safe, [@course, @cud, :gradebook], title: "View your gradebook" %></li>
          <% end %>

          <li><%= link_to "<i class='material-icons left'>clear_all</i> Jobs".html_safe, [@course, :jobs], title: "View a history of autograding jobs" %></li>

          <% if @cud.instructor? %>
            <li><%= link_to "<i class='material-icons left'>settings</i> Manage Course".html_safe, [:manage, @course], title: "Perform course-wise administrative actions" %></li>
          <% end %>
        <% end %>

        <% if current_user && current_user.administrator? %>
          <li><%= link_to "<i class='material-icons left'>lock</i> Manage Autolab".html_safe, admin_path, title: "Perform system-wide administrative actions" %></li>
        <% end %>
      </ul>

    </div>

    <!-- Responsive Menu Code -->

  </nav>

</div>

<% unless @breadcrumbs.blank? then %>
  <div class="sub-navigation">
    <span class="left-nav">
      <span class="item">
        <a href="/"><i class="glyphicon glyphicon-home"></i></a>
      </span>
      <% @breadcrumbs.each do |b| %>
        <span class="item"><%= b %></span>
      <% end %>
      <% if @title then %>
        <span class="item"><span class="title"><%= @title %></span></span>
      <% end %>
    </span>
  </div>
<% end %>
