<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <%= csrf_meta_tag %>
    <%= favicon_link_tag 'favicon.ico?v=1' %>

    <%= stylesheet_link_tag 'application' %>
    <!-- Flatpickr Datepicker CSS (lightweight file) -->   
    <%= stylesheet_link_tag "https://unpkg.com/flatpickr/dist/flatpickr.min.css" %>
    <%= stylesheet_link_tag 'animate' %>
    <%= stylesheet_link_tag 'style' %>


    <% if Rails.configuration.x.analytics_id %>
      <script type="text/javascript">
        window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+t+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
        heap.load("<%= Rails.configuration.x.analytics_id %>");
      </script>
    <% end %>

    <%= content_for :head %>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
    <%= content_for :stylesheets %>
    <title><%= if @title then @title elsif @course then @course.display_name else "Autolab" end %></title>

  </head>

  <body class="autolab">
<<<<<<< HEAD
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=259908887444831";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <%= external_javascript_include_tag "jquery", "2.1.4" %>
    <%= content_for :js_widget_patch %>
    <!--<%= external_javascript_include_tag "bootstrap", "3.0.0" %>-->
    <%= javascript_include_tag 'application' %>

    <!-- Flatpickr Datetimepicker JS (lightweight file) -->
    <%= javascript_include_tag "https://unpkg.com/flatpickr" %>

=======
>>>>>>> parent of 8b02a39... New footer with github and fb links
    <div class="page-wrapper">
      <%= render "layouts/navbar" %>

      <!-- Page Body -->
      <div id="pageBody" class="container">

        <% if @cud && @cud.dropped? %>
          <h3 class="error">You seem to have dropped this course. Please email your instructor if this is incorrect.</h3>
        <% end %>

        <!-- Flashes -->
        <div id="flashes">
          <% flash.each do |name, msg| %>
          <%= content_tag :div, sanitize(msg), id: "flash_#{name}",
              class: "#{name}" %>
          <% end %>
        </div>
        <!-- End Flashes -->

        <!-- Persistent Announcements -->
        <%= render partial: "announcements/announcements_list",
                   locals: { announcements: @persistent_announcements } %>
        <!-- End Persistent Announcements -->

        <!-- Content -->
        <div id="content">
          <%= yield %>
        </div>
        <!-- End Content -->
        <div id="footer">
        <a href="http://autolabproject.com">Autolab Project</a>
        · <a href="/contact">Contact</a>
        <% if @course %>
        · <%= link_to "Need Help?", [:report_bug, @course] %>
        <% end %>
        </div>
        <!-- End Footer -->
      </div>
      <!-- End Page Body -->
      <!-- Footer -->
    </div>

<<<<<<< HEAD

    <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
=======
    <%= external_javascript_include_tag "jquery", "2.1.1" %>
    <%= content_for :js_widget_patch %>
    <%= external_javascript_include_tag "bootstrap", "3.0.0" %>
    <%= javascript_include_tag 'application' %>
>>>>>>> parent of 8b02a39... New footer with github and fb links
    <%= content_for :javascripts %>

  </body>
</html>
