<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <%= csrf_meta_tag %>
    <%= favicon_link_tag 'autolab.ico?v=3' %>

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'animate' %>
    <%= stylesheet_link_tag 'style' %>

    <% if Rails.configuration.x.analytics_id %>
      <script type="text/javascript">
        window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+t+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
        heap.load("<%= Rails.configuration.x.analytics_id %>");
      </script>
    <% end %>

    <%= content_for :head %>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
    <%= content_for :stylesheets %>
    <title>Autolab Home</title>

  </head>

  <body class="autolab">
    <div class="page-wrapper">
      <%= render "layouts/navbar" %>

      <!-- Page Body -->
      <div id="pageBody" class="container">

        <!-- Flashes -->
        <div id="flashes">
          <% flash.each do |name, msg| %>
          <%= content_tag :div, sanitize(msg), id: "flash_#{name}",
  					 	class: "#{name}" %>
          <% end %>
       </div>
        <!-- End Flashes -->

        <!-- Content -->
        <div id="content">
          <%= yield %>
        </div>
        <!-- End Content -->
      </div>
      <!-- End Page Body -->
    </div>
    <!-- Footer -->
    <div id="footer">
          <a href="http://autolabproject.com">Autolab Project</a>
          · <a href="/contact">Contact</a>
          · <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    </div>
    <!-- End Footer -->

    <%= external_javascript_include_tag "jquery", "2.1.1" %>
    <%= content_for :js_widget_patch %>
    <%= external_javascript_include_tag "bootstrap", "3.0.0" %>
    <%= javascript_include_tag 'application' %>
    <%= content_for :javascripts %>

  </body>
</html>
